/* Events Calendar contain */
.atg-events-calendar.compact .atg-events-calendar-wrap {
	margin: 25px 0 30px 0;
	border: 1px solid #dedade;
    box-shadow: 0 0 5px 2px rgba(145,145,145,.35);
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Calendar */
.atg-calendar-compact .calendar-table {
	margin-bottom: 0 !important;
}
.atg-calendar-compact .calendar-title , .atg-calendar-compact .calendar-btn {
	text-align: center !important;
	background: #5AA4A3;
	color: #ffffff;
	height: 30px;
	vertical-align: middle !important;
}
.atg-calendar-compact .calendar-btn span {
	cursor: pointer;
}
.atg-calendar-compact .calendar-title  {
	font-size: 13px;
	font-weight: bold;
	padding: 4px 0 0 0 !important;
}
.atg-calendar-compact .calendar-table tr th {
    text-align: center;
    color: #5AA4A3;
    background: #eeeeee;
	font-size: 11px;
	padding: 8px 0;
}
.atg-calendar-compact .calendar-table tr th, .atg-calendar-compact .calendar-table tr td {
	width: 14.285714285714285%;
	line-height: 19px;
}
.atg-calendar-compact .calendar-day-blank {
	background: #f6f6f6;
	padding: 0 !important;
}
.atg-calendar-compact .calendar-day-normal {
    text-align: center;
    color: #666;
	padding: 0 !important;
    height: 34px;
	vertical-align: middle !important;
}
.atg-calendar-compact .calendar-day-normal .calendar-day-event {
	cursor: pointer;
}
.atg-calendar-compact .calendar-day-today {
	background: #d5e9e9;
}
.atg-calendar-compact .calendar-day-weekend {
	color: #ef4f69;
}
.atg-calendar-compact .calendar-event-mark {
    position: absolute;
    top: -8px;
    right: 0;
    background: none !important;
}
.atg-calendar-compact .calendar-event-mark::after {
	content: '';
    visibility: visible;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 16px solid #567BD2;
    border-left: 16px solid transparent;
}

/* Event list */
.atg-event-list-compact {
	padding: 15px;
	background: #eeeeee;
	display: none;
        height: 405px;
        overflow: auto;
}
.atg-event-list-compact .event-item {
	width: 100%;
	border-top: 1px dotted #666;
	margin-top: 20px;
	padding-top: 20px;
}
.atg-event-list-compact .event-item:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.atg-event-list-compact .event-image img {
	width: 100%;
	border: 1px solid #eee;
	margin-bottom: 10px;
}
.atg-event-list-compact .event-name {
	font-size: 16px;
	color: #5AA4A3;
	margin-bottom: 6px;
}
.atg-event-list-compact .event-time, .atg-event-list-compact .event-date {
	margin-bottom: 3px;
	color: #ef4f69;
	font-size: 13px;
}
.atg-event-list-compact .event-time i, .atg-event-list-compact .event-date i {
	margin-right: 5px;
}
.atg-event-list-compact .event-intro {
	color: #666;
	font-size: 14px;
}
.atg-event-list-compact .link {
	cursor: pointer;
}

/* Event detail */
.atg-view-event-compact {
	padding: 15px;
	background: #eeeeee;
	display: none;
}
.atg-view-event-compact .event-item {
	width: 100%;
	border-top: 1px dotted #666;
	margin-top: 20px;
	padding-top: 20px;
}
.atg-view-event-compact .event-item:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.atg-view-event-compact .event-image img {
	width: 100%;
	border: 1px solid #eee;
	margin-bottom: 10px;
}
.atg-view-event-compact .event-name {
	font-size: 16px;
	color: #5AA4A3;
	margin-bottom: 6px;
}
.atg-view-event-compact .event-time, .atg-view-event-compact .event-date, .atg-view-event-compact .event-location {
	margin-bottom: 5px;
	color: #666;
	font-size: 14px;
}
.atg-view-event-compact .event-time i, .atg-view-event-compact .event-date i, .atg-view-event-compact .event-location i {
	margin-right: 5px;
	width: 14px;
}
.atg-view-event-compact .event-location i {
	font-size: 18px;
}
.atg-view-event-compact .event-desc {
	color: #666;
	border-top: 1px solid #e2e2e2;
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 22px;
	line-height: 22px;
	font-size: 14px;
}
.atg-view-event-compact .event-link {
	margin-bottom: 30px;
}
.atg-view-event-compact .event-link a {
	color: #fff;
    background: #5AA4A3;
    padding: 8px 10px 8px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    border: 0;
	cursor: pointer;
	position: relative;
}
.atg-view-event-compact .event-link a:hover {
	text-decoration: none;
}
.atg-view-event-compact .event-link a i {
	margin-right: 5px;
}