#content {
    background-color: #f0fff173;
    background: linear-gradient(to right bottom, #a9dfa582, #c7f0e82e,#ebf5e4a1, #f8ffe936, #f0fff173);
}
.user-dash-sec {height: 100%;width: 100%;overflow-y:  auto;}
.dash-header {
}
.btn-success {
    background-color: #36bf8a;
}
.dash-header-top {
    padding:10px;
    background:#fff;
}
.dash-in-menu-open .dash-header-top {
    border-bottom:1px solid #eee;
}
.dash-header-top ul {
    padding:0px;
    margin:0px;
    text-align:center;
}
.dash-header-top ul li {
    display:inline-block;
    list-style-type:none;
    margin:0 15px;
}
.dash-header-top ul li a i {
    font-size:20px;
    margin-right:05px;
}
.dash-header-top ul li a {
    font-size:14px;
    color:#9e9e9e;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dash-header-top ul li a:hover {
    color:#269b70;
}
/*.dash-header-bot {
    border-bottom:1px solid transparent;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}*/
/*.dash-in-menu-open .dash-header-bot {
    border-bottom:1px solid #eee;
}*/
.dash-header-bot {
    overflow:hidden;
}
.dash-header-bot .recomended-f {
    float: right;
    color:#000;
    font-weight:bold;
    font-size: 15px;
    cursor:pointer;
    padding:05px 20px 05px 5px;
    position:relative;
    /*transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;*/
}

.dash-header-bot .recomended-f i{
    color:#3c8f3c;
    font-size: 15px;
}

.dash-header-bot .recomended-f:after {
    position:absolute;
    left:100%;
    top:50%;
    margin-top:-8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content:'';
}
.dash-header-bot .recomended-f .filter-icon {
    content:url("../../Frontend/img/filter_icon.png");
    height:20px;
    cursor:pointer;
    position:relative;
    padding: 0px 60px 0px 10px;
   /* transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;*/
}
.dash-in-menu-open .dash-header-bot .dash-middile-nav {
    right: 0;
    opacity:1;
    visibility:visible;
}
.dash-header-bot .dash-middile-nav {
    background:  none repeat scroll 0 0;
    float: right;  
    opacity:0;
    visibility:hidden;
    position: relative;
    width: 90%;
    /*transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;*/
}
.dash-middile-nav ul {
    padding:0px;
    margin:0px;
    text-align:center;
}
.dash-middile-nav ul li {
    display:inline-block;
    list-style-type:none;
    margin:05px 15px 0;
}
.dash-middile-nav ul li a {
    font-size:14px;
    color:#000;
}
.dash-header-bot .dash-right-search {
    width:25%;
    float:left;
    background:#36bf8a;
    color:#fff;
    display:none;
}
.fliterd-by {
    position:relative;
    width:150px;
    display:inline-block;
}
.fliterd-by .slectstle:after {
    position:absolute;
    right:0px;
    top:12px;
    content:'';
    pointer-events:none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
}
.dash-right-search select {
    border:none;
    background:#36bf8a;
    color:#fff;
    box-shadow:none;
    height:32px;
    border-radius:0px;
    font-weight:bolder;
    -webkit-appearance:none;
    -moz-appearance:none;
    text-transform:uppercase;
}
.dash-right-search select option {
    padding:04px 10px;
}
.dash-right-search select:focus {
    box-shadow:none;
}
.resp-btn i.fa.fa-angle-down {
    display: none;
}

.atg-world-one .media {
    padding:4px;
}

.white-panel .footer{
    background-color: #FAFAFA;
    display: table;
    width:100%;
}

.atg-world-one .header{
    display: table;
    width:100%;
    padding:13px 10px 10px 10px;
}
.media{
    overflow:visible;!important
    z-index: 0;
}

.header .options a{
    color: #333333;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
}

.header .options{
    text-align: right;
}

.footer .media-right{
    vertical-align: middle;
    width: 50%;
    text-align: right;
    padding-right:10px;
    padding-left:0px;
}

.footer .media-left{
    padding-right:0px;
}

.footer .media-user{
    display: inline-flex;
    list-style: none;
    padding:5px 5px 5px 5px;
}

.footer .media-user li{
    float:left;
}

.footer .media-user li:last-child{
    padding-left:10px;
}

.atg-world-one  .media-user .pname{
    white-space: nowrap;
    display: block;
    float: left;
    font-weight: bolder;
    color: #333333;
    width: 10px;
}
.atg-world-one  .media-user .ptype{
    display: block;
    float: left;
    font-size: 10px;
    color: #999999;
    font-weight: bold;
}

.atg-world-one .imagebody{
    padding: 0 0 0 0px;
}

.atg-world-one .likesbody{
    color: #999999;
    padding:0px 10px 10px 10px;
}

.atg-world-one .descr{
    color: #333333;
    padding:0px 10px 10px 10px;
    margin: 0px 0px 0px 0px !important;
    font-size: 12px;
}

.atg-world-one .media{
    margin-top: 0px !important;
}


.atg-world-one .dropdown-menu{
    left: auto;
    right: 0px;
    top:30px;
    width:210px;
    box-shadow: 0px 0px 0px 0px;
    border-color: #eee;
}

.atg-world-one .dropdown-menu:after{
    position:absolute;
    right:14px;
    top: -9px;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 7.8px 4.5px;
    border-color: transparent transparent #eee transparent;
}


.atg-world-one .dropdown-menu ul{
    list-style-type: none;
    width:100%;
    padding-left:0px;
    margin-bottom: 0px;
}

.atg-world-one .dropdown-menu ul li{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    font-weight: bolder;
}

.atg-world-one .dropdown-menu ul li a{
    font-size:13px;
}

.atg-world-one .dropdown-menu ul li:last-child{
    border-top:2px solid #eee;
}

/*.atg-world-one .option-menu{
    display: none; 
    right:9px;
    top:5px;
    width:200px;
}

.atg-world-one .option-menu ul{
    list-style-type: none;
    width:100%;
}*/


/*.atg-world-one .option-menu:after{
    position:absolute;
    right:9px;
    top:-48px;
    height:47px;
    width:50px;
    border-radius:50% 50% 0 0;
    content:'';
    border:1px solid rgba(0, 0, 0, 0.15);
    border-bottom:none;
}*/

.atg-world-one .imagebody img{
    border-radius: 0px;
}

.otg-found {
    margin:0px;
    border-top:0px solid #eee !important;
    border-bottom:0px solid #eee !important;
    border-radius:4px;

}
.share_div{   
 height: 75px;
    position: absolute;
    margin-top: 8px;
    margin-left: -25px;
    background-color: white;
    z-index: 1;
    width: 190px;
    display: none;
    box-shadow: 1px 5px 3px #e0e0e0;
}
.share_div h2{
    font-size: 14px;
    text-align: left;
    height: 3px;
    padding-left: 14px;
    color: black;
    line-height: 1;
    font-weight: bold;
/*    text-transform:capitalize;*/
    
}
.share_div .opt-ashare-bts{
    text-align: left;
    color: black;
    padding-left: 3px;
}
.share_div .opt-ashare-bts .btn{
    width: 18%;
    font-size: 15px;
    margin: 3px 0;
    padding: 08px 0;
    position: relative;
    color: black;
}
.copy_show{
    display:none;
}

@media screen and (min-width : 992px) and (max-width : 1199px) {
    .dash-middile-nav ul li {
        margin:05px 05px 0;
    }
    .dash-middile-nav ul li a {
        font-size:12px;
    }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
    .dash-header-bot .recomended-f {
        font-size:13px;
        height:30px;
    }
    .fliterd-by {
        width:125px;
    }
    .dash-right-search select {
        height:30px;
    }
}

@media screen and (max-width : 480px) {
    .resp-btn {
        border-radius:50%;
        display:block;
        position:absolute;
        right:15px;
        top:0px;
        z-index:6;
        height:30px;
        width:30px;
        line-height:30px;
        text-align:center;
        background:#36BF8A;
        transform:rotate(0deg);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);
        transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
    }
    .resp-btn a {
        color:#fff;
        font-size:18px;
    }
    .dash-header {
        position:absolute;
        width:100%;
        top:-5%;
        z-index:5;
        transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
    }
    .resp-open-menu .dash-header {
        top:0;
        transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
    }
    .resp-open-menu .resp-btn {
        transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);
        border-radius:50%;
    }
    .dash-middile-nav ul li {
        margin:05px;
    }
    .dash-header-top ul li a {
        font-size:13px;
    }
    .dash-header-top ul li a i {
        font-size:16px;
    }
    .dash-header-top {
        padding:05px;
    }
    .dash-header-top ul li {
        float:left;
        width:50%;
        text-align:center;
        margin:0px;
    }
    .dash-header-bot .recomended-f::after {
        display:none;
    }
    .dash-header-bot .recomended-f {
        width:100%;
        text-align:center;
        padding:05px;
    }
    .dash-header-bot .dash-middile-nav {
        width:100%;
        padding-right: 0;
    }
    .dash-header-bot .dash-right-search {
        width:100%;
        text-align:center;
    }
    .resp-btn i.fa.fa-angle-down {
        display:block;
        margin-top: 6px;
    }
}

@media screen and (max-width : 340px) {

    .dash-header-top ul li {
        width:100%;
  }
}
