#audiance_details .modal-content {
    width: 70%;
    left: 15%;
}
#audiance_details .modal-content p {
    margin-left: 5px;
}
#connection_details .modal-content {
    margin: 0 auto;
    width: 60%;
}
.acrdi-os-event .panel-heading {
    background:#E5E5E5;
    color:#232323;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.acrdi-os-event .panel-heading a {
    display:block;
    font-family: "gotham_mediumregular";
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}
.acrdi-os-event .panel-heading a i {
    position:absolute;
    right:20px;
}
.acrdi-os-event .active_acc .panel-heading {
    background:#33bb87;
    color:#fff;
}
.acrdi-os-event .panel-body p {
    color:#919191;
}
