.group-container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
.group-container.desktop .group-wrapper {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 0 65px 0 0;
    max-height: 450px;
    overflow-y: scroll;
}
.group-container.mobile .group-wrapper{
    display: block;
}

.group {
    position: relative;
    text-align: left;
    padding: 10px 30px 10px 0;
    transition-duration: 0.4s;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}
.group .group-left-icon {
    position: absolute;
    right: 10px;
    font-size: 17px;
    color: grey;
    top: 50%;
    transform: translate(0, -50%);
}
.group .group-left-icon::after {
    font-family: 'FontAwesome';
    content: '\f055';
}
.group.has-child .group-left-icon::after {
    content: '\f054';
}
.group.has-joined .group-left-icon::after {
    content: '\f058';
    color: #60cd66;
}
.group.has-child.opened .group-left-icon::after {
    content: '\f078';
}

.group .group-name {
    font-size: 15px;
    font-weight: 600;
    color: #616161;
    vertical-align: middle;
}
img.group-icon {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 5px 0 5px;
}
.group .group-status {
    display: none;
    font-size: 13px;
    color: #757575;
}

.group-container.desktop .group:hover {
    padding-left: 3px;
}
.group-container.desktop .group:hover .group-status {
    display: inline;
}