body {
    background-color: #F5F7F5 !important;
    height: 100%;
    margin: 0px;  /*removes default style*/
}

.bodycontent {
    width: 100%;
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    }
    

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.sidebarlogo{
    display: none;
}

#profile-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 178px;
    min-height:246px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    color: #000;
    left: auto;
}

#profile-menu:after{
    position: absolute;
    right: 9px;
    top: -48px;
    height: 47px;
    width: 50px;
    border-radius: 50% 50% 0 0;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: none;
    box-sizing: border-box;
    pointer-events:none;
}

#profile-menu li a{
    position: relative;
    width:100%;
    height:100%;
    font-size: 16px;
    color: #333;
    padding: 15px 20px 0;
    font-weight: 400;
    line-height: 1.72857143;
    white-space: nowrap;
}

.pencil_icon_style{
    margin-top: 5px;
}

#profile-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

#prof-name{
    padding-left:5px;
    padding-right: 10px;
        
}

/*.dropdown-menu{
     top:0 !important; 
    display: block  !important;
    float: left !important;
}*/

#row-main {
        background-color: #F5F7F5;
        width: 100%;
        height: 800px;
        overflow-y: auto;
}

#content {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        background-color: #FBFCFB;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        float: left;
        /* padding-left: 207px; */
        padding-right: 20px;
        position: relative;
        display: none;
        padding-top:  20px;
        padding-bottom:  20px;
}

.sidebar {
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        /*background-color: #55B855;*/
        background: linear-gradient(#339966, #1A4D33);
        padding-left: 0px !important;
        padding-right: 0px !important;
        float:left;
        left: 0;
        z-index: 100;
        position: absolute;
        color: #eee;
        height:100%;
        display:  none;
}


#sidebar-exp{
    min-width: 198px;
    max-width: 198px;
    margin-left: 0px !important;
    z-index: 200;
}

div#sidebar-exp {}

#sidebar-exp.active{
    min-width: 187px;
    max-width: 187px;
    margin-left: -187px !important;
}

#sidebar-short {
    min-width: 65px;
    max-width: 65px;
    margin-left: 0px !important;
}

#sidebar-short.active {
    min-width: 65px;
    max-width: 65px;
    margin-left: -65px !important;
}


#sidebar-exp p{
    white-space: nowrap;
    color: #eee;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#sidebar-exp p a{
    color: #eee;
    font-size: 10px;
}

.sidebar .submenu{
    width:100%;
    height:50%;
    list-style-type: none;
    color:#fff;
}

.sidebar .submenu li{
    border: 0px;
    padding: 0px;
    background-color:inherit;
}

.sidebar .sidebar-footer{
    bottom:0;
    position: absolute;
    width: 100%;
}

.sidebar-footer .btn-arrow{
    background-color: #eee;
    color: #000;
    width: 100%;
    bottom:0;
    font-size: 30px;
    position: relative;
    border:1px solid #eee;
    border-radius: 0px;
}




.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    /* overflow-y: auto; */
}

#sidebar-short ul{
    height: 80%;
}

#sidebar-exp > ul{
    height: calc(100% - 110px);;
    overflow-y:  auto;
}

.sidebar ul li{
/*    margin: 0px auto;*/
    padding-top: 0px;
}

.sidebar ul li a i{
    font-size: 18px;
    margin-top: 5px;
}

.sidebar ul li.active i.icon-connect{
    background-color: #fff;
}

.icon-explore{
    width: 25px;
    height: 21px;
    display: inline-block;
/*    -webkit-mask: url(../../img/explore_group.svg) no-repeat 50% 50%; */
	background: url("../../img/explore_group.svg") no-repeat 50% 50%;

    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-connect{
    width: 22px;
    height: 22px;
    display: inline-block;
    -webkit-mask: url(../../img/connect.svg) no-repeat 50% 50%;
    mask: url(public/assets/img/connect.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-grey {
    /*background-color: #eee; */
}
.icon-white {
    background-color: #fff;
}

.icon-grey:hover, .icon-grey:active, .icon-grey:focus {
  /*  background-color: #fff; */
	
  
  
}


.sidebar ul li a p{
    position: static;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar ul li:not(:first-of-type) {
      margin-top: 6px;
} 

.sidebar ul li a{
    width: 100%;
    /* height: 100%; // 0% */
    text-align: left;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 7px;
    vertical-align: middle;
    color: #eee;
    position: relative;
    border-radius: 0px;
}

.sidebar .btn-sidebar ul li {
    float: left;
    text-align:  left;
    background-color: transparent;
	display: flex;
	align-items:center;
}

.sidebar .btn-sidebar ul li:first-child {
    width: 35px;
}

.sidebar .submenu a{
    text-align: left;
    padding-left: 60px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    vertical-align: middle;
    color: #fff;
    position: relative;
}

.submenu li{
    height: 25px;
}

.sidebar a:focus, .sidebar a:active,.sidebar  a:hover {
    color: #fff;
    -webkit-box-shadow: none !important;
}

.sidebar-footer a:focus, a:active, a:hover {
    color: #fff;
}

.sidebar ul li.active > a{
    background-color: #33cc66;
    color: #fff !important;
}

.sidebar ul li.search{
    border-bottom: 2px solid #eee;
}


.dash-cate-sec #blog-content{
    position: relative;
    max-width: 100%;
    width: 100%;
    /* overflow-y: auto; */
    display: block;
    /*height: 90%;*/
}

.explore-groups-icon{
    background:url(../../img/add_group.png) no-repeat;
    width: 90px;
}


::-webkit-scrollbar  {
    width: 5px;
    height:5px;
    background-color: transparent;
} 

::-webkit-scrollbar-thumb {
    background-color:  #55B855;
}

.sidebar ul::-webkit-scrollbar-thumb {
    background-color: #eee;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
    display: none;
}

@media (min-width: 992px) {
        /*.collapsed {
                display: block;
                margin-left: -25%; 
        }*/
}


                
.main-serching {
    width:60%;
    float:left;
    vertical-align:middle;
}
.main-serching > .pull-left > span {
    margin:12px 25px 0 0;
    display:inline-block;
}
.main-serching > .pull-left > span > a {
    font-size:14px;
    color:#777;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.main-serching > .pull-left > span > a:hover {
    color:#000;
}
.main-serching > .pull-right {
    padding:05px 0 0;
    width:75%;
}
.main-serching > .pull-right input {
    /* background: #F5F7F5; */
    border-left:none;
    box-shadow:none;
}
.main-serching > .pull-right input:focus {
    border:1px solid #ddd;
    border-left:none;
}
.main-serching > .pull-right .cust-lan {
    background:#fff;
}
.main-serching > .pull-right .cust-lan a {
    color:#269b70;
}
.main-right-user {
    float:right;
/*    width: 40%;*/
    text-align:right;
}
.main-right-user tr {
    padding:0px;
    margin:0px; 
}
.main-right-user td {
    height:50px;
    overflow: hidden;
    padding-right: 17px;
    /* display:inline-block; */
    list-style-type:none;
    position:relative;
    vertical-align: middle;
    padding-left: 5px;
}

.main-right-user td {
    border-right: 2px solid lightgrey;
}

.main-right-user td:last-child {
    /* width: 35%; */
    border-right: none;
    white-space:nowrap;
    /* padding-left: 10px; */
}

.main-right-user  tr  td.search_group_user{ display: none; }

/*.main-right-user > tr > td:after {
    position:absolute;
    left:-3px;
    top:-03px;
    height:55px;
    width:1px;
    content:'';
    background:grey;
}*/
.in-head {
    background-color: white;
    box-shadow: 0px 0px 3px 1px rgba(176,174,176,1);
    border-bottom:1px solid #eee;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    top:0;
    position: relative;
}
.sticky-header .in-head {
    position:fixed;
}
.sticky-header .in-head .custom-nav {
    display:none;
}
.sticky-header .in-head .aller-nav {
    box-shadow:0px 0px 5px #000;
}
.in-head .custom-nav {
    padding:10px 50px;
}

.logo {
    float: left;
    transition:300ms linear 0s;-o-transition:300ms linear 0s;-moz-transition:300ms linear 0s;-webkit-transition:300ms linear 0s;
}
.in-head .logo {
    width:15%;
    float:left;
}
.in-head .logo img {
    width:159px;
}


.main-right-user tr td a {
    font-size:15px;
    /* display:inline-block;*/
    vertical-align: middle;
    /*padding:10px 10px 0;*/
    color:grey;
    transition:all 300ms linear 0s;
    -o-transition:all 300ms linear 0s;
    -moz-transition:all 300ms linear 0s;
    -webkit-transition:all 300ms linear 0s;
}
.main-right-user tr td a:hover {
    color:#269b70;
}
.main-right-user .user-profile {
    height:40px;
    width:40px;
    display:inline-block;
    /*  margin-left:08px;
            margin-top:8px;*/
}
.main-right-user .user-profile img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.main-right-user .open .dropdown-menu {
    right: 0;
    left: auto;
}
.main-right-user .open .dropdown-menu a {
    font-size: 16px;
    color: #000;
}
.main-right-user .dropdown-menu:after {
    position:absolute;
    right:9px;
    top:-48px;
    height:47px;
    width:50px;
    border-radius:50% 50% 0 0;
    content:'';
    border:1px solid rgba(0, 0, 0, 0.15);
    border-bottom:none;
}
.main-right-user .user-profile img {
    height:100%;
    width:100%;
    border-radius:50%;
    transition:all 300ms linear 0s;
    -o-transition:all 300ms linear 0s;
    -moz-transition:all 300ms linear 0s;
    -webkit-transition:all 300ms linear 0s;
}
.main-right-user .open .user-profile img {
    border-radius:50% 50% 0 0;
}
.main-right-user .open .dropdown-menu {
    right: 0;
    left: auto;
    /* z-index:  1000; */
}
.aller-nav {
    background:#36bf8a;
    text-align:center;
}

.aller-nav ul {
    padding:0px;
    margin:0px;
}
.aller-nav ul li {
    display:inline-block;
    list-style-type:none;
    margin:8px 45px;
}
.aller-nav ul li a {
    position:relative;
    display:block;
    padding:01px 0;
    text-transform:uppercase;
    font-family: 'gotham_mediumregular';
    font-size:14px;
    color:#0d6e48;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.aller-nav ul li a:after {
    height:2px;
    width:100%;
    background:#fff;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    content:'';
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.aller-nav ul li a:before {
    height:2px;
    width:100%;
    background:#fff;
    position:absolute;
    bottom:0;
    right:0;
    opacity:0;
    content:'';
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.aller-nav ul li.active a {
    color:#fff;
}
.aller-nav ul li.active a:before, .aller-nav ul li:hover a:before, .aller-nav ul li.active a:after, .aller-nav ul li:hover a:after {
    width:10px; 
    opacity:1;
}
.aller-nav ul li:hover a {
    color:#fff;
}
.hole-counte {
    position:absolute;
/*    top:25px;*/
    margin-top: 2px;
    right: 3px;
    height:20px;
    width:20px;
    border-radius:50%;
    background:#3c8f3c;
    color:#fff;
    text-align:center;
    line-height:20px;
    font-size:11px;
    display: inline-block;
    z-index: 100;
    margin-left: 45px;
}

.msg-counter {
    position:relative;
    float:right;
    width:20px;
    border-radius:30%;
    height: 20px;
    /*margin-top: -16px;*/
    background:#3c8f3c;
    color:#eee;
    text-align:center;
    line-height:17px;
    font-size:10px;
    margin-left: 30px;
}

.counter-min {
    position:absolute !important;
    top:18px;
    right:10px;
    width:17px !important;
    line-height:14px !important;
    font-size:8px !important;
}






@media screen and (min-width : 992px) and (max-width : 1199px) {

    
    .in-head .custom-nav {
        padding:05px 10px;
    }
    .in-head .logo {
        width:20%;
    }
    .main-right-user {
/*        width:50%;*/
    }
    .main-serching > .pull-left > span {
        margin:9px 9px 0 0;
    }
    .main-serching > .pull-right {
        width:60%;
    }
    .main-serching {
        width:50%;
    }
    
    .main-right-user {
/*        width:50% !important;*/
    }
    
    .main-right-user td:last-child {
/*        width:40% !important;*/
        white-space:nowrap;
    }
    
    .bodycontent {
        /* height:900px; */
    }
}



@media screen and (min-width : 768px) and (max-width : 991px) {
    .sticky-header .custom-nav {
        background: rgba(0, 0, 0, 0.5);
      }
    .in-head .custom-nav {
        padding:05px 10px;
    }
    .in-head .logo {
        width:20%;
    }
    .main-right-user .dropdown-menu:after {
        right:4px;
    }
    .in-head .logo img {
        width:130px;
    }
    .main-right-user {
/*        width: 40% !important;*/
    }
    
    .main-right-user td:last-child {
/*        width:40% !important;*/
        white-space:nowrap;
    }

    .main-serching > .pull-left > span {
        margin:9px 9px 0 0;
    }
    .main-serching > .pull-right {
        width:60%;
    }
    .main-serching {
        width:50%;
    }
    .main-right-user tr td a {
        /* padding:0px 10px 0; */
    }
    .main-right-user tr td::after {
        height:40px;
        top:50%;
        margin-top:-20px;
    }
    .logo img {
        width:150px;
    }
    .fst-sec .btn {
        font-size:15px;
        width:260px;
    }
    .leader-sec .col-sm-5 {
        width:100%;
    }
    .custom-nav {
        padding:10px 50px;
    }
}

@media screen and (max-width : 767px) {
    .main-user-acti .media-body .posting-day { position: relative !important; display: none !important; }
    
    .sticky-header .custom-nav {
            background: rgba(0, 0, 0, 0.5);
      }
    .in-head .custom-nav {
        padding:05px 10px;
    }
    .in-head .logo {
        width:20%;
    }
    .in-head .logo img {
        width:130px;
    }
    .hole-counte {
        padding-top: 3px;
    }
    .main-right-user {

    }
    
    .main-right-user td:last-child {
        white-space:nowrap;
    }

    .aller-nav ul li a {
        font-size:13px;
    }

    .main-serching > .pull-left > span {
        margin:9px 9px 0 0;
    }
    .main-serching > .pull-right {
        width:60%;
    }
    .main-serching {
        width:50%;
    }
    .logo img {
        width:150px;
    }
    .fst-sec .btn {
        font-size:14px;
        width:220px;
        height:42px;
    }
    .leader-sec .col-sm-5 {
        width:100%;
    }
    .custom-nav {
        padding:10px 50px;
    }
}

@media screen and (max-width : 480px) , screen and (max-width: 767px) and (orientation: landscape) {
    #row-main {
        height: 640px;
    }

     #sidebar-exp > ul{
        height: calc(100% - 50px);;
        overflow-y: auto;
    }
    
    .main-right-user .dropdown-menu:after {
        right:0px;
        top:-38px;
        height:37px;
        width:38px;
    }
    .in-head .logo {
        width: auto !important;
        text-align:center !important;
        border-bottom:0px solid #eee !important;
        margin: 0px;
        padding: 10px 10px 10px 10px;
    }
    .main-serching {
        display: none;
    }
    .main-right-user {
        width:20% !important;
        margin-top: 6px;
    }
    
    .main-right-user td:last-child {
        white-space:nowrap;
    }
    
    .main-right-user tr td.search_group_user{display: none;}
    
    .main-serching > .pull-left > span > a {
        font-size:12px;
    }
    .main-serching > .pull-left > span {
        margin:10px 05px 0 0;
    }
    .main-serching > .pull-right {
        
    }
    .input-group-addon {
        padding: 1px 4px;
        text-align: right;
        background-color: #fff !important;
        border: none;
        width: 15px;
    }

    .main-right-user .user-profile {
        margin:0px;
        height:35px !important;
        width:35px !important;
    }
    .main-right-user tr td a {
        font-size:16px;
        /* padding: 10px 10px 10px 10px; */
        /* margin-top:1%; */
    }
    
    .main-right-user tr td a i {
        font-size: 23px !important;
        vertical-align: middle;
    }
    .aller-nav ul li {
        margin:6px 10px;
    }

    .sub-head {
        font-size: 16px;
        line-height: 24px;
        margin-bottom:20px;
    }

    .logo img, .sticky-header .logo img {
        width: 140px;
    }

    #content {
        width: 100%;
        padding-left: 5px !important;
        padding-right: 0px !important;
    }
    
    .dash-cate-sec {
        padding: 0 0 0 0px !important;
    }
    
    .resp-btn {
        display: none !important;
    }
    
    .dash-header {
        display: none !important;
    }
    
    #content {
        padding : 0 0 0 0px !important;
    }
    
    body , #row-main, #content{
        background-color: #fff !important;
        display:  block;
    }
    
    #prof-name{
        display: none !important;
    }
    
    .main-right-user td {
        border-right: 0px !important;
        padding-right: 5px !important;
        padding-left: 15px;
    }
    
    .hole-counte {
        line-height: 15px !important;
        width:20px;
        height:20px;
/*        right: 0px;*/
        margin-top: -6px;
        margin-right: 10px;
    }
    
    .in-head .sidebarlogo{
        display: inline-block;
        float:left;
        height:100%;
        /* margin-top: 2%; */
        padding: 14px 10px 10px 5px;
    }  
    
    .sidebarlogo i{
        font-size: 30px;
        color: #3c8f3c;
    }
    
    .in-head {
        height: 70px !important;
    }
    
    .sidebar .sidebar-footer .btn-arrow{
         display: none; 
    }
    
    .sidebar ul li a{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    
    #sidebar-exp{
        position: absolute;
        /* overflow-y:  auto; */
        display:  block;
    }
    
    #sidebar-short {
        width: 55px;
    }
}

@media screen and (max-device-width: 736px) and (orientation: landscape){

   
}

@media (max-width: 382px){
    .logo img {
        width: 140px !important;
    }
    #content {
        width: 100%;
        /* padding-left: 5px !important; */
        padding-right: 0px !important;
        float: left !important;
        display:  block;
    }
}

@media screen and (max-width : 340px) {
    .aller-nav ul li a {
        font-size:12px;
    }
    .aller-nav ul li {
        margin:05px;
    }

    .main-serching, .main-right-user {
        width:100%;
        text-align:center;
    }
    
    .main-right-user td:last-child {
/*        width: 70% !important;*/
        white-space:nowrap;
    }
    
    .logo, .sticky-header .logo {
        margin:6px 0;
    }
    .logo img, .sticky-header .logo img {
        width:120px;
    }
    #content {
        width:100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/**********************Animation for Hamburger ICon ******************************/
#nav-icon1{
  width: 30px;
  height: 25px;
  position: relative;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #3c8f3c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/**********************End Animation for Hamburger ICon ******************************/