.post-ari-img {
    height:60px;
    width:60px;
    position:relative;
    border-radius:50%;
    border:3px solid #cccccc;
    position:relative;
}
.post-ari-img img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.posted-arti-comment {
    min-height: 500px;
    overflow: auto;
}
.posted-arti-comment .media {
    padding:15px 30px;
}
.posted-arti-comment .media .media-heading {
    font-size:18px;
    color:#464646;
    margin-bottom:20px;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.posted-arti-comment .media .media-body p {
    padding:0 10px 10px;
    font-size:16px;
    color:#919191;
}
@media (min-width: 320px) and (max-width: 800px) {
    .posted-arti-comment {
        min-height: 400px;
        overflow: auto;
        border-bottom: 1px solid #eee;
    }
}