/*--------------------------------------MY GROUP & EXPLORE-GROUP START---------------------------------------*/

.inner-group-tab {
    padding:20px 15px;
    border:1px solid #ddd;
    border-top:none;
    border-radius:0 0 4px 4px;
}
.left-group-cate {
    box-shadow:0 0 5px #eee;
}
.left-group-cate h2 {
    padding:10px;
    font-size:16px;
    color:#269b70;
    margin:0px;
    border:1px solid #ddd;
    background:#eee;
    border-radius:4px 4px 0 0;
    border-bottom:none;
    text-transform:uppercase;
    font-weight:bold;
}
.new-dash-nav {
    border:1px solid #eee;
}
.cust-drop-icon {
    position:relative;
}
.cust-drop-icon:before {
    position:absolute;
    right:20px;
    top:20px;
    content:'\f107';
    color:#269b70;
    font-family:'FontAwesome';
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
    transform:rotate(0deg);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);
}
.inner-group-tab p {
    margin:20px 0 05px;
    font-size:16px;
    color:#000;
    text-align:center;
}
.category-listing-form2 {
    min-height:350px;
}
.recomended-group-sec h3 {
    margin:12px 0;
    font-size:20px;
    color:#666;
    padding:15px 0;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;
    border-bottom:1px solid #eee;
}
.recomended-g-inner {
    box-shadow:0 0 5px #777;
    border-radius:4px;
}
.rec-img-dev {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    height:200px;
    border-radius:4px 4px 0 0;
}
.recomended-g-inner h5 {
    margin:0px;
    padding:15px 10px;
    font-weight:bold;
    font-size:16px;
    border-top:1px solid #36bf8a;
}
.recomended-g-inner h5 i {
    font-size:16px;
    padding:8px;
    border-radius:50%;
    background:#36bf8a;
    color:#fff;
    margin-right:05px;
}
.my-group-tab {
}
.my-group-tab .nav-tabs {
    background:#eee;
    border-radius:4px 4px 0 0;
}
.my-group-tab .nav-tabs li {
    border-top:1px solid transparent;
    margin:0px;
}
.my-group-tab .nav-tabs a {
    background:none;
    border-radius:0px;
    margin-right:0px;
    color:#000;
    font-size:14px;
    text-transform:uppercase;
    border:1px solid #eee;
    font-weight:bold;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.my-group-tab .nav-tabs a:hover, .my-group-tab .nav-tabs a:focus, .my-group-tab .nav-tabs .active a {
    background:#fff;
    color:#269b70;
}
.my-group-tab .nav-tabs .active {
    border-top:1px solid #36bf8a;
}
.right-caret:after,.left-caret:after
{   content:"";
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
  margin-left:5px;
}
.right-caret:after
{   border-left: 5px solid #000;
  left:200px;
  position:absolute;
  top:20px;
}
.left-caret:after
{   border-right: 5px solid #36bf8a;
  left:200px;
  position:absolute;
  top:20px;
}
.category-listing-form1 > li {
    position: relative;
}
.category-listing-form1 .dropdown-toggle {
    font-size: 13px;
}
.category-listing-form1 .dropdown-toggle {
    display: inline-block;
    padding: 14px 0;
}
.category-listing-form1 .dropdown-toggle {
    font-size: 14px;
    padding: 10px 20px 10px 4px;
    color: #000;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.category-listing-form1 .dropdown-toggle:hover,.category-listing-form1 .dropdown-menu li a:hover ,.dropdown.open .dropdown-toggle {
    color: #36bf8a;
}
.category-listing-form1 .dropdown-menu li input[type=checkbox]{
    position:absolute;
    left:0;
    top:11px;
}
.category-listing-form1 .dropdown-menu li a {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 20px 7px 22px;
    white-space:inherit;
}
.category-listing-form1 .dropdown i {
    border: 1px solid #36bf8a;
    border-radius: 50%;
    color: #36bf8a;
    font-size: 14px;
    height: 30px;
    padding:05px;
    line-height: 28px;
    margin-right: 7px;
    text-align: center;
    width: 30px;
}
.category-listing-form1 {
    list-style-type: none;
    padding: 0;
    position: relative;
    min-height:465px;
}
.category-listing-form1 .dropdown-toggle:hover,.dropdown.open .dropdown-toggle {
    background:#fff;
}
.category-listing-form1  .dropdown-menu.sub-menu {
    left: 237px !important;
}
.selected-cate {
    text-align:right;
}
.selected-cate h5 {
    font-size:20px;
    margin:0px;
    color:#269b70;
    text-align:left;
}
.selected-cate ul {
    padding:15px 0px 5px;
    margin:15px 0;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
}
.selected-cate ul li {
    float:left;
    list-style-type:none;
}
.selected-cate ul li span {
    padding:8px 40px 8px 8px;
    border-radius:5px;
    color:#696969;
    margin:0 10px 10px 0;
    font-size:14px;
    position:relative;
    border:1px solid #ddd;
    display:block;
    background: #fcfcfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfd 0%, #c0c1c0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfcfd 0%,#c0c1c0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfcfd 0%,#c0c1c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfd', endColorstr='#c0c1c0',GradientType=0 ); /* IE6-9 */
}
.selected-cate ul li span a {
    position:absolute;
    right:10px;
    font-size:15px;
    color:#696969;
    content:'';
    top:6px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.selected-cate ul li span a:hover {
    color:#269b70;
}
.selected-cate > span > a {
    font-size:14px;
    color:#269b70;
    margin-right:20px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.selected-cate > span > a:hover {
    color:#000;
}
.selected-cate .btn {
    background: #207655;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    height: 45px;
    padding: 0 35px;
    text-transform: uppercase;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.selected-cate .btn:hover {
    background:#36bf8a;
}
.trigger.left-caret {
    color:#36bf8a !important;
}
.filter-informations {
    padding:15px 30px;
    border:1px solid #eee;
    border-radius:0 0 4px 4px;
}
.filter-informations .btn {
    background:#36BF8A;
    color:#fff;
    border-radius:20px;
    text-transform:uppercase;
    font-size:16px;
    border:none;
    padding:08px 30px;
    float:right;
}
.filter-informations label {
    font-size:15px;
    font-weight:lighter;
    color:#000;
}
.gallery-left-top nav ul {
    padding:0px;
    margin:0px;
}
.gallery-left-top nav ul li {
    display: block;
    position:relative;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.gallery-left-top nav ul li:befoer {
    position:absolute;
    left:0;
    top:0;
    background:#ffffff;
    height:20px;
    width:10px;
    content:'';
}
.gallery-left-top nav ul .activer {
}
.gallery-left-top nav ul .activer .cust-drop-icon:before {
    transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);
}
.gallery-left-top nav ul .activer a {
    color:#269b70;
}
.gallery-left-top > nav > ul > li > a {
    font-size: 14px;
    color: #000;
    display: block;
    padding:15px 15px 10px;
    border-top:1px solid #eee;
}
.gallery-left-top > nav > ul > li > a > i {
    font-size: 18px;
    color:#269b70;
    border-radius:50%;
    border:1px solid #36bf8a;
    padding:05px;
    margin-right:15px;
}
.gallery-left-top nav ul li .sub-menu {
    display: none;
    padding-bottom:20px;
    padding-left:60px;
}
.gallery-left-top nav ul li .sub-menu li {
    border:none;
}
.gallery-left-top nav ul li .sub-menu li:last-child {
    border-bottom:none;
}
.gallery-left-top nav ul .active{
    color:#fff;
}
.gallery-left-top nav ul .active .sub-menu {
}
.gallery-left-top nav ul li .sub-menu li i {
    margin-right:10px;
}
.gallery-left-top nav ul li .sub-menu li a {
    color: #000;
    padding: 10px 5px;
    display:inline-block;
    font-size: 14px;
}
.dashter ul {
    padding:0px;
    margin:0px;
}
.dashter ul li {
    width:100%;
    float:left;
    list-style-type:none;
    position:relative;
}
.dashter ul li a:after {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:0px;
    content:'';
    background:#36bf8a;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dashter ul li a {
    padding:12px 20px;
    color:#000;
    display:block;
    position:relative;
    font-size:15px;
    border-bottom:1px solid #eee;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dashter ul li a i {
    height:25px;
    width:25px;
    text-align:center;
    padding:05px;
    font-size:16px;
    background:#36bf8a;
    color:#fff;
    line-height:25px;
    border-radius:50%;
    margin-right:10px;
}
.dashter ul li.active a {
    color:#0daa73;
    padding-left:26px;
}
.dashter ul li.active a:after, .dashter ul li a:hover:after, .dashter ul li a:focus:after {
    width:5px;
}
.dashter ul li a:hover, .dashter ul li a:focus {
    color:#269b70;
    padding-left:26px;
}
.right-dashter {
}
.right-dashter .breadcrumb {
    margin-bottom:10px;
    background:none;
    padding:8px 0;
}
.right-dashter .breadcrumb a {
    color:#269b70;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.right-dashter .breadcrumb a:hover {
    color:#000;
}
.right-dashter .seraching-bars {
    padding:5px;
    border-radius:5px;
    background:#36bf8a;
    margin-bottom:10px;
}
.right-dashter .seraching-bars h3 {
    font-size:15px;
    color:#fff;
    font-weight:bold;
    margin:06px 0 0 6px;
    width:40%;
    float:left;
    text-transform:uppercase;
}
.right-dashter .seraching-bars input {
    width:50%;
    float:right;
    height:30px;
    border:1px solid #ddd;
    background:#2bab79;
    border-radius:0px;
    color:#fff;
}
.right-dashter .form-control::-moz-placeholder {
    color:#ddd;
}
.right-dashter .form-control::-webkit-input-placeholder {
    color:#ddd;
}
.right-dashter .form-control:-moz-placeholder {
    color:#ddd;
}
.right-dashter .form-control::-moz-placeholder {
    color:#ddd;
}
.right-dashter .form-control:-ms-input-placeholder { 
    color:#ddd;
}
.sub-dashter h2 {
    background: #e5e5e5;
    color: #269b70;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    border-radius:5px 5px 0 0;
    border:1px solid #d9d9d9;
    border-bottom:none;
}
.sub-dashter .inter-categ {
    padding:10px;
    border:1px solid #d9d9d9;
    border-radius:0 0 5px 5px;
}
.right-caret:after,
.left-caret:after {
    content: "";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-left: 5px;
}

.right-caret:after {
    border-left: 5px solid #000;
}
.left-caret:after {
    border-right: 5px solid #000;
}
.exploregrouplist-opt ul  {
    height: 600px;
    margin: 0;
    overflow: auto;
    padding: 0;
}
span.dropdown-toggle.trigger.right-caret, a.dropdown-toggle.right-caret {
    visibility: hidden;
}
