.noti-fication-div {
    padding:20px;
    border:1px solid #eee;
    box-shadow:0 0 3px #eee;
}
.noti-fication-div .media .niti-user-img {
    height:65px;
    width:65px;
    border-radius:50%;
    margin-right:20px;
    position:relative;
}
.noti-fication-div .media {
    cursor: auto !important;
}
.noti-fication-div .media .niti-user-img img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.noti-fication-div .media .media-body {
    vertical-align:middle;
    border-bottom:1px solid #eee;
}
.noti-fication-div .media .media-body h4 {
    font-size:16px;
    color:#232323;
}
.noti-fication-div .media .media-body h4 a {
    color:#33bb87;
    font-family: "gotham_mediumregular";
}
.noti-fication-div .media .media-body h4 span {
    font-size:13px;
    text-transform:uppercase;
}
.niti-details-info {
    width:50%;
    position:fixed;
    top:0;
    right:-50%;
    content:'';
    height:100%;
    background:#fff;
    z-index:9999;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.not-details-open .niti-details-info {
    right:0;
    box-shadow:0 0 50px #333;
}
.niti-details-info .top-ban-not {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    padding:50px 0;
    z-index:2;
    text-align:center;
}
.top-ban-not:before {
    position:absolute;
    left:0;
    top:0;
    content:'';
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:-1;
}
.top-ban-not .user-dashi-pros {
    height:120px;
    width:120px;
    margin:0 auto;
    border-radius:50%;
    border:5px solid #fff;
    position:relative;
}
.user-dashi-pros .folowe-not {
    position:absolute;
    content:'';
    right:0px;
    font-size:12px;
    top:0px;
    height:25px;
    width:25px;
    border-radius:50%;
    background:#fff;
    color:#33bb87;
    border:2px solid #33bb87;
    line-height:24px;
}
.top-ban-not .user-dashi-pros img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.top-ban-not h1 {
    font-size:22px;
    color:#fff;
    text-transform:uppercase;
    font-family: "gotham_mediumregular";
}
.top-ban-not h5 {
    font-size:18px;
    color:#fafafa;
}
.niti-content {
    padding:30px;
}
.niti-content h2 {
    font-size:22px;
    color:#232323;
    margin:0 0 25px;
    text-transform:uppercase;
    padding-bottom:10px;
    border-bottom:1px solid #eee;
}
.niti-content h2 span {
    font-size:16px;
}
.niti-content h2 span a {
    color:#33bb87;
}
.niti-content h2 span i {
    font-size:22px;
}
.niti-content p {
    font-size:16px;
    color:#33bb87;
}
.niti-content .btn {
    background:#33bb87;
    color:#fff;
}
.niti-details-cli .media-left{ padding-left:0px; }
.niti-details-cli1 .media-left{ padding-left:0px; }
.inner-main-bio-det-head {
    padding:10px;
}
.inner-main-bio-det-head h2, .inner-main-bio-det-head h4{
   margin:0;    
}
.inner-main-bio-det-head h4 {
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.4s linear 0s;
  padding-top: 10px;
}
.inner-main-bio-det-head h4:hover {
    color: #ababac;
}

@media screen and (max-width : 767px) {
    .niti-details-info {
            width:90%;
            right:-90%;
    }
    .inner-main-bio-det-head h4 {
        font-size: 15px;
    }
    .inner-main-bio-det-head h2 {
        font-size: 25px;
    }
}

@media screen and (max-device-width: 812px) and (orientation: landscape) {
    .niti-details-info .top-ban-not {
        display:none;
    }
    .niti-details-info {
        width:50%;
        right:-50%;
    }
}

