.artical-post-sec {
    padding:40px 0;
    background-color:  #fff;
}
.artical-leftyy {
}
.art-bane {
    box-shadow:0 0 3px #eee;
    border:1px solid #eee;
    position:relative;
    border-radius:04px;
}
.art-bane img {
    width:100%;
    border-bottom:2px solid #36bf8a;
    max-height:500px;
}
.art-bane h2 {
    padding:14px 20px;
    color:#232323;
    margin:0px;
    font-size:18px;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.artical-leftyy p:first-of-type {
    padding-top: 40px;
}
.artical-leftyy p {
    font-size:16px;
    padding:1px 15px 1px 15px;
    color:#5a5656;
    line-height:25px;
}
.artical-leftyy img {
    max-width: 100%;
}
.hash-taber {
    padding:10px 0;
    border-bottom:1px solid #eee;
}
.hash-taber .pull-left ul {
    padding:0px;
    margin:0px;
    font-style:italic;
    color:#9e9e9e;
}
.hash-taber .pull-left ul li {
    list-style-type:none;
    display:inline-block;
    margin:0 05px;
}
.hash-taber .pull-left ul li a {
    color:#9e9e9e;
    font-size:15px;
    font-style:italic;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.hash-taber .pull-left ul li a:hover {
    color:#36bf8a;
}
.hash-taber .pull-right .btn {
    border:1px solid #9e9e9e;
    color:#9e9e9e;
    font-size:14px;
    padding:2px 15px;
    margin:0 03px;
    background:#fff;
    border-radius:15px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.hash-taber .pull-right .btn:hover, .boter-hash-taber ul li a:hover {
    border:1px solid #36bf8a;
    color:#36bf8a;
}
.boter-hash-taber {
    padding:10px 0;
}
.boter-hash-taber span {
    font-size:16px;
    font-family:"gotham_mediumregular";
    color:#1c1c1c;
    text-transform:uppercase;
}
.cust-posterd a {
    color:#F00;
    opacity:0;
    font-family:"gotham_mediumregular";
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.cust-posterd:hover a {
    opacity:1;
}
.boter-hash-taber ul {
    margin:0;
    padding:0;
    display:inline-block;
}
.boter-hash-taber ul li {
    list-style-type:none;
    display:inline-block;
    margin:1px 03px;
}
.boter-hash-taber ul li .cust-posterd {
    border:1px solid #9e9e9e;
    color:#9e9e9e;
    font-size:16px;
    padding:2px 15px;
    display:block;
    background:#fff;
    font-family: 'gotham_extralightregular';
    border-radius:15px;
    text-transform:none;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.boter-hash-taber ul li .cust-posterd:hover a {
    border:none;
}
.arti-coment-div {
    margin:20px 0 0;
}
.arti-coment-div h3 {
    margin:0px;
    font-size:18px;
    color:#35bb87;
    padding:05px 10px 10px;
    border-bottom:3px solid #35bb87;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.arti-coment-div h4 {
    margin:0px;
    font-size:16px;
    color:#919191;
    position:relative;
    padding:10px 10px 0;
}
.arti-coment-div > h4 > span {
    font-size:20px;
    color:#35bb87;
}
.arti-coment-div > h4 > .pull-right i {
    font-size:18px;
    padding:0px 6px;
    border:1px solid #33bb87;
    color:#33bb87;
    border-radius:04px;
}
.post-arti-comt {
    margin:30px 0;
    padding:0 10px 20px;
    border-bottom:1px solid #eee;
}
.post-arti-comt .media .post-img {
    height:55px;
    width:55px;
    border-radius:50%;
    border:1px solid #36BF8A;
}
.post-arti-comt .media .post-img img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.post-arti-comt .media .media-body {
    padding-left:20px;
    position: relative;
    padding-right: 50px;
}
.post-arti-comt .media, .post-arti-comt .media-body {
    overflow: unset;
}
.post-arti-comt .media .media-body input {
    height:55px;
    box-shadow:none;
}
.post-arti-comt .media .media-body input:hover, .post-arti-comt .media .media-body input:focus, .post-arti-comt .media .media-body textarea.mention:hover, .post-arti-comt .media .media-body textarea.mention:focus {
    border:1px solid #33bb87;
}
.post-arti-comt .media .media-body .btn {
    height:55px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.post-arti-comt .media .media-body .btn:hover {
    background:#33bb87;
    color:#fff;
}
.sas-counter {
    position:absolute;
    right:-5px;
    top:-5px;
    display:block;
    background:#fff;
    border-radius:50%;
    font-size:10px;
    color:#33bb87;
    text-align:center;
    content:"";
    height:23px;
    width:23px;
    border:2px solid #33bb87;
    line-height:20px;
}
.arti-share-btns {
    margin:15px 0;
    border-radius:4px;
    box-shadow:0 0 3px #eee;
    border:1px solid #eee;
    height:120px;
}
.arti-share-btns h2 {
    padding:10px;
    text-align:center;
    background:#eee;
    color:#33bb87;
    font-size:18px;
    font-family:"gotham_mediumregular";
    margin:0px;
}
.arti-share-btns .opt-ashare-bts {
    padding:20px;
    display:flex;
    justify-content: center;
}
.opt-ashare-bts .btn {
    width:18%;
    font-size:20px;
    margin:3px 0;
    padding:08px 0;
    position:relative;
}
.opt-ashare-bts .btn i {
    margin:0 auto;
    position:absolute;
    left:0;
    top:0;
    right: 0;
    height:36px;
    width:35px;
    line-height:35px;
}
.fa-facebook:hover{
   color: #3c5a96;
}
.twictt:hover{
    color: #00aced;;
}
.gogle-pluet:hover{
    color: red;
}
.link-eple:hover{
    color: #0077B5;
}
.copy:hover{
    color: green;
}
.copy_show{
    display:none;
    position:absolute;
    width: 95%;
    padding:10px;
    text-align:center;
    background:#eee;
    color:#33bb87;
    font-size:10px;
    font-family:"gotham_mediumregular";
    margin:0px;
}
.art-joint-btn {
    text-align:center;
}
.art-joint-btn .btn {
    background:#fff;
    border:2px solid #33bb87;
    color:#33bb87;
    font-size:14px;
    padding:05px 30px;
    font-family:"gotham_mediumregular";
    text-transform:uppercase;
}
.art-joint-btn .repot {
    background:#33bb87;
    color:#fff;
    border-right:none !important;
	padding: 5px 30px;
}
.art-user-date {
    text-align:center;
    padding:10px 10px 0 10px;
}
.art-user-date span {
    font-size:14px;
    color:#777;
    padding:0 10px 10px;
}
.art-user-date span i {
    color:#000;
}
.art-user-date b {
    color:#000;
    font-weight:bold;
    text-transform:uppercase;
}
.user-art-media .media {
    padding:0 10px 8px;
    position:relative;
}
.user-art-media .media .media-heading {
    margin:0px;
    padding:15px 0 0;
    font-size:16px;
    color:#464646;
    text-transform:uppercase;
}
.user-art-media .media .green-sterp {
    position:absolute;
    left:0;
    bottom:0;
    padding:06px 10px 06px 85px;
    background:#33bb87;
    color:#fff;
    width:100%;
    font-size:13px;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.user-art-media .media .green-sterp span a {
    color:#fff;
    transition:all 300ms linear 0s;-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.user-art-media .media .green-sterp span a:hover {
    color:#000;
}
.right-aticalss .origneal-work-btn {
    display:block;
    border:2px solid #33bb87;
    color:#33bb87;
    font-size:16px;
    text-transform:uppercase;
    background:#fff;
    width:100%;
    font-family:"gotham_mediumregular";
}
.art-user-infor {
    padding:20px 0;
    border-radius:4px;
    box-shadow:0 0 3px #eee;
    border:1px solid #eee;
    margin:15px 0;
}
.pos-art-profile {
    position:relative;
    height:70px;
    width:70px;
    border-radius:50%;
    border:5px solid;
    border-color:rgb(56,197,145);
    border-color:rgba(56,197,145,0.2);
    z-index:3;
}
.pos-art-profile img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.btn-counters {
    position:absolute;
    right:2px;
    top:-10px;
    content:'';
    height:20px;
    width:20px;
    font-size:10px;
    border-radius:50%;
    line-height:15px;
    background:#36BF8A;
    border:2px solid #eee;
    color:#fff;
    opacity:0;
    transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);-webkit-transform:scale(0);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dow-sav-like-btn .btn:hover .btn-counters {
    opacity:1;
    transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);-webkit-transform:scale(1);
}
.relar-job-posr {
    padding:0px 15px;
    height: 232px;
    overflow: auto;
}
.relar-job-posr ul {
    padding:0px;
    margin:0px;
}
.relar-job-posr ul li {
    list-style-type:none;
    display:block;
    padding:15px 0;
    border-bottom:1px solid #eee;
}
.relar-job-posr ul li:last-child {
    border-bottom:none;
}
.relar-job-posr ul li h3 {
    font-size:14px;
    color:#33bb87;
    margin:0px;
    font-family: "gotham_mediumregular";
}
.relar-job-posr ul li p {
    margin:0px;
    font-size:14px;
    color:#919191;
}
.post-ari-img {
    height:60px;
    width:60px;
    position:relative;
    border-radius:50%;
    border:3px solid #cccccc;
    position:relative;
}
.post-ari-img img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.posted-arti-comment {
    min-height: 500px;
    overflow: auto;
}
.posted-arti-comment .media {
    padding:15px 30px;
}
.posted-arti-comment .media .media-heading {
    font-size:18px;
    color:#464646;
    margin-bottom:20px;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.posted-arti-comment .media .media-body p {
    padding:0 10px 10px;
    font-size:16px;
    color:#919191;
}
.sl-italic {
    font-size:12px;
    font-style:italic;
    color:#777;
    text-transform:lowercase;
    font-family:"gotham_lightregular";
}
.posted-arti-comment .media .media-heading .pull-right i {
    height:30px;
    width:30px;
    border-radius:50%;
    border:1px solid #454545;
    color:#454545;
    text-align:center;
    line-height:30px;
    font-size:14px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.posted-arti-comment .media .media-heading .pull-right a:hover i {
    border:1px solid #33bb87;
    color:#33bb87;
}
@media (min-width: 320px) and (max-width: 800px) {
    .posted-arti-comment {
        min-height: 400px;
        overflow: auto;
        border-bottom: 1px solid #eee;
    }
}