.rotate_profile_btn{
    display: none;
}
.update_profile_btn{
    display: none;
}
.dotss .dropdown-menu {
    right:0;
    left:auto;
}
.dotss.open .crxl::before {
    right:0px;
    background:#36bf8a;
}
.dotss.open .crxl {
    background:#36bf8a;
}
.dotss.open .crxl::after {
    left:0px;
    background:#36bf8a;
}
.dotss {
    padding:5px 10px 5px 20px;
    border-left:1px solid #ddd;
    display:inline;
    position:relative;
}
.crxl {
    position:relative;
    height:8px;
    width:8px;
    background:#fff;
    display:inline-block;
    border-radius:50%;
}
.crxl:after {
    position:absolute;
    left:-10px;
    top:0px;
    height:8px;
    width:8px;
    background:#fff;
    content:'';
    border-radius:50%;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.crxl:before {
    position:absolute;
    right:-10px;
    top:0px;
    height:8px;
    width:8px;
    background:#fff;
    content:'';
    border-radius:50%;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.editors-pop {
    position:absolute;
    right:0;
    top:10px;
    content:'';
    background:rgba(0,0,0,0.5);
    height:40px;
    width:40px;
    color:#fff;
    border:1px solid #fff;
    border-radius:50%;
    text-align:center;
    line-height:43px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.editors-pop a i {
    font-size:22px;
}
.editors-pop a {
    color:#fff;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.editors-pop a:hover {
    color:#269b70;
}
.editors-pop:hover {
    background:#fff;
}
.btin-aab {
    position:absolute;
    left:0;
    bottom:0;
    content:'';
    width:100%;
    /*height:50px;*/
    text-align:right;
}
.btin-aab .conee-btn {
    height:40px;
    border-radius:25px;
    border:2px solid #fff;
    background:#36bf8a;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    padding:05px 16px;
    margin-right:10px;
    font-family: 'gotham_lightregular';
}
.btin-aab .folll-btn {
    height:40px;
    border-radius:25px;
    border:2px solid #fff;
    background:#fff;
    color:#269b70;
    font-size:16px;
    text-transform:uppercase;
    padding:05px 16px;
    font-family: 'gotham_lightregular';
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.btin-aab .masss-btn {
    height:40px;
    border-radius: 25px;
    border:2px solid #fff;
    background:#fff;
    color:#269b70;
    font-size:16px;
    text-transform:uppercase;
    padding:05px 16px;
    margin-right:06px;
    font-family: 'gotham_lightregular';
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.btin-aab .folll-btn:hover, .btin-aab .masss-btn:hover {
    background:#36bf8a;
    color:#fff;
}
.inters-abter {
    position:relative;
    min-height:380px;
}
.main-user-acti {
    margin:0px;
}
.main-user-acti .media-left i {
    font-size:24px;
    color:#269b70;
    margin-right:08px;
}
.main-user-acti .media-body {
    position:relative;
}
.main-user-acti .media-heading {
    color:#000;
    font-size:15px;
}
.main-user-acti .media-heading span {
    font-size:14px;
    color:#777;
}
.main-user-acti .media-body p {
    color:#777;
    font-size:14px;
}
.main-user-acti .media-body p a {
    color:#269b70;
}
.main-user-acti .media-body .posting-day {
    position:absolute;
    right:0;
    top:0;
    content:'';
    font-size:12px;
    color:#000;
    text-transform:uppercase;
}
.photos-followers {
    margin:0 -5px;
}
.photos-followers > ul {
    padding:0px;
    margin:0px;
}
.photos-followers > ul > li {
    width:50%;
    padding:0 5px;
    float:left;
    list-style-type:none;
}
.photos-info-img {
    margin:0px;
}
.photos-info-img ul {
    padding:0px;
    margin:0px;
}
.photos-info-img ul li {
    width:33.333%;
    float:left;
    list-style-type:none;
    height:105px;
    padding:4px;
}
.photos-info-img ul li img {
    width:100%;
    height:100%;
}
.foll-conec-folow-tab ul {
    background:#eee;
    border-radius:4px 4px 0 0;
    border:1px solid #ddd;
}
.foll-conec-folow-tab ul li {
    width:33.333%;
}
.foll-conec-folow-tab ul li a {
    margin:0px;
    text-align:center;
    font-size:13px;
    text-transform:uppercase;
    color:#222;
    font-weight:bold;
    padding:10px 0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.foll-conec-folow-tab ul li.active a, .foll-conec-folow-tab ul li a:hover, .foll-conec-folow-tab ul li a:focus,.foll-conec-folow-tab ul li.active a:focus {
    background:#36bf8a;
    color:#fff;
}
/*green color for link*/
.actlink {
    color: #269b70 !important;
}
.bio-leb-profile .clearfix {
    margin-bottom:12px;
}
.bio-leb-profile .clearfix label {
    font-weight:bold;
    color:#000;
}
.bio-leb-profile .clearfix a {
    color:#269b70;
}
.conne-medias {
    margin:8px 0 0;
}
.conne-medias .media-heading {
    padding:10px 0;
    font-size:18px;
    color:#000;
}
.conne-medias .media-heading a {
    border-radius:20px;
    background:#fff;
    color:#38c591;
    border:1px solid #38c591;
    font-size:14px;
    padding:05px 15px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.conne-medias .media-heading a:hover {
    color:#000;
    border:1px solid #000;
}
.pros-user-design {
    height:104px;
    width:104px;
    background:#eee;
    margin:80px auto;
    position:relative;
    border-radius:50%;
}
.pros-user-design img {
    width:100%;
    height:100%;
    border-radius:50%;
}
.pros-user-design:after {
    height:128px;
    width:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-64px;
    margin-left:-75px;
    content:'';
    border:1px solid #36bf8a;
    border-radius:50%;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
    transition:all 100ms linear 0s;-o-transition:all 100ms linear 0s;-moz-transition:all 100ms linear 0s;-webkit-transition:all 100ms linear 0s;
}
.pros-user-design:before {
    height:166px;
    width:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-83px;
    margin-left:-100px;
    content:'';
    border:1px solid rgba(56,197,145,0.4);
    border-radius:50%;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.pros-user-design:hover:after, .pros-user-design:hover:before {
    transform:scale(1.2);-o-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);
}
.conn-mediass {
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    height: 344px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
}
.floo-users {
    height:35px;
    width:35px;
    border-radius:50%;
}
.floo-users img {
    width:100%;
    height:100%;
    border-radius:50%;
}
.main-profile-sec {
    padding:30px 0;
    background-color:  #fff;
}
.user-with-content {
    margin-bottom:10px;
    box-shadow:0 0 5px #eee;
}
.user-with-content h2 {
    font-size:16px;
    color:#269b70;
    padding:10px 15px;
    px; */
    border:1px solid #ddd;
    background:#eee;
    border-radius:4px 4px 0 0;
    margin:0px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.5px;
}
.user-with-content h2 a {
    color:#269b70;
}
.inner-imfo-tion {
    padding:15px;
    font-size:15px;
    color:#8d8d8d;
    border:1px solid #ddd;
    border-top:none;
    border-radius:0 0 4px 4px;
    word-break: break-all;
}
.user-hor-li ul {
    padding:0px;
    margin:0px;
}
.user-hor-li ul li {
    list-style-type:none;
    padding:0px 04px 04px 25px;
    width:50%;
    float:left;
    position:relative;
    font-size:13px;
    color:#000;
    text-transform:uppercase;
}
.user-hor-li ul li:after {
    position:absolute;
    left:0;
    top:0;
    font-size:14px;
    color:#269b70;
    content:'\f009';
    font-family:'FontAwesome';
}
.oneline-user-li ul {
    padding:0px;
    margin:0px;
}
.oneline-user-li ul li {
    width:100%;
    border-bottom:1px solid #ddd;
    padding:10px 0;
    list-style-type:none;
}
.oneline-user-li ul li:last-child {
    border-bottom:none;
}

@media (max-width: 767px) {
    .photos-followers > ul > li{width: 100%;}
    .inters-abter {
        min-height: 100px;
    }
    .btin-aab {
        text-align: center !important;
    }
    .btin-aab .masss-btn{
        margin-top: 5px;
    }
}
@media screen and (max-device-height: 500px){
	.image_modal_align{
		margin-top: 30px;
		background-color: black;
	}
}

@media (max-width: 480px){
    .user-hor-li ul li { 
        font-size: 11px;
        padding: 0px 04px 04px 15px;
    }
}
