.connected-countions h6 {
    margin:15px 0 0;
    font-size:18px;
    color:#454545;
    font-family: 'gotham_mediumregular';
    text-transform:uppercase;
    padding:0 0 10px 20px;
}
.connected-countions .main-sel-secentry {
    padding:30px;
    border:1px solid #eee;
    box-shadow:0 0 3px #eee;
    border-radius:04px;
    font-size:16px;
    margin:0 0 0 20px;
}
.main-sel-secentry p {
    font-size:14px;
    color:#959595;
    margin-bottom:30px;
}
.main-inner-tab-info .dl-horizontal {
    margin-bottom:10px;
}
.main-inner-tab-info .dl-horizontal dd{
    margin-top:10px;
    /*height:35px;*/
}
.main-inner-tab-info .dl-horizontal dt {
    color:#000;
    text-align:left;
}
.main-inner-tab-info .dl-horizontal dd {
    color:#000;
}
.main-inner-tab-info .save-btn {
    background: #36bf8a none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    float:right;
    letter-spacing: 0.5px;
    padding: 5px 25px;
    transition: all 300ms linear 0s;
}
.main-inner-tab-info .save-btn:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #269b70;
    color: #269b70;
}
.main-inner-tab-info input {
    width:100%;
    height:25px;
    border:none;
    border-bottom:1px solid #eee;
    box-shadow: none;
    border-radius: 0px;
}
.main-inner-tab-info input:hover, .main-inner-tab-info input:focus {
    box-shadow: none;
}
.main-inner-tab-info .input-group-addon {
    height: 25px;
    padding: 0 10px;
    border-left: 1px solid #ddd;
}
.users-conectry-nav {
    margin:0 -8px;
}
.users-conectry-nav ul {
    padding:0px;
    margin:0px;
}
.users-conectry-nav > ul > li {
    float:left;
    list-style-type:none;
    padding:0 8px;
    position:relative;
    margin-bottom:15px;
}
.users-conectry-nav > ul > li > a {
    display:block;
    padding:15px 20px;
    border:2px solid #eee;
    font-size:16px;
    color:#454545;
    font-family: 'gotham_mediumregular';
    vertical-align:middle;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.users-conectry-nav > ul > li > a > i {
    margin-right:10px;
    height:35px;
    width:35px;
    text-align:center;
    background:#454545;
    color:#fff;
    line-height:35px;
    border-radius:50%;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.users-conectry-nav > ul > li > a:hover, .users-conectry-nav > ul > li.selcted-sol > a {
    color:#36bf8a;
    border:2px solid #36bf8a;
}
.users-conectry-nav > ul > li > a:hover i, .users-conectry-nav > ul > li.selcted-sol > a > i {
    background:#36bf8a;
}
.users-conectry-nav > ul > li.selcted-sol > .remores {
    opacity:1;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
}
.conn-mediass {
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    height: 344px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
}
.floo-users {
    height:35px;
    width:35px;
    border-radius:50%;
}
.floo-users img {
    width:100%;
    height:100%;
    border-radius:50%;
}
.conne-medias {
    margin:8px 0 0;
}
.conne-medias .media-heading {
    padding:10px 0;
    font-size:18px;
    color:#000;
}
.conne-medias .media-heading a {
    border-radius:20px;
    background:#fff;
    color:#38c591;
    border:1px solid #38c591;
    font-size:14px;
    padding:05px 15px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.conne-medias .media-heading a:hover {
    color:#000;
    border:1px solid #000;
}
.pros-user-design {
    height:104px;
    width:104px;
    background:#eee;
    margin:80px auto;
    position:relative;
    border-radius:50%;
}
.pros-user-design img {
    width:100%;
    height:100%;
    border-radius:50%;
}
.pros-user-design:after {
    height:128px;
    width:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-64px;
    margin-left:-75px;
    content:'';
    border:1px solid #36bf8a;
    border-radius:50%;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
    transition:all 100ms linear 0s;-o-transition:all 100ms linear 0s;-moz-transition:all 100ms linear 0s;-webkit-transition:all 100ms linear 0s;
}
.pros-user-design:before {
    height:166px;
    width:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-83px;
    margin-left:-100px;
    content:'';
    border:1px solid rgba(56,197,145,0.4);
    border-radius:50%;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.pros-user-design:hover:after, .pros-user-design:hover:before {
    transform:scale(1.2);-o-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);
}