.dash-middile-nav li a:hover, .dash-middile-nav a.active {
 color:#36BF8A;
}
.user-dash-sec {
}
.dash-header {
}
.dash-header-top {
    padding:10px;
    background:#fff;
}
.dash-in-menu-open .dash-header-top {
    border-bottom:1px solid #eee;
}
.dash-header-top ul {
    padding:0px;
    margin:0px;
    text-align:center;
}
.dash-header-top ul li {
    display:inline-block;
    list-style-type:none;
    margin:0 15px;
}
.dash-header-top ul li a i {
    font-size:20px;
    margin-right:05px;
}
.dash-header-top ul li a {
    font-size:14px;
    color:#9e9e9e;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dash-header-top ul li a:hover {
    color:#269b70;
}
/*.dash-header-bot {
    border-bottom:1px solid transparent;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dash-in-menu-open .dash-header-bot {
    border-bottom:1px solid #eee;
}*/
.dash-header-bot {
    overflow:hidden;
}
.dash-header-bot .recomended-f {
    width:10%;
    float:left;
    color:#fff;
    font-weight:bold;
    font-size:16px;
    cursor:pointer;
    padding:05px 20px 05px 5px;
    text-transform:uppercase;
    text-align:right;
    position:relative;
    /*transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;*/
}
.dash-header-bot .recomended-f:after {
    position:absolute;
    left:100%;
    top:50%;
    margin-top:-8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content:'';
}
.dash-header-bot .recomended-f .filter-icon {
    content:url("../../Frontend/img/filter_icon.png");
    height:20px;
    cursor:pointer;
    position:relative;
    padding: 0px 60px 0px 10px;
    /*transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;*/
}
.dash-in-menu-open .dash-header-bot .dash-middile-nav {
    right: 0;
    opacity:1;
    visibility:visible;
}
.dash-header-bot .dash-middile-nav {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding-right: 10%;    
    opacity:0;
    visibility:hidden;
    position: relative;
    width: 90%;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dash-middile-nav ul {
    padding:0px;
    margin:0px;
    text-align:center;
}
.dash-middile-nav ul li {
    display:inline-block;
    list-style-type:none;
    margin:05px 15px 0;
}
.dash-middile-nav ul li a {
    font-size:14px;
    color:#000;
}
.dash-header-bot .dash-right-search {
    width:25%;
    float:left;
    background:#36bf8a;
    color:#fff;
    display:none;
}
.resp-btn i.fa.fa-angle-down {
    display: none;
}

@media screen and (min-width : 992px) and (max-width : 1199px) {
    .dash-middile-nav ul li {
        margin:05px 05px 0;
    }
    .dash-middile-nav ul li a {
        font-size:12px;
    }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
    .dash-header-bot .recomended-f {
        font-size:13px;
        height:30px;
    }
}

@media screen and (max-width : 480px) {
    .resp-btn {
        border-radius:50%;
        display:block;
        position:absolute;
        right:15px;
        top:0px;
        z-index:6;
        height:30px;
        width:30px;
        line-height:30px;
        text-align:center;
        background:#36BF8A;
        transform:rotate(0deg);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);
        transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
    }
    .resp-btn a {
        color:#fff;
        font-size:18px;
    }
    .dash-header {
        position:absolute;
        width:100%;
        top:-5%;
        z-index:5;
        transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
    }
    .resp-open-menu .dash-header {
        top:0;
        transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
    }
    .resp-open-menu .resp-btn {
        transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);
        border-radius:50%;
    }
    .dash-middile-nav ul li {
        margin:05px;
    }
    .dash-header-top ul li a {
        font-size:13px;
    }
    .dash-header-top ul li a i {
        font-size:16px;
    }
    .dash-header-top {
        padding:05px;
    }
    .dash-header-top ul li {
        float:left;
        width:50%;
        text-align:center;
        margin:0px;
    }
    .dash-header-bot .recomended-f::after {
        display:none;
    }
    .dash-header-bot .recomended-f {
        width:100%;
        text-align:center;
        padding:05px;
    }
    .dash-header-bot .dash-middile-nav {
        width:100%;
        padding-right: 0;
    }
    .dash-header-bot .dash-right-search {
        width:100%;
        text-align:center;
    }
    .resp-btn i.fa.fa-angle-down {
        display: block;
        margin-top: 6px;
    }
}

@media screen and (max-width : 340px) {

    .dash-header-top ul li {
        width:100%;
    }