body {
    user-select: none;
}
div#content {
    /*background-color: #f5fff6ad;*/
    padding: 0!important;
    background: linear-gradient(to right bottom, #a9dfa582, #c7f0e82e,#ebf5e4a1, #f8ffe936, #f0fff173);
}

.material-shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.material-shadow-2 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#signup2 {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 56px auto;
}

#search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000008a;
    z-index: 2;
}
#signup2 #group-search-bar {
    position: relative;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    z-index: 2;
}
#signup2 #group-search-bar > i {
    position: absolute;
    background-color: white;
    color: #919191;
    padding: 10px 10px;
    border-radius: 50px;
}
#signup2 #group-search-bar > input {
    border: 0;
    width: 100%;
    height: 34px;
    padding: 0 10px 0 45px;
    outline: none;
    font-size: 13px;
    color: #616161;
    border-radius: 50px;
}

#signup2 #group-search-result {
    display: none;
    background: white;
    padding: 6px 10px 6px 10px;
    margin: 0 auto;
    width: 91%;
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 5px 5px;
}

#group-search-bar .fa-remove {
    cursor: pointer;
}

#trending-group-container, #major-group-container {
    margin: 20px 0;
    padding: 20px 0 20px 0;
    background-color: white;
    border-radius: 10px;
}

@media only screen and (min-width: 950px) {
    #trending-group-container, #major-group-container, .child-group-container {
        margin-left: 4px!important;
        margin-right: 4px!important;
    }
}

@media only screen and (min-width: 720px){
    .trending-group-wrapper::-webkit-scrollbar {
        display: unset!important;
    }
}

.group-type {
    color: #616161;
    font-size: 17px;
    text-align: center;
}

.trending-group-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
}

.trending-group-wrapper::-webkit-scrollbar {
    display: none;
}

.major-group-wrapper {
    text-align: center;
}


.major-group {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 25px 12px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
}
.trending-group {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 9px 40px 9px;
    transition-duration: 0.2s;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 50%;
}
.trending-group > img, .major-group > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.trending-group > span, .major-group > span {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    color: #616161;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.9px;
    overflow: initial;
    z-index: 1;
    white-space: normal;
}
.trending-group > span {
    top: 125px;
}
.major-group > span {
    top: 145px;
}

.trending-group.selected, .major-group.selected {
    transform: scale(0.9);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.trending-group.selected::before, .major-group.selected::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f058';
    color: #52b050;
    top: -10px;
    left: -6px;
    font-size: 40px;
    z-index: 1;
}

.trending-group:after, .major-group:after {
    border-radius: inherit;
    position: absolute;
    opacity: 0.7;
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(117, 117, 117, 0.45) 1%,rgb(0, 0, 0) 75%,rgb(0, 0, 0) 100%);*/
}

.searched-group {
    position: relative;
    font-size: 15px;
    color: #616161;
    padding: 3px 0;
    cursor: pointer;
    transition-duration: 0.25s;
}
.searched-group.selected {
    padding-left: 20px;
}
.searched-group.selected::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f058';
    color: #52b050;
    left: 1px;
}


.signup2-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 7px 38px #9E9E9E;
}
.signup2-footer.row {
    padding: 10px 0;
}
.signup2-footer button {
    border-radius: 50px;
    background-color: #53b154;
    border: 0;
    padding: 8px 35px;
    color: white;
    outline: none;
}



/*
 * CSS for step 2 of signup2 view
 */
#signup2-step2 .group-header {
    font-size: 15px;
    padding-bottom: 5px;
    color: #757575;
}
#signup2-step2 .child-group-container {
    background-color: white;
    margin: 10px 0;
    padding: 5px 0 10px 0;
}
#signup2-step2 .child-group {
    display: inline-block;
    border: 1px solid #53b154;
    border-radius: 15px;
    padding: 2px 10px;
    color: #53b154;
    margin: 5px 5px;
    cursor: pointer;
}
#signup2-step2 .selected {
    background-color: #53b154;
    color: #fff;
}

.swal2-container.swal2-shown {
    transform: scale(1.2);
}
.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #31765b !important;
    padding: 9px 46px!important;
}
