.users-one {
    float:right;
    padding-right:20px;
    border-right:1px solid #fff;
    margin:1px 0px 0 0;
    position:relative;
}
.links {
    float:right;
}
.links > a {
    display:block;
    width:40px;
    color:#fff;
    line-height:35px;
    font-size:16px;
    text-align:center;
}
.loger-form input {
    background:none;
    box-shadow:none;
    border:none;
    height:40px;
    border-bottom:1px solid rgba(207,235,245,0.3);
    padding:0px 30px;
    color:#fff;
    border-radius:0px;
    font-size:14px;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.loger-form input:hover, .loger-form input:focus {
    box-shadow:none;
    border-bottom:1px solid #fff;
}
.loger-form .form-control::-moz-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
.loger-form .form-control:-moz-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
.loger-form .form-control:-ms-input-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
.loger-form .form-control::-webkit-input-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
/*---------------------LOG-IN REGISTER-SEC START-----------------------------*/
.models-cust {
}
.models-cust .modal-dialog {
    width:400px;
    margin:60px auto 40px;
}
.models-cust > .fade.in, .sole-popup > .fade.in {
    background:rgba(56, 197, 145, 0.9);
}
.models-cust .modal-content, .sole-popup .modal-content {
    background:none;
    box-shadow:none;
    border:1px solid rgba(207,235,245,0.3);
    border-radius:0px;
    cursor:default;
}
.models-cust .modal-header {
    border:none;
    padding:0px;
    min-height:0px;
}
.models-cust .modal-body {
    padding:0px;
}
.main-log-tab .nav-tabs > li > a {
    margin:0px;
    border-radius:0px;
    text-align:center;
    font-size:20px;
    color:#fff;
    letter-spacing:0.5px;
    text-transform:uppercase;
    padding:20px 0;
    border:1px solid transparent;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.main-log-tab .nav-tabs > li {
    width:50%;
}
.main-log-tab .nav-tabs > li > a:hover {
    background:none;
    border:1px solid transparent;
}
.main-log-tab .nav-tabs > li.active > a, .main-log-tab .nav-tabs > li.active > a:focus, .main-log-tab .nav-tabs > li.active > a:hover {
    background:none;
    border:none;
    color:#fff;
    font-weight:bold;
    border-bottom:3px solid #fff;
}
.cust-devider {
    position:relative;
}
.cust-devider:after {
    height:40px;
    width:1px;
    position:absolute;
    right:-0.5px;
    top:50%;
    margin-top:-20px;
    content:'';
    background:rgba(207,235,245,0.3);
}
.models-cust .nav-tabs {
    border-bottom:1px solid rgba(207,235,245,0.3);
}
.inner-socials {
    position:relative;
    padding:20px;
    text-transform:uppercase;
}
.sol-head {
    position:relative;
    color:#fff;
    font-size:12px;
    text-align:center;
    font-weight:bold;
}
.sol-head:before{
    position:absolute;
    left:2%;
    top:50%;
    height:1px;
    width:100px;
    content:'';
    background:#fff;
}
.sol-head:after {
    position:absolute;
    right:2%;
    top:50%;
    height:1px;
    width:100px;
    content:'';
    background:#fff;
}
.cust-solc {
    margin:15px 0;
}
.cust-solc ul {
    margin:0px;
    padding:0px;
    text-align:center;
}
.cust-solc ul li {
    display:inline-block;
    margin:0 05px;
}
.cust-solc ul li a {
    display:block;
    height:40px;
    width:55px;
    border:1px solid #cfebf6;
    color:#fff;
    line-height:40px;
    border-radius:4px;
    font-size:16px;
    text-align:center;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.cust-solc ul li a:hover {
    border-radius:0px;
}
.or-head {
    position:relative;
    color:#fff;
    font-size:12px;
    text-align:center;
    font-weight:bold;
}
.or-head:before{
    position:absolute;
    left:2%;
    top:50%;
    height:1px;
    width:150px;
    content:'';
    background:#fff;
}
.or-head:after {
    position:absolute;
    right:2%;
    top:50%;
    height:1px;
    width:150px;
    content:'';
    background:#fff;
}

.forg-remi {
    padding:0 30px;
    color:#fff;
    margin:10px 0 20px;
}
.forg-remi .reminder-me {
    float:left;
    text-align:left;
}
.forg-remi .reminder-me label {
}
.forg-remi .forgot-pass {
    float:right;
    text-align:right;
}
.forg-remi .checkbox {
    margin:0px;
}
.forgot-pass a {
    color:#fff;
}
.btns-loger {
    text-align:center;
    margin:10px 0 30px;
}
.log-btn {
    font-size:18px;
    color:#fff;
    background:none;
    border-radius:25px;
    padding:0 55px;
    height:45px;
    text-transform:uppercase;
    border:1px solid #fff;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.log-btn:hover {
    color:#fff;
    background:#207655;
    border:1px solid transparent;
}
.reg-info {
    margin:20px;
    text-align:center;
    font-size:13px;
    color:#fff;
    padding:0 15px;
}
#myModal, #myModal-one,#myForgotModal, #myModal1, #myModal2, #myModal3, #myModal4, #profile-modal, #profile-modal1{
    cursor:url(../img/cross-one.png), default;
}
.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
    cursor: pointer;
}
.menu-open-button:hover {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked .menu-social {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-social:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.0px, 40px, 0px) scale(1);
    transform: translate3d(0.0px, 40px, 0px) scale(1);
}
.menu-open:checked ~ .menu-social:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(0.0px, 81px, 0) scale(1);
    transform: translate3d(0.0px, 80px, 0) scale(1);
}
.menu-open:checked ~ .menu-social:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(0.0px, 122px, 0) scale(1);
    transform: translate3d(0.0px, 120px, 0) scale(1);
}
.menu-open:checked ~ .menu-social:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.0px, 164px, 0) scale(1);
    transform: translate3d(0.0px, 160px, 0) scale(1);
}
.menu-open:checked ~ .menu-social:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(0.0px, 200px, 0) scale(1);
    transform: translate3d(0.0px, 200px, 0) scale(1);
}

/*SOC-LINKS Start*/
.menu-social,
.menu-open-button {
    border-radius: 0%;
    width: 40px;
    height: 40px;
    font-size:16px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.menu-open {
    display: none;
}
.menu-slp {
    margin: auto;
    z-index:999;
    height: 40px;
    text-align: center;
    margin-left:10px;
}
.menu-social:hover {
    background: #062A44;
    color: #3290B1;
}
.menu-social:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    transform:scale(0);
}
.menu-social:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    transform:scale(0);
}
.menu-social:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    transform:scale(0);
}
.menu-social:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    transform:scale(0);
}
.menu-social:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    transform:scale(0);
}
.blue-face {
    background-color: #3c5a96;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.google-pluss {
    background-color: #dd4b39;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.tweter-sol {
    background-color: #00aced;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.linkeed {
    background-color: #007bb6;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.intagramm {
    background-color: #517fa4;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.switch-button {
    width: 180px;
    border-radius:20px;
    text-align: center;
    will-change: transform;
    z-index: 197 !important;
    cursor: pointer;
    font-size:13px;
    background:#DEF5ED;
    border:2px solid #DEF5ED;
    font-weight:bold;
    color:#fff;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}
.switch-button-case {
    display: inline-block;
    background: none;
    height: 100%;
    color: #38C591;
    padding:8px;
    position: relative;
    border: none;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    text-transform: uppercase;
}
.switch-button-case:hover {
    color: #000;
    cursor: pointer;
}
.switch-button-case:focus {
    outline: none;
}
.switch-button button {
    color: #fff;
    background:#38C591;
    width: 100%;
    border-radius:19px;
    height: 100%;
    -webkit-transition: .3s ease-out all;
    transition: .3s ease-out all;
}
.switch-button .active-case {
    color: #fff;
}
.sole-popup .modal-header h4 {
    font-size:22px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.sole-popup .modal-footer {
    text-align:center;
    padding:10px 80px;
    color:#0e583f;
    border-top:1px solid rgba(207, 235, 245, 0.3);
}
.sole-popup .modal-header {
    border-bottom:1px solid rgba(207, 235, 245, 0.3);
}
.sole-popup .modal-body {
    text-align:center;
}
.sole-popup .modal-body .btn {
    background:#fff;
    font-size:100%;
    margin-bottom:5px;
    border-radius:25px;
    height:45px;
    text-align:left;
    line-height: 44px;
    padding:0 10% 0 10%;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.sole-popup .modal-body .btn i {
    width:50px;
    text-align:center;
    font-size:20px;
}
.btn.face-hov {
    border:1px solid #3c5a96;
    color:#3c5a96;
}
.btn.g-plus {
    border:1px solid #e47b71;
    color:#e47b71;
}
.btn.twit-hov {
    border:1px solid #00aced;
    color:#00aced;
}
.outer-header {
    background: linear-gradient(150deg, #2e9170 , #add9baf0, #97ea7e7a);
    background-color:#add9ba;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.outer-custom-nav {
    padding: 12px 100px;
}
.logo img {
    width:159px;
}

@media screen and (min-width : 992px) and (max-width : 1199px) {
    .in-head .logo {
        width:20%;
    }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
    .logo img {
        width:150px;
    }
}

@media (max-width: 767px){
    .models-cust .modal-dialog { width:95%; }
    .sol-head:before, .sol-head:after { width: 22%; }
    .or-head:before, .or-head:after { width: 40%; }
    .outer-custom-nav{padding: 12px 45px;}
    .in-head .logo img {
        width:130px;
    }
}

@media screen and (max-width : 480px) {
    .logo img {
        width: 110px !important;
    }
    .users-one {
        padding-right: 5px;
    }
    .switch-button-case {
        padding: 4px;
    }
    .switch-button {
        width: 149px;
        }
    .menu-slp{ margin-left:0px !important }

}

@media (max-width: 382px){
    .switch-button {
    width: 115px;
    font-size: 10px;
    }

    .logo img {
    width: 120px !important;
    }

}

@media screen and (max-width : 340px) {
    .logo {
        margin:2px 0;
    }
    .logo img {
        width:80px;
    }
}

}
