@font-face {
    font-family: 'gothic';
    src: url('../../Frontend/fonts/gothic.eot');
    src: local('gothic'), url('../../Frontend/fonts/gothic.woff') format('woff'), url('../../Frontend/fonts/gothic.ttf') format('truetype');
}
@font-face {
    font-family: 'Century_Gothic';
    src: url('../../Frontend/fonts/Century-Gothic.ttf') format('truetype'),
         url('../../Frontend/fonts/CenturyGothic.ttf') format('truetype'),
         url('../../Frontend/fonts/gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gothic_bold';
    src: url('../../Frontend/fonts/GOTHICB.TTF') format('truetype'),
         url('../../Frontend/fonts/GOTHICB0.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gothic_bold_italic';
    src: url('../../Frontend/fonts/GOTHICBI.TTF') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Gothic_italic';
    src: url('../../Frontend/fonts/GOTHICI.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html, body {
    font-family: 'Century_Gothic';
}

body {
    height: auto !important;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9989;
}

.row {
    margin-left:-05px !important;
    margin-right:-05px !important;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*---------------------LOG-IN REGISTER-SEC START-----------------------------*/
.models-cust {
}
.models-cust .modal-dialog {
    width:400px;
    margin:60px auto 40px;
}
.models-cust > .fade.in, .sole-popup > .fade.in {
    background:rgba(56, 197, 145, 0.9);
}
.models-cust .modal-content, .sole-popup .modal-content {
    background:none;
    box-shadow:none;
    border:1px solid rgba(207,235,245,0.3);
    border-radius:0px;
    cursor:default;
}
.sole-popup .modal-header h4 {
    font-size:22px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.sole-popup .modal-footer {
    text-align:center;
    padding:10px 80px;
    color:#0e583f;
    border-top:1px solid rgba(207, 235, 245, 0.3);
}
.sole-popup .modal-header {
    border-bottom:1px solid rgba(207, 235, 245, 0.3);
}
.sole-popup .modal-body {
    text-align:center;
}
.sole-popup .modal-body .btn {
    background:#fff;
    font-size:100%;
    margin-bottom:5px;
    border-radius:25px;
    height:45px;
    text-align:left;
    line-height: 44px;
    padding:0 10% 0 10%;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.sole-popup .modal-body .btn i {
    width:50px;
    text-align:center;
    font-size:20px;
}
.btn.face-hov {
    border:1px solid #3c5a96;
    color:#3c5a96;
}
.btn.g-plus {
    border:1px solid #e47b71;
    color:#e47b71;
}
.btn.twit-hov {
    border:1px solid #00aced;
    color:#00aced;
}
.models-cust .modal-header {
    border:none;
    padding:0px;
    min-height:0px;
}
.models-cust .modal-body {
    padding:0px;
}
.main-log-tab .nav-tabs > li > a {
    margin:0px;
    border-radius:0px;
    text-align:center;
    font-size:20px;
    color:#fff;
    letter-spacing:0.5px;
    text-transform:uppercase;
    padding:20px 0;
    border:1px solid transparent;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.main-log-tab .nav-tabs > li {
    width:50%;
}
.main-log-tab .nav-tabs > li > a:hover {
    background:none;
    border:1px solid transparent;
}
.main-log-tab .nav-tabs > li.active > a, .main-log-tab .nav-tabs > li.active > a:focus, .main-log-tab .nav-tabs > li.active > a:hover {
    background:none;
    border:none;
    color:#fff;
    font-weight:bold;
    border-bottom:3px solid #fff;
}
.cust-devider {
    position:relative;
}
.cust-devider:after {
    height:40px;
    width:1px;
    position:absolute;
    right:-0.5px;
    top:50%;
    margin-top:-20px;
    content:'';
    background:rgba(207,235,245,0.3);
}
.models-cust .nav-tabs {
    border-bottom:1px solid rgba(207,235,245,0.3);
}
.inner-socials {
    position:relative;
    padding:20px;
    text-transform:uppercase;
}
.sol-head {
    position:relative;
    color:#fff;
    font-size:12px;
    text-align:center;
    font-weight:bold;
}
.sol-head:before{
    position:absolute;
    left:2%;
    top:50%;
    height:1px;
    width:100px;
    content:'';
    background:#fff;
}
.sol-head:after {
    position:absolute;
    right:2%;
    top:50%;
    height:1px;
    width:100px;
    content:'';
    background:#fff;
}
.cust-solc {
    margin:15px 0;
}
.cust-solc ul {
    margin:0px;
    padding:0px;
    text-align:center;
}
.cust-solc ul li {
    display:inline-block;
    margin:0 05px;
}
.cust-solc ul li a {
    display:block;
    height:40px;
    width:55px;
    border:1px solid #cfebf6;
    color:#fff;
    line-height:40px;
    border-radius:4px;
    font-size:16px;
    text-align:center;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.cust-solc ul li a:hover {
    border-radius:0px;
}
.or-head {
    position:relative;
    color:#fff;
    font-size:12px;
    text-align:center;
    font-weight:bold;
}
.or-head:before{
    position:absolute;
    left:2%;
    top:50%;
    height:1px;
    width:150px;
    content:'';
    background:#fff;
}
.or-head:after {
    position:absolute;
    right:2%;
    top:50%;
    height:1px;
    width:150px;
    content:'';
    background:#fff;
}
.loger-form input {
    background:none;
    box-shadow:none;
    border:none;
    height:40px;
    border-bottom:1px solid rgba(207,235,245,0.3);
    padding:0px 30px;
    color:#fff;
    border-radius:0px;
    font-size:14px;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.loger-form input:hover, .loger-form input:focus {
    box-shadow:none;
    border-bottom:1px solid #fff;
}
.loger-form .form-control::-moz-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
.loger-form .form-control:-moz-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
.loger-form .form-control:-ms-input-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
.loger-form .form-control::-webkit-input-placeholder {
    text-transform:uppercase;
    color:rgba(255,255,255,0.6);
}
.forg-remi {
    padding:0 30px;
    color:#fff;
    margin:10px 0 20px;
}
.forg-remi .reminder-me {
    float:left;
    text-align:left;
}
.forg-remi .reminder-me label {
}
.forg-remi .forgot-pass {
    float:right;
    text-align:right;
}
.forg-remi .checkbox {
    margin:0px;
}
.forgot-pass a {
    color:#fff;
}
.btns-loger {
    text-align:center;
    margin:10px 0 30px;
}
.log-btn {
    font-size:18px;
    color:#fff;
    background:none;
    border-radius:25px;
    padding:0 55px;
    height:45px;
    text-transform:uppercase;
    border:1px solid #fff;
    transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;
}
.log-btn:hover {
    color:#fff;
    background:#207655;
    border:1px solid transparent;
}
.reg-info {
    margin:20px;
    text-align:center;
    font-size:13px;
    color:#fff;
    padding:0 15px;
}
#myModal, #myModal-one,#myForgotModal, #myModal1, #myModal2, #myModal3, #myModal4, #profile-modal, #profile-modal1{
    cursor:url(../Frontend/img/cross-one.png), default;
}

.custom-nav, .timeline-section {
    visibility: hidden;
}

.top-ban-cont-sec {
    background-position: center center;
    position: relative;
    background-size: cover;
    overflow:hidden;
    z-index:5;
}
.top-ban-cont-sec:after {
    position:absolute;
    left:0;
    top:0;
    content:'';
    height:100%;
    width:100%;
    z-index:10;
}
.top-ban-cont-sec {
    padding:8% 0 0;
}
.top-ban-cont-sec .mau-drag img {
    width:100%;
    height:100%;
}
.top-ban-cont-sec:after {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(56,197,145,0.8);
    content:'';
}
.top-ban-cont-sec:after {
    visibility: hidden;
}
.sub-head {
    font-family: 'Century_Gothic';
    margin-top: 14px;
    margin-bottom: 45px;
}
.sub-head span {
    display: unset;
    text-align: center;
}
.sub-head span span {
    color: #f5de1e;
    display:inline;
}
.mybtn {
    background-color: #fff;
    color: #000;
    font-family: 'Century_Gothic';
    font-size: 25px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
}
.mybtn:hover {
    color: #000;
}
.video_logo_image:hover {
    cursor: pointer;
}
.footer-vid-title {
    font-family: 'Century_Gothic';
    color: #f5de1e;
}
.navbar-default .navbar-nav >li > a {
    font-family: 'Century_Gothic';
    color: #f5de1e;
    font-size: 18px;
    padding-right: 25px;
    padding-left: 25px;
}
.navbar-default .navbar-nav >li > a:hover, .navbar-default .navbar-nav >li > a:focus {
    color: #f5de1e;
    /*color: #47af4e;*/
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: unset;
}
.navbar-collapse {
    padding-left: 0px;
}
.navbar-default {
    margin: 0 5px;
}
.navbar-header a img {
    height: 20px;
}
.top-ban-cont-sec {
    padding-top: 8%;
}

#myModal, #myModal-one,#myForgotModal, #myModalForget, #myResetModal {
    cursor:url(../../Frontend/img/cross-one_new.png), default;
}
.models-cust > .fade.in, .sole-popup > .fade.in {
    background-color: #000;
}
#myModal {
    background-color: transparent;
}
.models-cust .modal-content, .sole-popup .modal-content {
    background-color: #fff;
}
.models-cust .nav-tabs {
    border-bottom: 1px solid rgba(69, 69, 69, 0.45);
}
.main-log-tab .nav-tabs > li > a {
    color: #33bb87;
}
.main-log-tab .nav-tabs > li.active > a, .main-log-tab .nav-tabs > li.active > a:focus, .main-log-tab .nav-tabs > li.active > a:hover {
    color: #33bb87;
    border: none;
    border-bottom: 3px solid #33bb87;
}
.cust-devider:after {
    background-color: rgba(69, 69, 69, 0.45);
}
.sol-head, .or-head {
    color: #33bb87;
}
.sol-head:after, .sol-head:before, .or-head:after, .or-head:before {
    background-color: #454545;
}
.cust-solc ul li a {
    border: none;
}
.facebook_btn {
    background-color: #515787;
}
.gmail_btn {
    background-color: #cf4b3c;
}
.twitter_btn {
    background-color: #63a2d5;
}
.loger-form input {
    color: #000;
    border-bottom: 1px solid rgba(69, 69, 69, 0.2);
}
.loger-form input:hover, .loger-form input:focus {
    box-shadow:none;
    border-bottom:1px solid #000;
}
.loger-form input::-webkit-input-placeholder {
    color: rgba(69, 69, 69, 0.5) !important;
}
.loger-form input:-moz-placeholder {
    color: red !important;
}
.loger-form input::-moz-placeholder {
    color: red !important;
}
.loger-form input:-ms-input-placeholder {
    color: red !important;
}
.log-btn {
    background-color: #46b04c;
}
.reg-info,.forg-remi, .forgot-pass a {
    color: #454545;
}
.sub-head {
    font-size: 48px;
    color: #fff;
    text-align:center;
    letter-spacing: 0.5px;
    position: relative;
    line-height:70px;
    margin-bottom:50px;
}

.well {
    font-family: 'Century_Gothic';
    background-color: #454545;
    opacity: 0.8;
    color: #f5de1e;
    font-size: 13px;
    border: none;
    text-align: center;
    padding-left: 30px;
}
.additional_signin {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav li a:after {
        height: 30px;
        width: 1px;
        position: absolute;
        right: -0.5px;
        top: 50%;
        margin-top: -15px;
        content: '';
        background: #454545;
    }
    .navbar-default .navbar-nav li a:before {
        content: '.';
        font-size: 50px;
        display: inline-block;
        position: absolute;
        bottom: 0.1em;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: transparent;
        color: #454545;
    }
    .sub-head {
        font-size: 48px;
        line-height: 70px;
    }


    .well {
        width: 200px;
        padding: 19px;
    }
    .custom_collapse {
        position: absolute;
    }
    .custom_collapse_last {
        margin-left: -110%;
    }
    .additional_signin {
        visibility: hidden;
    }
}
@media (max-width: 1315px) and (min-width: 1226px) {
    .navbar-default .navbar-nav >li > a {
        padding-right: 18px;
        padding-left: 18px;
    }
}
@media (max-width: 1225px) and (min-width: 1131px) {
    .navbar-default .navbar-nav >li > a {
        padding-right: 12px;
        padding-left: 12px;
    }
}
@media (max-width: 1130px) and (min-width: 1106px) {
    .navbar-default .navbar-nav >li > a {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media (max-width: 1105px) and (min-width: 1001px) {
    .navbar-default .navbar-nav >li > a {
        font-size: 16px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .navbar-header a img {
        height: 18px;
    }
}
@media (max-width: 1000px) and (min-width: 881px) {
    .navbar-default .navbar-nav >li > a {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 15px;
    }
    .navbar-header a img {
        height: 17px;
    }
}
@media (max-width: 880px) and (min-width: 768px){
    .navbar-default .navbar-nav >li > a {
        font-size: 13px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .navbar-header a img {
        height: 15px;
    }
    .navbar-brand {
        padding-left: 5px;
    }
}
@media (min-width: 1301px) {
    .sub-head {
        font-size: 48px;
        line-height: 70px;
    }
}
@media (max-width: 1300px) {
    .sub-head {
        font-size: 44px;
        line-height: 60px;
    }
}
@media (max-width: 1000px) {
    .top-ban-cont-sec {
        padding-top: 10%;
    }
    .sub-head {
        font-size: 36px;
        line-height: 55px;
    }
}
@media (max-width: 767px) {
    .top-ban-cont-sec {
        padding-top: 15%;
    }
    .navbar-collapse {
        background-color: #000;
    }
    .sub-head {
        font-size: 28px;
        line-height: 32px;
    }
}
@media (max-width: 480px) {
    .top-ban-cont-sec {
        padding-top: 20%;
    }
    .navbar-collapse {
        background-color: #000;
    }
    .atg_logo {
        visibility: hidden;
    }
    .sub-head {
        font-size: 23px;
        line-height: 28px;
    }
    .mybtn {
        font-size: 23px;
        width: 190px;
        height: 45px;
    }
}
@media (max-width: 320px) {
    .sub-head {
        font-size: 19px;
        line-height: 24px;
    }
    .mybtn {
            font-size: 20px;
            width: 180px;
            height: 40px;
    }
}

#trailerdivbox {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 8%;
    height: 0;
    text-align: right;
}

.videoWrapper iframe {
    position: absolute;
    max-width: 760px;
    max-height: 420px;
    width: 95%;
    height: 95%;
    left: 0;
    right: 0;
    margin: auto;
}
.video_close_btn {
    color: #fff;
    width: 750px;
    margin: auto;
}
.video_close_btn span:hover, .video_close_btn span:focus {
    cursor: pointer;
}
.video_back:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background: #000;
    z-index: -1;
    content: '';
}
.video_text {
    cursor: pointer;
}


@media (max-width: 790px) {
    .video_close_btn {
        width: unset;
        margin-right: 20px;
    }
}


.cb-slideshow li div {
    position: absolute;
    opacity: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    left: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}



.cb-slideshow li h1 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    margin: 0;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li:nth-child(1) h1 {
}
.cb-slideshow li:nth-child(2) h1 {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) h1 {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) h1 {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) h1 {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) h1 {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 0.45;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 0.45 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 0.45;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 0.45 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 0.45;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 0.45 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 0.45;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 0.45 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 0.45;
         animation-timing-function: ease-out; }
    17% { opacity: 0.45 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li h1 {
    opacity: 0.45;
}
.extra_dark:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.25;
    background: #000;
    z-index: -1;
    content: '';
}


