
.background-fade{
    display: none;
    background: rgba(100,100,100,0.6);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 50;
    cursor:url(../img/cross-one.png), default;
    
}

.popups{
    position: fixed;
    display: -webkit-inline-flex;
    left:0%;
    right: 0%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background:none;
    overflow: auto;
    max-height: 100vh;
    	
}
.main-popup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    position: relative;
    width: 40%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #777;
    background: #fff;
    height: 100%;
    cursor: auto;
}
.popup-header{
    text-align: center;
    background: #36BF8A;
    color: #fff;
    font-weight:lighter; 
    font-size: 1.8em;
    padding: 5px 0 5px 0;
    border-radius: 5px 5px 0px 0px;
}
.load-track{
    
    height: 3px;
    background: #bbb;
    border-radius:0 10px 10px 0;
}

@keyframes load{
    0%{
        display: block;
        width:25px;
        margin-left:0% 
    }
    100%{
      display: block;
      width:0px;
      margin-left:100%; 
    }
}

.animload{
display: block;
background: #fff;
height: 3px;
width:5px;
animation: load 1s normal infinite ;
}
.popup-body{
    height: auto;
    padding:10px;
    border: 1px solid #EEE;
    margin:30px 40px 50px 40px;
    border-radius:5px 5px 5px 5px; 
    box-shadow: 0 0 5px #ddd;    

}
.body-part1{
    width: auto;
    position: relative;
    display: flex;
}

.popup-footer{
    padding: 5px 0 5px 0;
    border-top:1px solid #ccc;
    /* height: 50px; */
}
#nextbtn{
    display: block;
    float: right;
    position: relative;
    margin:10px 0px 10px 0px;
    border: 1px solid #36BF8A;
    padding: 10px 15px 10px 15px;;
    border-radius:5px 5px; 
    background: #eee;
}
#prevbtn{
    display: block;
    float: left;
    position: relative;
    margin:10px 0px 10px 0px;
    border: 1px solid #36BF8A;
    padding: 6px 20px 6px 20px;;
    border-radius:5px 5px; 
    font-size: 20px;
    background: #eee;
    color:#36BF8A;
}
.chkboxdes{
    display: flex;
    position: relative;
    width:100%;
    background: #36BF8A;
    color: #fff;
    border: 2px solid #36BF8A;
    margin:20px 50px 20px 50px; 
    padding:10px 0 10px 0; 
    transition: all 0.7s;
    border-radius:5px 5px 5px 5px; 
    cursor: pointer;
}
.chkboxdes:hover{
    color: #36BF8A;
    background: #fff;
}
.title{
    margin:auto;
    
    font-size: 20px;
    font-weight: bold;
    display: inline-block;

}

.chkbox {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    margin:auto;
    background: #36BF8A;
    border-radius:5px 5px 5px 5px; 
    
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  }
  .chkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: #fffcff;
    border-radius:5px 10px 5px 10px; 
}
    
  .chkbox label:after {
    content: "";
    width: 9px;
    height: 5px;
    position: absolute;
    top: 6px;
    left: 5px;
    border: 3px solid #36BF8A;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .chkbox label:hover::after {
    opacity: 0.3;
  }
  .chkbox input[type="checkbox"] {
    visibility: hidden;
  }
  .chkbox input[checked="checked"] + label:after {
    opacity: 1;
  }
  


  .disp{
      display: none;
  }

  .singlecost{
      display: none;
  }
  .multiplecost{
      display: none;
  }



  @media(max-width:532px){
    .chkboxdes{
        width:200px;
    }

    .popup-body{
        margin:10px 10px 20px 10px;
    }
    .chkboxdes{
        margin:10px 10px 10px 10px; 
    }
}
.message{
    margin: auto;
    text-align: center;
    overflow-wrap: break-word;
    display: none;
    width:100%;
    transition: all 2s;
    color: #777;
}
@keyframes shw{
    0%{
        opacity: 0;

    }
    100%{
        opacity:1;
    }
}
.dispmsg{
    display: block;
    opacity: 0;

    animation: shw 0.4s ease-in 0s forwards ;
}


.ordig{
    margin-top:25px;
    margin:auto;
    text-align:center;
}
.ordig::before{
    content:"";
    display:block;
    width:calc(50% - 20px);
    height:1px;
    margin-left:5px;
    position:relative;
    top:12px;
    background:#ddd;
    
    
}

.ordig::after{
    content:"";
    display:block;
    width:calc(50% - 20px);
    height:1px;
    position:relative;
    top:-10px;
    left:calc(50% + 15px);
    background:#ddd;
    
    
}