
/** for sub group ****/
.category-listing-form1 .dropdown.fixter{
    position:inherit !important;
}
/*********/
body {
    font-family: 'Muli', 'Lato', 'hk_grotesk', 'sans-serif', 'gotham_lightregular', 'Roboto', 'Open Sans';
    height: 100% !important;
}
a:focus, .btn:focus {
    outline: none;
    outline-offset: 0px;
}
.short-description{
    height: 80px!important;
}

.bounce {
    position: absolute;
    bottom: 0px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}





a:hover, a:focus {
    text-decoration: none;
}

section {
    position: relative;
    
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.sticky-header .custom-nav {
    padding:10px 50px;
}
.sticky-header .logo {
    margin-top:0px;
}
.sticky-header .logo img {
    width: 150px;
}
.sub-head {
    font-size: 48px;
    color: #fff;
    text-align:center;
    letter-spacing: 0.5px;
    position: relative;
    line-height:70px;
    margin-bottom:50px;
    font-family: 'Zona Pro';
}
.sub-head span {
    display:unset;
}
.fst-sec {
    text-align:center;
}
.fst-sec .btn {
    width:280px;
    height:50px;
    display:block;
    border-radius:30px;
    font-size:18px;
    color:#fff;
    margin:10px auto;
    background:none;
    border:1px solid #fff;
}
.fst-sec .face-btn {
    border:1px solid #3c5a96;
    background:#3c5a96;
}
.content-in {
    padding:0px;
    margin:15px 0;
    color:#000;
    text-align:center;
}
.content-in li {
    width:100%;
    list-style-type:none;
}
.content-in li a {
    color:#000;
    font-size:14px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.content-in li a:hover {
    color:#fff;
}









/*---------------------------Frist-Step----------------------------------------*/





.pros-to-sec {
    /* padding:4% 0; */
    background-color: #fcfbfc;
}
.posr-inner h1 {
    padding:20px;
    font-size:20px;
    color:#656565;
    background:#fff;
    border-radius:5px;
    text-align:center;
    box-shadow:0px 0px 4px #999;
    margin:0 0 25px;
}
.posr-inner h1 span {
    color:#269b70;
    text-decoration:underline;
    font-weight:bold;
}
.posr-inner .search-chouse-opt {
}
.dashter {
    position:relative;
    border-radius:05px;
    border:1px solid #d9d9d9;
}
.dashter h2 {
    font-size:16px;
    color:#269b70;
    text-transform:uppercase;
    background:#e5e5e5;
    padding:10px;
    margin:0px;
}
.container {
    padding-left:5px !important;
    padding-right:5px !important;
    width: 100%;
}

.dash-cate-sec .container{
    width:100% !important;
   /* height: 100%; */
    padding-bottom: 10px;
    padding-top: 10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left:05px !important;
    padding-right:05px !important;
}
.row {
    margin-left: -05px;
    margin-right: -05px;
}
.dropdown-menu>li {
    position: relative;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display: none;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: #fff;
    box-shadow: none;
}


.dropdown-menu>li {
    position:relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-color:#fff;
    box-shadow:none;
}



.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover,.dropdown.open .dropdown-toggle {
    background:none;
    background-image: none;
    box-shadow:none;
    background-repeat: repeat-x;
}
.category-listing-form1 li .dropdown-menu {
    border: medium none;
    box-shadow: none;
    left: 254px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 209px;
}

.dropdown.open {
    position:static !important;
}

.step-twos-outer {
    margin-top:20px;
}
.steper-two-inner {
    border:1px solid #d9d9d9;
    border-radius:5px;
}
.steper-two-inner h2 {
    padding:10px 15px;
    font-size:16px;
    color:#269b70;
    margin:0px;
    font-family: 'gotham_mediumregular';
    background:#eee;
    text-transform:uppercase;
    border-bottom:1px solid #d9d9d9;
}
.steper-two-inner ul {
    padding:15px;
    margin:0px;
}
.steper-two-inner ul li {
    width:100%;
    float:left;
    padding:10px 0;
    list-style-type:none;
}
.steper-two-inner .media .media-user {
    height:42px;
    width:42px;
    border-radius:50%;
}
.steper-two-inner .media .media-user img {
    width:100%;
    height:100%;
    border-radius:50%;
}
.steper-two-inner .media .media-body {
  position: relative;
  vertical-align: middle;
}
.steper-two-inner .media .media-heading {
    color:#000;
}
.steper-two-inner .media .media-body p {
    font-size:13px;
    color:#bcbbbb;
    margin:0px;
}
.steper-two-inner .media .media-body a.more {
    position:absolute;
    right:0;
    top:7px;
    content:'';
}
.steper-two-inner .media .media-body a.more i {
    font-size:25px;
    color:#ddd;
    text-align:center;
}
.steper-two-inner .media .media-body a:hover.more i, .steper-two-inner .media .media-body a.active.more i, .add-connections .media .media-body a:hover.more i, .add-connections .media .media-body a.active.more i {
    color: #269b70;
}
.steper-two-inner ul {
    height:335px;
    overflow:auto;
}
.add-connections .media .media-body a.more i {
    color:#ddd;
}
.contct-opt .pull-left {
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
}
.contct-opt .pull-left i {
    height:40px;
    width:40px;
    line-height:40px;
    background:#000;
    color:#fff;
    font-size:16px;
    text-align:center;
    border-radius:50%;
    margin-right:10px;
}
.clrfb {
    color:#3c5a96;
    letter-spacing:0.5px;
}
.clrfb .pull-left i {
    color:#fff;
    background:#3c5a96;
}
.clrtw {
    color:#00aced;
    letter-spacing:0.5px;
}
.clrtw .pull-left i {
    color:#fff;
    background:#00aced;
}
.clrgp {
    color:#dd4b39;
    letter-spacing:0.5px;
}
.clrgp .pull-left i {
    color:#fff;
    background:#dd4b39;
}
.clrli {
    color:#007bb6;
    letter-spacing:0.5px;
}
.clrli .pull-left i {
    color:#fff;
    background:#007bb6;
}
.con-btn {
    border-radius:25px;
    background:#fff;
    border:1px solid #36bf8a;
    color:#269b70;
    font-size:14px;
    padding:05px 20px;
    height:35px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.con-btn:hover {
    color:#000;
    border:1px solid #000;
}
.skepper-div {
    text-align:right;
    margin-top:25px;
}
.skepper-div a {
    font-size:14px;
    color:#269b70;
    vertical-align:middle;
    margin-right:15px;
}
.skepper-div a:hover {
    color:#000;
}
.skepper-div .btn {
    font-size:16px;
    color:#fff;
    font-weight:bold;
    letter-spacing:0.5px;
    padding:05px 25px;
    height:40px;
    border-radius:25px;
    border:1px solid transparent;
    background:#36bf8a;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.skepper-div .btn:hover {
    background:#fff;
    border:1px solid #269b70;
    color:#269b70;
}
.nicescroll-rails {
    border:1px solid #eee !important;
    background:#FFF !important;
    box-shadow:0px 0px 3px inset #000 !important;
}
.nicescroll-rails div {
    background:#fff !important;
    border:1px solid #36bf8a !important;
}
.step-slider-sec {
    padding:4% 0;
    position:relative;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    z-index:1;
    min-height:900px !important;
}
.step-slider-sec:before {
    position:absolute;
    left:0;
    top:0;
    content:'';
    height:100%;
    width:100%;
    background:rgba(13,155,103,0.6);
    z-index:-1;
}

.inner-sliderss-bg {
    position:relative;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    height:370px;
    background:#000;
}
.comment-caption {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    content:'';
    background:rgba(0,0,0,0.8);
}
.comment-caption p {
    font-size:14px;
    padding:20px;
    color:#fff;
    border-bottom:1px solid #777;
    margin-bottom:0px;
}
.comment-caption .osh-pro {
    width:35px;
    height:35px;
    border-radius:50%;
    border:1px solid #fff;
}
.comment-caption .osh-pro img {
    border-radius:50%;
    height:100%;
    width:100%;
}
.comment-caption .media {
    margin-top:0px;
    padding:10px 20px;
}
.comment-caption .media-body .media-heading {
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    font-size:16px;
    margin-bottom:0px;
}
.comment-caption .media-body span {
    font-size:13px;
    color:#269b70;
    margin:0px;
}


/*-----------------BIO-Details---------------------*/
.persnal-sec {
    background-size:cover cover;
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom:2px solid #36bf8a;
    position:relative;
    overflow:visible;
    background-color:  #fff;
}
.inner-bios {
}
.main-pros-information {
    background:rgba(54,191,138,0.9);
    padding:20px 0 40px;
    text-align:center;
}
.main-pros-information .main-pross {
    height:130px;
    width:130px;
    margin:60px auto 30px;
    border-radius:50%;
    border:5px solid #89daba;
    position: relative;
    overflow: hidden;
}
.mar-auto-center {
    margin: 0 auto;
}
.main-pros-information .main-pross .fix-cam-ra {
    position: absolute;
    height: 40px;
    width: 100%;
    left: 0;
    bottom: -40px;
    font-size: 20px;
    background: rgba(0,0,0,0.75);
    z-index: 2;
    line-height: 40px;
    color: #fff;
    transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;
}
.main-pros-information .main-pross:hover .fix-cam-ra {
    bottom: 0;
}
.main-pros-information .main-pross img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.main-pros-information h2 {
    margin:0px;
    color:#269b70;
    font-size:18px;
    background:#fff;
    padding:06px;
    font-weight:600;
}
.address-user {
    font-size:16px;
    color:#fff;
    margin:10px 0 0;
}
.address-thougt {
    font-size:16px;
    color:#000;
    margin:0 0 10px;
}
.bio-details-sec {
    padding: 10px 0 50px;
    position:relative;
}
.ab-spaner-cross {
    position:absolute;
    right:60px;
    top:20px;
    content:'';
}
.ab-spaner-cross a {
    display:block;
    height:30px;
    width:30px;
}
.ab-spaner-cross a img {
    width:100%;
}
.inner-main-bio-det {
}

.inner-main-bio-det h2 a {
    color:#269b70;
}
.inters-bio {
    padding:40px 05px 20px;
    border:1px solid #ddd;
    border-radius:0 0 10px 10px;
}
.inters-bio-left {
    width:50%;
    float:left;
    border-right:1px solid #ddd;
    font-size:15px;
}
.inters-bio-left a {
    color:#269b70;
    font-weight:bold;
}
.inters-bio-right {
    width:50%;
    float:left;
    border-right:none;
}
.inters-bio-left label {
    color:#656565;
    text-transform:uppercase;
    font-family: 'gotham_lightregular';
}
.inters-bio-left .form-horizontal .form-group {
    margin:0px 0 25px 0;
    padding:0 15px;
}





/*------------------USER DASHBOARD---------------------*/







.dash-cate-sec {
    /* padding: 10px 0 10px; */
    height: 100%;
}


#blog-content #blog-landing {
    position: relative;
    max-width: 100%;
    width: 100%;
    /* height:100% !important; */
}
.dash-cate-sec img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius:4px;
}
.dash-cate-sec .white-panel {
/*    width:  500px;*/
    position: relative;
    border-radius:2px;
    background-color:  #fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    transition:all 600ms ease-in;
    -o-transition:all 600ms ease-in;
    -moz-transition:all 600ms ease-in;
    -webkit-transition:all 600ms ease-in;
    -moz-transition:all 600ms ease-in;
}
.dash-cate-sec .white-panel h1 {
    font-size: 1em;
}
.dash-cate-sec .white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
}
.dash-cate-sec #jquery-script-menu {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 10px 0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}

.dash-cate-sec .jquery-script-center {
    width: 960px;
    margin: 0 auto;
}
.dash-cate-sec .jquery-script-center ul {
    width: 212px;
    float:left;
    line-height:45px;
    margin:0;
    padding:0;
    list-style:none;
}
.dash-cate-sec .jquery-script-ads {
    width: 728px;
    height:90px;
    float:right;
}
.dash-cate-sec .jquery-script-clear {
    clear:both;
    height:0;
}

.atg-world-one h3 {
    padding:10px;
    border-bottom:1px solid #ddd;
    font-size:16px;
    margin:0px;
}
.atg-world-one .media {
    /* padding:8px; */
}
.atg-world-one .media-user {
    height:40px;
    /* width:40px; */
    border-radius:50%;
    display: table;
}



.atg-world-one .media-user img {
    border-radius:50%;
    display: inline-block;
    width: 40px;
}
.otg-found p {
    font-size:12px;
    margin:0px;
}
.otg-found .media-heading {
    font-size:14px;
    color:#060606cc;
/*    font-weight:bold;*/
    font-family: inherit;
}

.otg-found .job-media-heading {
    font-size:14px;
}

.atg-world-one .grid-cont {
    padding:10px;
    font-size:14px;
    color:#9e9e9e;
    overflow-wrap: break-word;
}
.otg-found {
    margin:0px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    border-radius:4px;
}
.border-top {
    border-top:1px solid #ddd;
}
.pos-relative {
    position:relative;
}
.expand-pin {
    position:absolute;
    left:0;
    bottom:0;
    content:'';
    width:100%;
    padding:8px;
    background:rgba(0,0,0,0.5);
    border-radius:0 0 4px 4px;
    border-top:1px solid #36bf8a;
}
.expand-pin a {
    font-size:14px;
    color:#fff;
    font-weight:bold;
}
.expand-pin a i {
    color:#269b70;
    font-size:15px;
    padding:05px;
    background:#fff;
    border-radius:50%;
}
.atg-world-one h1 {
    font-size:20px;
    font-weight:bold;
    color:#777;
    margin:0px;
    padding:10px;
}
.atg-world-one h1 a {
    font-size:15px;
    color:#777;
    padding:10px 0;
    display:block;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.atg-world-one h1 a:hover {
    color:#269b70;
}
.blog-redom {
    padding:8px;
    font-size:14px;
}
.blog-redom a {
    color:#000;
}
.blog-redom a i {
    padding:05px;
    font-size:18px;
    border:1px solid #000;
    background:#fff;
    border-radius:50%;
}
.onter-img-media {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    border-radius:0 0 4px 4px;
    background:rgba(0,0,0,0.5);
}
.onter-img-media .media-heading {
    color:#fff;
}
.onter-img-media p {
    color:#fff;
}
.black-text {
    padding:50px 15px;
    text-align:center;
    border-radius:4px;
    background:#000;
    color:#fff;
    font-weight:bold;
    font-size:22px;
    line-height:25px;
}
.people-to-follows-dash h6 {
    padding:10px;
    border-bottom:1px solid #ddd;
    font-size:14px;
    color:#000;
    margin:0px;
    text-transform:uppercase;
    font-weight:bold;
}
.opt-folow-med {
    margin:03px 0;
}
.opt-folow-med .media-heading {
    margin:6px;
    font-size:18px;
    color:#494949;
}
.opt-folow-med .media-body {
    position:relative;
}
.plusing-med {
    position:absolute;
    right:0;
    top:05px;
    content:'';
}
.plusing-med {
    color:#777;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.plusing-med i {
    font-size:22px;
}
.plusing-med:hover {
    color:#269b70;
}
.folows-fix {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background:rgba(0,0,0,0.5);
    color:#fff;
    content:'';
    font-size:16px;
    padding:10px;
    border-radius:0 0 4px 4px;
    border-top:1px solid #36bf8a;
    font-weight:bold;
}
.minimum-heights {
    max-height:250px;
    overflow:auto;
    margin-bottom:15px;
}

/*--------------------------------------MAIN PROFILE SEC START---------------------------------------*/

.go-to-connect {
    padding:30px 0;
    text-align:center;
}
.go-to-connect h4 {
    font-size:20px;
    color:#777;
    text-align:center;
    font-weight:bold;
}

.go-icons {
    line-height:40px;
    border-radius:50%;
    font-size:18px;
    text-align:center;
}
.go-icons a {
    color:#fff;
    display:block;
    height:40px;
    width:40px;
    border-radius:50%;
    border:1px solid transparent;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.go-gpluse {
    position:absolute;
    background:#dd4b39;
    content:'';
    left:-60px;
    top:-40px;
}
.go-face {
    position:absolute;
    background:#3c5a96;
    content:'';
    right:-70px;
    top:-30px;
}
.go-tweet {
    position:absolute;
    background:#00aced;
    content:'';
    right:-70px;
    bottom:-30px;
}
.go-insta {
    position:absolute;
    background:#517fa4;
    content:'';
    left:-92px;
    bottom:40px;
}
.go-liin {
    position:absolute;
    background:#007bb6;
    content:'';
    left:-68px;
    bottom:-30px;
}
.go-icons a:hover {
    color:#36bf8a;
    background:#fff;
    border:1px solid #36bf8a;
    transform:scale(1.2);-o-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);
}

.go-connect-btn {
    height:45px;
    padding:05px 20px;
    background:#fff;
    color:#38c591;
    border:1px solid #38c591;
    font-size:16px;
    border-radius:25px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.go-connect-btn:hover {
    border:1px solid #000;
    color:#000;
}
/*-------------------19/5/2016-----------------------*/
/*---------------------------GROUP STRUCTURE START------------------------------------------*/
.group-str-sec {
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
    padding:40px 0;
    background-position:center center;
    z-index:1;
}
.group-str-sec:before {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.5);
    content:'';
    z-index:-1;
}
.innerg-stu h2 {
    margin:25px 0 0;
    font-size:40px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.innerg-stu p {
    font-size:18px;
    color:#fff;
    margin:0px;
    text-transform:uppercase;
    text-align:center;
}
.innerg-stu p strong{
    color:#36BF8A;
    font-size:20px;
}


/*-----------------------------26-5-2016-----------------------------*/
/*----------------------CONTACT START-------------------------*/
.contact-sec {
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
    padding:40px 0;
    background-position:center center;
    z-index:1;
}
.contact-sec:after {
    position:absolute;
    left:0;
    top:0;
    content:'';
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.5);
    z-index:-1;
}
.contact-sec h1 {
    padding:50px 0;
    text-align:center;
    color:#fff;
    margin:0px;
    font-weight : bolder;
}
.contact-sec .container .post_detail_feature_name {
    text-align: center;
    color: #fff;
}
.contact-info-sec {
    padding:10px 0;
    background:#fbfcfb;
}

.contact-inputs-outer {
    padding:10px;
    text-align:left;
    border:1px solid #eee;
    border-radius:05px;
}
.contact-inputs-outer h2 {
    padding:13px;
    text-align:center;
    background:#eee;
    color:#269b70;
    margin:-10px -10px 20px;
    font-size:18px;
    border-radius:3px 3px 0 0;
    font-family:"gotham_mediumregular";
    text-transform:uppercase;
}
.contact-inputs-outer .form-control {
    height:45px;
    background:none;
    border:1px solid #eee;
    font-size:14px;
    color:#000;
    border-radius:3px;
    box-shadow:none;
}
.contact-inputs-outer input:hover, .contact-inputs-outer input:focus,.contact-inputs-outer textarea:hover, .contact-inputs-outer textarea:focus {
    box-shadow:none;
}
.contact-inputs-outer .form-control::-moz-placeholder {
    color:#000;
}
.contact-inputs-outer textarea {
    min-height:130px !important;
    border:none;
    resize:vertical;
    border:1px solid #777;
    font-size:14px;
    color:#000;
    border-radius:0px;
    box-shadow:none;
}
.contact-inputs-outer .btn {
    background: #207655;
    border: 1px solid transparent;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    margin:2px 0;
    padding: 05px 20px;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.contact-inputs-outer .btn:hover {
    background: #36bf8a;
} 
.slectstle {
    position: relative;
}
select{
    -webkit-appearance:none;
    -moz-appearance:none;
}
select::-ms-expand{
    display:none;
}
.slectstle::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 9px solid #666;
    content: "";
    position: absolute;
    right: 15px;
    top: 13px;
}
.contact-info-sec .slectstle::after {
    top:17px;
}
/*----------------27-5-16--------------------------*/
/*------------------ACCOUNT SETTING PAGE-------------------------*/
.acount-tabers {
    padding:10px 0; 
    background-color:  #fcfbfc;
}
/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    padding: 0 !important;
    background-clip: padding-box;
}
.ver-tab-bg .list-group-item.active,.ver-tab-bg .list-group-item.active:hover, .ver-tab-bg .list-group-item.active:focus {
    border:none;
}
div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
    text-transform:uppercase;
    text-align:left;
    font-size:16px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #000;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #eee;
    background-image: #eee;
    color: #269b70;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    height:100%;
    border-left:3px solid #269b70;
}

div.bhoechie-tab-content{
    background-color: #fcfbfc;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}
.ver-tab-bg .list-group-item {
    border:none;
}
.main-inner-tab-info {
    padding:30px;
    border:1px solid #eee;
    box-shadow:0 0 3px #eee;
    border-radius:04px;
    font-size:14px;
}
.bhoechie-tab h6 {
    margin:0px;
    font-size:18px;
    color:#454545;
    font-family: 'gotham_lightregular';
    padding:0 0 10px 20px;
}
.bhoechie-tab-menu h6 {
    font-size:16px;
    padding:10px 15px;
    font-family: 'gotham_lightregular';
    margin:0px 0 20px;
    color:#269b70;
    text-transform:uppercase;
    background:#eee;
    border-bottom:1px solid #269b70;
}

.main-dash-top-banner {
    height:180px;
    background:url(../img/about_baner.png);
    position:relative;
    background-repeat:no-repeat;
}
.remores {
    position:absolute;
    right:20px;
    top:20px;
    content:'';
    opacity:0;
    transform:scale(0);-o-transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);
}
.remores > a {
    color:#36bf8a;
    font-size:16px;
}

.main-footer {
    padding:10px 0;
    text-align:center;
    background:#c5c5c5;
    border-top:1px solid #999;
    position: absolute;
    bottom:0;
    z-index: 100;
    width: 100%;
}
.main-footer p {
    margin:0px;
    font-size:14px;
}
.main-footer p a {
    color:#147652;
}

.main-inner-tab-info .dl-horizontal dd .radio-inline input{

    width: inherit!important;
    height: inherit!important;
}
.mandatory{
    color:red;
}
.error{
    color:red;
}
.custom-error .alert a {
    color: lightsteelblue;
}
div.error{
    font-size: 13px;
}
.main-inner-tab-info .dl-horizontal dd {
    margin-bottom: 20px;
}
.input-bio input{
    width:86%;
}
.select-box{
    float:right;

}
.select-group-addon {
    border-left: 1px solid #ddd;
    height: 25px;
    padding: 0 10px;
    width:82px;
    background:#eee;
}
.select-box .slectstle::after{
    top:9px;
    right:9px;
}
.inner-osho{
    overflow:hidden !important;
    -ms-overflow-style: none;
}
.gallery-left-top nav ul li .sub-menu.sub-li li a span {
    background: #36bf8a none repeat scroll 0 0;
    border-radius: 33px;
    color: #fff;
    float: right;
    font-weight: 600;
    padding: 1px 0;
    text-align: center;
    width: 55px;
    border:1px solid transparent;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -o-transition:all linear 0.4s;
}
.gallery-left-top nav ul li .sub-menu.sub-li li a span:hover {
    background: #fff none repeat scroll 0 0;
    border:1px solid #36bf8a;
    color: #36bf8a;
}

/*-------------------------15th-JUNE-2016-------Phase-3 pages---------------------------*/
.meet-up-banner select {
    height:40px;
    border-radius:0px;
    background:#35bb87;
    color:#fff;
    border:none;
    box-shadow:none;
    font-weight:bold;
}
.meet-feald-sec .top-meeter {
    padding:10px 0;
    border-top:2px solid #25996c;
}
.top-meeter ul {
    padding:0px;
    margin:0px;
}
.top-meeter ul li {
    list-style-type:none;
    display:inline-block;
    text-align:center;
}
.top-meeter ul li a {
    font-size:16px;
    color:#000;
    display:block;
    text-transform:uppercase;
    font-weight:normal;
    padding:0px 20px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.top-meeter ul li a:hover, .top-meeter ul .active a {
    color:#25996c;
}
.meet-feald-sec .booter-meet {
    padding:10px 0;
    background:#25996c;
}
.booter-meet select, .booter-meet input {
    border:1px solid #fff;
    color:#fff;
    background:#25996c;
    border-radius:0px;
    height:35px;
    box-shadow:none;
}
.booter-meet select:hover, .booter-meet select:focus, .booter-meet input:hover, .booter-meet input:focus {
    box-shadow:none;
    border:1px solid #fff;
}
.filter-infos .btn {
    background:none;
    height:35px;
    border:1px solid #fff;
    border-left:none;
    color:#fff;
    border-radius:0px;
}
.filter-infos .form-control::-moz-placeholder {
    color:#fff;
}
.filter-infos .form-control::-webkit-input-placeholder {
    color:#fff;
}

.filter-infos .form-control:-moz-placeholder {
    color:#fff;
}

.filter-infos .form-control::-moz-placeholder {
    color:#fff;
}

.filter-infos .form-control:-ms-input-placeholder { 
    color:#fff;
}
.boters-selects-after {
    position:relative;
}
.boters-selects-after select {
    -moz-appearance:none;
}
.boters-selects-after:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 14px;
}
.booter-meet .filters-ser select {
    border:none;
    text-align:right;
    padding-right:30px;
}
.meet-up-user {/* overflow-y: auto; *//* height: 100%; */}
.container.text-center.my-posts-green-head {
    text-align: left;
}
.atg-meet-up {
    position:relative;
    display: block;
    overflow-wrap: break-word;
}
.atg-meet-up .btn-info {
    position:absolute;
    right:5px;
    top:5px;
    height:25px;
    width:25px;
    border-radius:50%;
    font-size:12px;
    color:#fff;
    background:#36BF8A;
    padding:0;
    text-align:center;
    line-height:25px;
    border:1px solid #fff;
}

.meet-imger {
    background-size:cover;
    background-repeat:no-repeat;
    height:240px;
    background-position:center center;
    border-radius:05px 05px 0 0;
    border-bottom:2px solid #25996c;
}
.atg-meet-up h3 {
    margin:10px;
    color:#000;
    font-size:16px;
}
.atg-meet-up .reviesa {
    font-size:12px;
    color:#777;
    padding:0 10px;
}
.atg-meet-up .reviesa span {
    margin-right:15px;
}
.atg-meet-up .reviesa i {
    width:15px;
    text-align:left;
}
.atg-meet-up .ent-coments {
    padding:10px;
    font-size:13px;
    color:#25996c;
    font-style:italic;
}

.gropt-st-banner-input {
    margin-top:15px;
}
.gropt-st-banner-input label {
    color:#38c591;
    font-size:16px;
    text-transform:uppercase;
}
.gropt-st-banner-input label i {
    color:#fafafa;
    font-size:14px;
    margin-left:10px;
}
.gropt-st-banner-input input {
    border:1px solid #fff;
    background:none;
    font-size:16px;
    height:40px;
    color:#fff;
}
.gropt-st-banner-input .form-control::-moz-placeholder {
    color:#fff;
}
.gropt-st-banner-input input:hover, .gropt-st-banner-input input:focus {
    box-shadow:none;
    border:1px solid #fff;
}

.meet-aab {
    text-align:right;
    padding-top:20px;
}
.meet-aab .conee-btn {
    height:40px;
    border-radius:25px;
    border:2px solid #fff;
    background:#36bf8a;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    padding:05px 16px;
    margin-right:10px;
    font-family: 'gotham_lightregular';
}
.meet-aab .folll-btn {
    height:40px;
    border-radius:25px;
    border:2px solid #fff;
    background:#fff;
    color:#269b70;
    font-size:16px;
    text-transform:uppercase;
    padding:05px 16px;
    font-family: 'gotham_lightregular';
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.meet-aab .masss-btn {
    height:40px;
    border-radius: 25px;
    border:2px solid #fff;
    background:#fff;
    color:#269b70;
    font-size:16px;
    text-transform:uppercase;
    padding:05px 16px;
    margin-right:06px;
    font-family: 'gotham_lightregular';
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.meet-aab .folll-btn:hover, .meet-aab .masss-btn:hover {
    background:#36bf8a;
    color:#fff;
}
.padd-bot-rem {
    padding-bottom:10px;
}
.gro-aco {
    border-bottom:2px solid #38c591;
    /*box-shadow:0 0 5px #000;*/
    background: #38c591;
    text-align: center;
}
.sub-grose-left {
    float:left;
    padding:15px 0;
    background:#38c591;
    color:#fff;
    width:15%;
    height:55px;
    text-align:center;
}
.sub-grose-left a {
    font-size:18px;
    color:#fff;
    text-transform:uppercase;
    font-weight:bold;
}
.norecord_f {
    padding-top: 15px;
    font-size: 18px;
}
.sub-grose-mid-acr {
    float:left;
    background:#38c591;
    color:#fff;
    width:70%;
    position:relative;
}
.sub-grose-mid-acr > .accordion {
    margin-bottom:0px;
    padding:3px 0 2px;
}
.sub-grose-mid-acr .panel {
    background-color:none;
}
.sub-grose-mid-acr > .panel-body {
    font-size: 18px;
    color:#eee;
    background:#38C591;
}
.sub-grose-mid-acr > .panel.panel-default > .panel-heading {
    background:none;
    border-radius: 0;
}
.sub-grose-mid-acr > .panel.panel-default {
    border: 1px solid #38C591;
    transition:all 0.4s linear 0s;-o-transition:all 0.4s linear 0s;-moz-transition:all 0.4s linear 0s;-webkit-transition:all 0.4s linear 0s;
}
.sub-grose-mid-acr > .panel-group > .panel {
    border-radius: 0;
}
.sub-grose-mid-acr > .panel.panel-default > .panel-title > a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    display: block;
    line-height: 45px;
    font-weight: 500;
}
.sub-grose-mid-acr > .panel.panel-default > .panel-heading {
    padding: 0;
}
.sub-grose-mid-acr > .panel.panel-default > .panel-heading:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.sub-grose-mid-acr .panel.panel-default .switch {
    color: #fff;
    font-size: 18px;
    height: 40px;
    width:40px;
    text-align:center;
    position:absolute;
    left:50%;
    bottom:-40px;
    margin-left:-27.5px;
}
.sub-grose-mid-acr .panel.panel-default .switch:after {
    position:absolute;
    left:0;
    top:0;
    content:'';
    z-index:-1;
    margin-left:-10px;
    border-left: 30px solid transparent; border-right: 30px solid transparent; border-top: 30px solid #38C591;
}
.gruss-droper {
}
.gruss-droper ul {
    padding:0px;
    margin:0px;
}
.gruss-droper ul li {
    width:33.333%;
    float:left;
    list-style-type:none;
    color:#000;
    font-weight:bold;
    padding:10px 0;
    text-align:center;
}
.gruss-droper ul li i {
    height:30px;
    width:30px;
    line-height:30px;
    font-size:14px;
    text-align:center;
    border-radius:50%;
    display:inline-block;
    border:1px solid #000;
}

.sub-grose-mid-acr .panel-heading {
    padding:0px;
}
.sub-grose-mid-acr .panel-default > .panel-heading, .sub-grose-mid-acr .panel {
    background:none;
    border:none;
}
.diver-group-btns {
    padding:10px 0px 10px 0px;
    text-align:center;
    background:#EDFCF3;
}
.diver-group-btns .btn {
    border:1px solid #38c591;
    font-size:16px;
    color:#38c591;
    padding:8px 20px;
    margin:0 03px;
    text-transform:uppercase;
    font-weight:bold;
    background:#fff;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.diver-group-btns .btn:hover, .diver-group-btns .btn.active{
    background:#38c591;
    color:#fff;
}
/*-----------20-06-2016-----------*/
/*---------EVENT-SEC START-----------*/
.event-intrs-sec {
    padding:60px 0;
    background:#fff;
}
.meet-feald-sec {
    border-bottom:1px solid #eee;
}
.evtns-lefter {
    padding:15px;
    box-shadow:0 0 10px #eee;
    border-radius:5px;
    border:1px solid #eee;
}
.evtns-lefter .media .media-left {
    min-width:120px;
    vertical-align:middle;
}
.evtns-lefter .media {
    border-bottom:1px dashed #eee;
    margin:0 0 5px;
    padding-bottom:15px;
}
.evtns-lefter .media .media-left h2 {
    margin:0px;
    font-size:20px;
    font-family: 'gotham_mediumregular';
    color:#454545;
    text-transform:uppercase;
}
.evtns-lefter .media .padds-eve {
    padding:10px 0;
}
.evtns-lefter .media label {
    padding:07px 0;
    text-transform:uppercase;
}
.evtns-lefter .media input {
    border:none;
    border-bottom:1px solid #eee;
    box-shadow:none;
    border-radius:0px;
    color:#000;
}
.evtns-lefter .media .input-group .input-group-addon {
    background:none;
    border:none;
    border-bottom:1px solid #eee;
    border-radius:0px;
}
.evtns-lefter .evters-btns {
    background:#fff;
    color:#38c591;
    border-radius:20px;
    padding:08px 30px;
    border:2px solid #38c591;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    margin:10px 0 0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.evtns-lefter .evters-btns:hover {
    background:#38c591;
    color:#fff;
}
.eventers-slider {
    border-radius:5px;
    box-shadow:0 0 10px #eee;
    border:1px solid #eee;
}
.evenert-sli {
    width:100%; 
}
.evenert-sli .owl-controls {
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    height:40px;
    margin-top:-25px;
    z-index:1;
    visibility:visible;
}
.evenert-sli .owl-controls .owl-nav [class*="owl-"] {
    background:#000;
    color:#fff;
    width:20px;
    border-radius:0px;
    margin:0px;
    line-height:22px;
    font-size:16px;
    z-index:1;
    padding:06px 0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.evenert-sli .owl-controls .owl-nav .owl-prev {
    float:left;
}
.evenert-sli .owl-controls .owl-nav .owl-next {
    float:right;
}
.evenert-sli .owl-controls .owl-nav [class*="owl-"]:hover {
    background:#000;
    color:#269b70;
}
.inner-sliderss-radius, .radius-caption {
    border-radius:0 0 05px 05px;
}
/*--------21st-6-2016------------*/
.my-team-tab .dl-horizontal dd {
    margin-left:210px;
}
.my-team-tab .dl-horizontal dt {
    width:190px;
    text-align:right;
}
.my-team-tab {
    margin-bottom:40px;
}
.tem-capter h6 {
    color: #454545;
    font-family: "gotham_mediumregular";
    font-size: 18px;
    margin: 0;
    padding:0px 0 15px;
    text-transform: uppercase;
}
.tema-members-outs h4 {
    color: #454545;
    font-family: "gotham_mediumregular";
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}
.team-mem-inner {
    padding:50px;
    border-radius:5px;
    box-shadow:0 0 3px #eee;
    border:1px solid #eee;
    margin:20px 0 0;
}
.temb-slids > ul > li a {
    font-family: 'gotham_lightregular';
}
.tema-pros {
    display:inline-block;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid #36bf8a;
}
.tema-pros img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.temb-slids .remores {
    opacity:1;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
}
.adder-tem-mem {
    margin:20px 0 0 10px;
}
.adder-tem-mem a {
    font-size:18px;
    color:#454545;
    font-weight:bold;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.adder-tem-mem a:hover {
    color:#36bf8a;
}
.teme-save-btn {
    background: #36bf8a;
    border: 1px solid transparent;
    border-radius: 25px;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin:15px 0;
    height: 40px;
    text-transform:uppercase;
    letter-spacing: 0.5px;
    padding: 5px 25px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.teme-save-btn:hover {
    background: #fff;
    border: 1px solid #269b70;
    color: #269b70;
}
/*--------POST-MEET-UP------------*/
.post-Meet-up-sec {
    padding:10px 0;
    background:#fff;
}
.text-feder-outer {
    /*padding:0 0 0 80px;*/
    position:relative;
}
.text-feder-outer .rightwer ul {
    padding:0px;
    margin:0px;
}
.text-feder-outer .rightwer ul li {
    list-style-type:none;
    display:inline-block;
}
.text-feder-outer .rightwer ul li a {
    padding-right:35px;
    color:#9e9e9e;
    font-size:15px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.text-feder-outer .rightwer ul li a i {
    font-size:16px;
    margin-right:05px;
}
.text-feder-outer .rightwer ul li a:hover, .text-feder-outer .rightwer ul .active a {
    color:#38c591;
}
.fealider-area {
    padding:20px;
    border-radius:5px;
    box-shadow:0 0 3px #eee;
    border:1px solid #eee;
    margin:15px 0;
}
.fealider-area input:hover, .fealider-area input:focus, .fealider-area textarea:hover, .fealider-area textarea:focus {
    box-shadow:none;
}
.title-input {
    margin-bottom:20px;
}
.title-input input {
    font-size:30px;
    font-weight:bold;
    color:#454545;
    height:auto;
    border-radius:0px;
    box-shadow:none;
    border:none;
    border-bottom:1px solid #eee;
}
.title-input-url input {
    font-size:15px;
    color:#454545;
    height:auto;
    border-radius:0px;
    box-shadow:none;
    border:none;
    border-bottom:1px solid #eee;
}
.title-input .cust-text-area {
    font-size:14px;
    color:#454545;
    height:200px;
    border-radius:0px;
    box-shadow:none;
    border:none;
    resize:vertical;
    border-bottom:1px solid #eee;
    overflow: auto;
}
.sertal-inputs label {
    text-transform:uppercase;
}
.sertal-inputs {
    margin-bottom:12px;
}
.sertal-inputs input {
    height:40px;
}
.moret-tea {
    padding:35px 10px 10px;
}
.moret-tea a {
    text-align:center;
    display:block;
    color:#454545;
    font-weight:bold;
    text-transform:uppercase;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.moret-tea a:hover {
    color:#38c591;
}
.map-texter {
    height:250px;
    background:#eee;
}
.teater-btns ul {
    padding:25px 0 20px;
    margin:0px;
    text-align:center;
}
.teater-btns ul li {
    list-style-type:none;
    display:inline-block;
}
.teater-btns ul li a {
    display:block;
    color:#454545;
    border:1px solid #454545;
    padding:10px 40px;
    border-radius:5px;
    font-weight:bold;
    text-transform:uppercase;
}
.title-sl-input input {
    font-size:16px;
    color:#454545;
    height:auto;
    border-radius:0px;
    box-shadow:none;
    border:none;
    border-bottom:1px solid #eee;

}
.boter-texter-feat .pull-left {
    font-size:16px;
    color:#454545;
}
.boter-texter-feat .pull-left a {
    color:#38c591;
}
.boter-texter-feat .btn {
    background:#fff;
    color:#38c591;
    border:2px solid #38c591;
    border-radius:20px;
    padding:06px 25px;
    margin:0 2px;
    font-size:16px;
    font-weight:bold;
    margin-bottom: 22px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.boter-texter-feat .btn:hover {
    background:#38c591;
    color:#fff;
}
.left-texti-ab {
    position:absolute;
    left:20px;
    top:40px;
    padding:8px;
    height:40px;
    width:40px;
    background:#fff;
    border:1px solid #eee;
    cursor:pointer;
    text-align:center;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.editoer-open .left-texti-ab {
    border-radius:20px 20px 0 0;
}
.spnter {
    padding: 1px 0;
}
.left-texti-ab ul {
    padding:0px;
    margin:0px;
    position:absolute;
    left:-1px;
    top:-300%;
    opacity:0;
    transform:scale(0);-o-transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.left-texti-ab ul li:last-child a {
    border-radius:0 0 20px 20px;
}
.editoer-open .left-texti-ab ul {
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
    top:38px;
    opacity:1;
}
.edit-info .spanterss:after {
    transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);
    top:0;
}
.edit-info .spanterss:before {
    transform:rotate(-45deg);-o-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);
    bottom:0;
}
.edit-info .spanterss {
    width:0px;
}
.left-texti-ab ul li {
    display:block;
    list-style-type:none;
}
.left-texti-ab ul li a {
    display:block;
    line-height:40px;
    height:40px;
    width:40px;
    text-align:center;
    border:1px solid #eee;
    border-top:none;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.left-texti-ab ul li a:hover {
    background:#36BF8A;
}
.spanterss {
    position:relative;
    height:2px;
    width:22px;
    background:#36BF8A;
    display:block;
    margin:10px 0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.spanterss:after {
    position:absolute;
    left:0;
    top:-8px;
    height:2px;
    width:22px;
    content:'';
    background:#36BF8A;
    transform:rotate(0);-o-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.spanterss:before {
    position:absolute;
    left:0;
    bottom:-8px;
    height:2px;
    width:22px;
    content:'';
    background:#36BF8A;
    transform:rotate(0);-o-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}

.boters-selects-aft {
    position:relative;
}
.boters-selects-aft select {
    -moz-appearance:none;
}
.boters-selects-aft:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ddd;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 18px;
}
.sertal-inputs select {
    height:40px;
}
.poster-tabwe {
    padding:20px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    margin-bottom:15px;
}
.poster-tabwe ul li a {
    font-weight:bold;
    color:#454545;
    text-transform:uppercase;
    position:relative;
    padding-bottom:20px;
}
.poster-tabwe ul li a:hover, .poster-tabwe ul .active a, .poster-tabwe ul .active a:focus, .poster-tabwe ul .active a:hover {
    background:none;
    border:1px solid transparent;
}
.poster-tabwe ul .active a, .poster-tabwe ul a:hover {
    color:#38c591;
}
.poster-tabwe .tab-content .active {
    position:relative;
}
.poster-tabwe ul .active a:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #38c591;
    content: "";
    pointer-events: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left:-4px;
}
.poster-tabwe .tab-content textarea {
    height:150px;
    border:1px solid #ddd;
    resize:vertical;
    padding:20px;
    font-size:18px;
    box-shadow:none;
}
.poster-tabwe .nav-tabs {
    border-bottom:none;
}
.uploar-imger {
    text-align:center;
    border-radius:5px;
    background:#fafafa;
    min-height:200px;
    margin-bottom:10px;
}
.uploar-imger .btn {
    font-size:18px;
    height:50px;
    width:50px;
    margin:0 10px 05px;
    text-align:center;
    background:#38c591;
    color:#fff;
    border-radius:50%;
}
.uploding-img-vie {
    box-shadow:0 0 5px #777;
    display:block;
}
.slectstle #cost {
    font-size:12px;
}
.atg-save-events {
    width:33.333%;
    float:left;
    padding:0 05px;
    min-height:340px;
    border-bottom:1px solid #eee;
    margin-bottom:10px;
}
.uplink-imgs {
    position:relative;
}
.uplink-imgs a {
    background: #F00;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 25px;
    box-shadow:0 0 5px #fff;
}
.moret-tea .fa.fa-minus {
    font-size:11px;
}

.popover-select-list li, .popover-select-tags .tag {
    background: #36bf8a !important;
    color: #fff !important;
}
.atg-event-list-full .event-name {
    color:#36BF8A !important;
    font-weight:bold !important;
}
.atg-events-calendar {
    font-family: "gotham_lightregular" !important;
}
.atg-event-list-full .event-time, .atg-event-list-full .event-date {
    color:#000 !important;
}
.events-calendar-bar .bar-btn {
    padding:5px 25px !important;
    border-radius:20px !important;
    font-weight:bold !important;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.events-calendar-bar .bar-btn.active, .events-calendar-bar .bar-btn:hover {
    background:#36BF8A !important;
}
.events-calendar-bar .bar-btn i {
    position:static !important;
    margin-right:06px;
}
.atg-calendar-full .calendar-title, .atg-calendar-full .calendar-btn {
    background:#36BF8A !important;
}
.atg-calendar-full .calendar-event-name.color-2 {
    background:#0d6e48 !important;
}
.atg-event-list-full .event-time i, .atg-event-list-full .event-date i {
    color:#0d6e48;
}

a{
    color:black;!important
}



.even-post-art {
    margin:15px 0 15px 0;
}
.venue-event-art {
    box-shadow:0 0 3px #eee;
    border:1px solid #eee;
    border-radius:4px;
    margin:15px 0;
}
.venue-event-art h2 {
    margin:0px;
    padding:10px;
    font-family:"gotham_mediumregular";
    font-size:16px;
    color:#232323;
    text-transform:uppercase;
    text-align:center;
    background:#e5e5e5;
    position: relative;
}
.inter-venue-art {
    padding:20px;
}
.inter-venue-art .dl-horizontal {
    margin:7px 0;
}
.inter-venue-art .dl-horizontal dt {
    text-align:left;
    text-transform:uppercase;
    color:#000;
    font-size:14px;
}

.ajenda-event .nav-tabs {
    border:none;
    text-align:center;
}
.ajenda-event .nav-tabs li {
    width:33.333%;
}
.ajenda-event .nav-tabs li a {
    text-transform:uppercase;
    color:#919191;
    border:1px solid #eee;
    margin:0px;
    box-shadow:0 0 3px #eee;
    border-radius:0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.ajenda-event .nav-tabs > li.active > a, .ajenda-event .nav-tabs > li.active > a:focus, .ajenda-event .nav-tabs > li.active > a:hover {
    background:#33bb87;
}
.ajenda-event .nav-tabs li a:hover {
    border:1px solid #eee;
}
.ajenda-event .nav-tabs .active a {
    background:#33bb87;
}
.ajenda-event .nav-tabs .active a span, .ajenda-event .nav-tabs a:hover span {
    color:#fff;
}
.ajenda-event .nav-tabs .active a, .ajenda-event .nav-tabs a:hover {
    color:#000;
}
.ajenda-event .nav-tabs li a:focus {
    color:#000;
}
.ajenda-event .nav-tabs a:hover span {
    color:#fff;
}
.ajenda-event .nav-tabs a:hover {
    background:#33bb87;
}
.inter-ajeta-details {
    box-shadow:0 0 3px #eee;
    border:1px solid #eee;
}
.inter-ajeta-details h5 {
    margin:0px;
    font-size:18px;
    color:#33bb87;
    text-align:center;
    padding:15px 0;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.our-cust-eve-table .table thead {
    text-transform:uppercase;
    border-top:1px solid #33bb87;
    color:#33bb87;
    font-size:16px;
}
.our-cust-eve-table .table {
    font-size:15px;
    color:#919191;
    margin:0px;
}
.our-cust-eve-table .table b {
    text-transform:uppercase;
}
.our-cust-eve-table .table > thead > tr > th {
    border-bottom:1px solid #33bb87;
    padding:10px 0;
}
.our-cust-eve-table .table > tbody > tr > td {
    padding:10px 0;
}
.ajenda-event .nav-tabs li a span {
    color:#232323;
    font-family:"gotham_mediumregular";
    display:block;
}
.ajenda-event, .cost-event-art, .geust-event {
    padding:20px;
}
.geust-event .owl-controls {
    position:absolute;
    width:100%;
    left:0;
    top:50%;
    margin-top:-19px;
}
.geust-event .owl-controls .owl-nav [class*="owl-"] {
    background:#36BF8A;
    color:#fff;
    border-radius:3px;
    text-transform:uppercase;
    border:1px solid #36bf8a;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.geust-event .owl-controls .owl-nav [class*="owl-"]:hover {
    color:#36bf8a;
    background:#fff;
    border:1px solid #36bf8a;
    border-radius:20px;
}
.geust-event .owl-controls .owl-nav .owl-prev {
    float:left;
}
.geust-event .owl-controls .owl-nav .owl-next {
    float:right;
}
.cost-event-art .nav-tabs {
    text-align:center;
    border:none;
}
.cost-event-art .nav-tabs > li {
    float:none;
    display:inline-block;
    margin:0px;
}
.cost-event-art .nav-tabs > li a {
    border:none;
    text-transform:uppercase;
    font-size:16px;
    color:#919191;
    position:relative;
    padding:10px 25px;
    font-family:"gotham_mediumregular";
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.cost-event-art .nav-tabs > li a:after {
    position:absolute;
    left:10px;
    top:17px;
    height:10px;
    width:10px;
    border-radius:50%;
    border:2px solid #919191;
    content:'';
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.cost-event-art .nav-tabs > li {
    margin:0 10px;
}
.cost-event-art .nav-tabs > li a:hover {
    background:none;
}
.cost-event-art .nav-tabs > li.active > a {
    color:#33bb87;
}
.cost-event-art .nav-tabs > li.active > a:after {
    border:2px solid #33bb87;
    background:#33bb87;
}
.cost-event-art .nav-tabs > li.active > a, .cost-event-art .nav-tabs > li.active > a:focus, .cost-event-art .nav-tabs > li.active > a:hover {
    border:none;
}
.cost-planer ul {
    padding:0px;
    margin:0px;
    text-align:center;
}
.cost-planer ul li {
    width:60%;
    display:inline-block;
    padding:0 15px;
    list-style-type:none;
}
.cost-planer ul li .inter-event-plan {
    border:1px solid #eee;
    box-shadow:0 0 3px #eee;
    border-radius:4px;
    text-align:center;
}
.inter-event-plan h1 {
    margin:0px;
    padding:10px 0 05px;
    font-size:16px;
    color:#232323;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.inter-event-plan h3 {
    padding:05px 0 10px;
    margin:0px;
    font-size:13px;
    color:#919191;
    text-transform:uppercase;
    border-bottom:1px solid #eee;
}
.inter-event-plan .even-det {
    padding:30px;
}
.inter-event-plan .even-det p {
    font-size:13px;
    color:#919191;
    line-height:20px;
    letter-spacing:1px;
}
.inter-event-plan .even-det p b {
    color:#232323;
}
.even-det .btn {
    background:#33bb87;
    color:#fff;
    font-size:16px;
    font-family:"gotham_mediumregular";
    border-radius:4px;
    border:1px solid transparent;
    transition:all 300ms linear 0s;
    text-transform:uppercase;
    width:100%;
    margin:15px 0 0;
}
.even-det .btn:hover {
    background:#fff;
    border:1px solid #33bb87;
    color:#33bb87;
}
.geust-event ul {
    padding:0px;
    margin:30px 0;
    text-align:center;
}
.geust-event ul li {
    width:32%;
    display:inline-block;
    padding:0 15px;
}
.gest-user-imformation {
    text-align:center;
}
.gest-user-imformation .user-imgers {
    height:100px;
    width:100px;
    border-radius:50%;
    margin:0 auto;
    border:2px solid #33bb87;
}
.gest-user-imformation .user-imgers img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.gest-user-imformation h3 {
    margin:15px 0 10px;
    font-size:16px;
    color:#454545;
    text-transform:uppercase;
    font-family:"gotham_mediumregular";
}
.gest-user-imformation h6 {
    margin:05px 0 10px;
    font-size:14px;
    color:#919191;
    color: #232323;
}

.event-conecting-peop {
    margin:20px 0;
}
.event-conecting-peop ul {
    padding:0px;
    margin:0px 0 20px;
    text-align:center;
}
.event-conecting-peop ul li {
    list-style-type:none;
    display:inline-block;
    width:40px;
}
.event-conecting-peop p {
    margin:0px;
}
.event-conecting-peop p a {
    font-size:16px;
    font-family: "gotham_mediumregular";
    text-align:center;
    color:#33bb87;
    display:block;
    margin:05px 0;
    text-transform:uppercase;
}

.dow-sav-like-btn {
    text-align:center;
}
.dow-sav-like-btn .btn {
    border:1px solid #33bb87;
    color:#33bb87;
    font-size:12px;
    padding:8px 9px;
    background:#fff;
    font-family: "gotham_mediumregular";
    text-transform:uppercase;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.dow-sav-like-btn .btn:hover, .acti-up-dw {
    background:#33bb87;
    color:#fff;
}
.uping-imgs {
  background: #38c591 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 100px;
  left: 0;
  margin: -60px auto 0;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 100px;
  z-index: 10;
}
.uping-imgs::before {
  color: #fff;
  content: "";
  font-family: "FontAwesome";
  font-size: 40px;
  left: 0;
  line-height: 100px;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.uping-imgs .upit-img {
    border-radius:50%;
    height:100%;
    width:100%;
    opacity:0;
    cursor:pointer;
}


.boter-texter-feat .btn {
    background:#fff;
    color:#38c591;
    border:2px solid #38c591;
    border-radius:20px;
    padding:06px 25px;
    margin:0 2px;
    font-size:16px;
    font-weight:bold;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}

.cust-daying-outer {
    padding:15px;
    background:#eee;
    margin-bottom:10px;
}
.append_date {
    background:#ddd;
    padding:10px;
    border-bottom:1px solid #eee;
}
#ui-datepicker-div {
    z-index:9999 !important;
}
#myModal .modal-content, #myModal1 .modal-content ,#myModal2 .modal-content, #myModal3 .modal-content  {
    cursor:auto;
}
.inter-event-plan h3 input {
    height:35px;
    box-shadow:none;
    border:1px solid #eee;
    width:90%;
    padding:0 10px;
    border-radius:05px;
}
.modal-dialog {
    margin:70px auto 0;
}
.guest-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 25px auto;
    box-shadow: 0 0 3px #eee;
    position: relative;
}
.guest-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.guest-image .cros-opt {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background: #f00;
    color: #fff;
    content: '';
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}
.model-guest {
    width:500px;
}
.up-gest-plusi, .remove-guest {
    position:absolute;
    right:20px;
    top:20px;
    border-radius:50px;
    height:40px;
    width:40px;
    line-height:40px;
    font-size:20px;
    background:#eee;
    color:#38C591;
    text-align:center;
    border:1px solid #33bb87;
}
.apend-gest-plus {
    padding:15px;
    background:#eee;
    border-bottom:3px solid #fff;
    border-radius:05px;
    position:relative;
}
.guest_appned_div {
}
.model-guest .modal-body {
    max-height:385px;
    overflow:auto;
}

.team-detai-sec {
    padding:60px 0;
}
.team-imfor-det {
    min-height:411px;
}
.team-imfor-det label {
    font-size:16px;
    color:#000;
    text-transform:uppercase;
}
.team-imfor-det .form-group {
    padding:15px;
    margin-bottom:10px;
    border-bottom:1px solid #eee;
}
.team-imfor-det .form-group:last-child {
    border-bottom:none;
    margin-bottom:0px;
}
.team-imfor-det .form-group p {
    color:#343434;
    font-size:15px
}
.team-imfor-det input {
}
.edit-ss-btn {
    padding: 05px 30px;
    background: #36bf8a;
    color: #fff;
    font-size: 16px;
    margin: 05px 0;
    border-radius: 20px;
    transition: all 300ms linear 0s;
}
.edit-ss-btn:hover {
    border: 1px solid #36bf8a;
    color: #36bf8a;
    background: #fff;
}
.contact-inputs-outer .pagination li > a {
    background:#fff;
    border:1px solid #36BF8A;
    color:#36BF8A;
}
.contact-inputs-outer .pagination li > span , .contact-inputs-outer .pagination li > a {
    height:35px;
    width:35px;
    border-radius:50%;
    margin:0 02px;
}
.contact-inputs-outer .pagination > .active > a, .contact-inputs-outer .pagination > .active > a:focus, .contact-inputs-outer .pagination > .active > a:hover, .contact-inputs-outer .pagination > .active > span, .contact-inputs-outer.pagination > .active > span:focus, .contact-inputs-outer .pagination > .active > span:hover {
    background:#36BF8A;
    border:1px solid #36BF8A;
}
.no-record-found-msg {
    width: 100% !important;
    text-align: center;
}
.contact-inputs-outer .box-body table thead tr th {
    background: #36bf8a;
    color: #fff;
}
.contact-inputs-outer .pagination {
    float: right;
}
.input-margin input {
    width: 40%;
    margin: 0 08px 0 0;
    float: left;
}
.input-margin label {
    display: block;
}
.comment-pic input {
    height: auto !important;
    margin: 05px 0 !important;
}
.comment-pic input:hover, .comment-pic input:focus {
    border: none !important;
}


.comment-pic {
    font-size:14px;
    height:30px;
    width:30px;
    margin:0 10px 05px;
    text-align:center;
    background:#38c591;
    color:#fff;
    border-radius:50%;
    position:absolute;
    display:inline-block;
    text-align:center;
    cursor: pointer;
    margin: 05px 0;
    top: 08px;
    right: 0;
}
.comment-pic:before {
    position:absolute;
    left:0;
    line-height:30px;
    right:0;
    content:'\f030';
    color:#fff;
    font-size:14px;
    pointer-events:none;
    font-family:'FontAwesome';
    cursor: pointer;
}
.comment-pic .upit-imgse {
    border-radius:50%;
    height:100%;
    width:100%;
    opacity:0;
    cursor: pointer;
}
.report ul li{
    display: block;
    list-style-type: none;
    padding: 0 15px;
    width: 50%;
}


/*Suraj*/
.venue-event-art h2 img {
    float: right;
    position: absolute;
    right: 10px;
    top: 0px;
}


#delegates  .cost-planer ul li{ width: 100%;}
.offset-bot-15{ margin-bottom: 15px;} 
#delegates  .cost-planer ul li .inter-event-plan { padding: 20px;}
#delegates  .inter-event-plan .even-det { padding: 0px;}


.cstprize {
    float: right;
}

.events > ol {
    list-style-type: none;
    padding: 0;
}




/*<!---------Search Details---29-July-16------->*/
.dash-header-bot .dash-search-middle {
    width:100%;
    border:none;
    background:#36BF8A;
}
.dash-search-middle ul li {
    margin:008px 10px;
}
.dash-search-middle ul li a {
    color:#fff;
    text-transform:uppercase;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;
}
.dash-search-middle ul li a:hover, .dash-search-middle ul .active a {
    color:#000;
}
.serch-acorde {
}
.border-left {
    border-left:1px solid #eee;
}

.serch-acorde .panel-group .panel {
    margin-bottom:10px;
}
.serch-acorde .panel-group .panel {
    box-shadow: 0 0 3px #eee;
    border-radius:02px;
    border:1px solid #eee;
}

.serch-acorde.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #eaeaea;
    border-color: #EEEEEE;
}
.serch-acorde .panel-title {
    font-size: 14px;
}
.serch-acorde .panel-title > a {
    display: block;
    padding: 0px 05px;
    text-transform:uppercase;
    font-family: "gotham_mediumregular";
    color:#269b70;
    text-decoration: none;
}
.serch-acorde .more-less {
    float: right;
    color:#269b70;
    font-size:10px;
    line-height:18px;
}
.serch-acorde .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #269b70;
}
.ser-ntor-info {
}
.ser-ntor-info ul {
    padding:0px;
    margin:0px;
}
.ser-ntor-info ul li {
    list-style-type:none;
    width:100%;
    float:left;
}

/*Checkboxes styles start*/
.boxesss {
    margin:05px 0;
}
.boxesss input[type="checkbox"] { display: none; }
.boxesss input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    color:#b7b7b7;
    text-transform:uppercase;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.boxesss input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.boxesss input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid #b7b7b7;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}
.boxesss input[type="checkbox"]:checked + label {
    color:#36BF8A;
}
.boxesss input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    border: 1px solid #36BF8A;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-webkit-transform: rotate(45deg);
}
/*Checkboxes styles End*/
.modal-dialog {
    cursor:default;
}
.medi-head-search input {
    height:45px;
    border:1px solid #eee;
    box-shadow:none;
    border-left:none;
}
.medi-head-search input:hover, .medi-head-search input:focus {
    box-shadow:none;
    border:1px solid #eee;
    border-left:none;
}
.medi-head-search .btn {
    height:45px;
    border:1px solid #eee;
    border-right:none;
}
.medi-head-search .btn:hover {
    background:none;
}
.medi-head-search, .medi-midl-search, .medi-foot-search {
    padding:15px 50px;
    text-align:left;
}
.ser-ntor-grid ul li {
    width:33.333%;
}
.seling-sorting-grp {
    margin:15px 0;
    border:1px solid #eee;
    box-shadow:0 0 3px #eee;
    border-radius:03px;
    padding:15px;
}
.seling-sorting-grp ul {
    padding:0px;
    margin:0px;
}
.seling-sorting-grp ul li {
    float:left;
    list-style-type:none;
    margin:0 5px 5px 0;
}
.seling-sorting-grp ul li span {
    background:#eee;
    color:#222;
    border-radius:05px;
    padding:05px;
    font-size:13px;
    border:1px solid #ddd;
    display:block;
    background: #fcfcfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfd 0%, #c0c1c0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfcfd 0%,#c0c1c0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfcfd 0%,#c0c1c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfd', endColorstr='#c0c1c0',GradientType=0 ); /* IE6-9 */
}
.seling-sorting-grp ul li span a {
    color:#222;
    margin-left:10px;
}
.seling-sorting-grp ul li span a:hover {
    color:#36BF8A;
}
.serchieds-if {
    margin:0 0 10px;
}
.serchieds-if a {
    text-transform:uppercase;
    font-family: "gotham_mediumregular";
}
.serchieds-if a, .serchieds-if span {
    color:#1fa370;
}
.serchieds-if span .boxesss label {
    text-transform:capitalize;
}
.serter-btns {
    text-align:center;
    margin:15px 0;
}
.serter-btns .btn {
    background:#fff;
    border:2px solid #1fa370;
    color:#1fa370;
    font-size:16px;
    text-transform:uppercase;
    padding:06px 20px;
    border-radius:25px;
    font-family: "gotham_mediumregular";
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.serter-btns .btn:hover {
    color:#fff;
    background:#1fa370;
    border:2px solid #1fa370;
}
.ims-main-sec {
    padding:20px;
    overflow:visible;
    background-color:  #fcfbfc;
}
.inter-ims {
    border:1px solid #ccc;
    border-radius:05px;
}
.left-ims-div {
    width:25%;
    float:left;
}
.ims-sub-head {
    min-height:75px;
    border-bottom:1px solid #ccc;
    padding:25px 20px 0;
    text-align:center;
}
.ims-sub-head a i {
    font-size:25px;
    color:#5b5b5b;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.ims-sub-head a:hover i {
    color:#269b70;
}
.ims-sub-head .all-categg {
    display:inline-block;
    position:relative;
}
.all-categg select {
    border:none;
    box-shadow:none;
    font-size:16px;
    font-family: "gotham_mediumregular";
    color:#36BF8A;
    padding:0px 30px 0 0;
    text-transform:uppercase;
}
.all-categg::after {
    top:15px;
    border-top:6px solid #36BF8A;
}
.all-categg select:hover ,.all-categg select:focus {
    box-shadow:none;
    border:none;
}
.mid-ims-div {
    width:50%;
    float:left;
}
.right-ims-div {
    width:25%;
    float:left;
}
.ims-sub-head h1 {
    text-align:left;
    margin:0px;
    font-size:22px;
    font-family: "gotham_mediumregular";
    color:#232323;
}
.ims-sub-head h1 span {
    color:#8e8e8e;
    font-size:16px;
}
.tabig-ims ul {
    height:75px;
    text-align:center;
}
.tabig-ims ul li {
    float:none;
    display:inline-block;
}
.tabig-ims .nav > li > a {
    padding:16px 20px;
    border:none;
    font-size:30px;
    color:#9e9e9e;
}
.tabig-ims .nav > li > a:hover {
    background:none;
    border:none;
}
.tabig-ims .nav-tabs > li.active > a, .tabig-ims .nav-tabs > li.active > a:focus, .tabig-ims .nav-tabs > li.active > a:hover {
    padding:16px 20px;
    background:none;
    border:none;
    color:#36BF8A;
}
.tabig-ims .tab-content {
    padding:10px;
}
.letre-ims-tag .input-group {
    padding:10px;
    border-bottom:1px solid #eee;
}
.letre-ims-tag .input-group input, .letre-ims-tag .input-group .btn {
    height:45px;
    background:#fafafa;
    box-shadow:none;
    border:1px solid #eee;
}
.letre-ims-tag .input-group input {
    border-left:none;
}
.letre-ims-tag ul {
    padding:0px;
    margin:0px;
}
.letre-ims-tag ul li {
    list-style-type:none;
    display:block;
    position:relative;
    border-bottom:1px solid #eee;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.letre-ims-tag ul li.active, .letre-ims-tag ul li:hover {
    background:#fafafa;
}
.letre-ims-tag ul li:after {
    position:absolute;
    left:0;
    top:0;
    width:0px;
    height:100%;
    content:'';
    background:#36BF8A;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.letre-ims-tag ul li.active:after, .letre-ims-tag ul li:hover:after {
    width:4px;
}
.letre-ims-tag ul li a {
    padding:8px 10px;
    display:block;
    position:relative;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.letre-ims-tag ul li a .media .ims-ustre {
    height:55px;
    width:55px;
    border-radius:50%;
    text-align:center;
    border:2px solid #ddd;
}
.ims-ustre i {
    color:#ddd;
    line-height:50px;
    font-size:30px;
    content:"assets/Frontend/img/def_fav_icon.png" ;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.letre-ims-tag ul li a:hover .media-left i, .letre-ims-tag ul li.active a .media-left i {
}
.letre-ims-tag ul li a:hover img, .letre-ims-tag ul li.active a img  {
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
}
.ims-ustre img {
    transform:scale(0);-o-transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.letre-ims-tag ul li a .media .ims-ustre img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.letre-ims-tag ul li a .media .media-heading {
    color:#494949;
    font-size:18px;
    font-family: "gotham_mediumregular";
}
.letre-ims-tag ul li.active a .media .media-heading, .letre-ims-tag ul li:hover a .media .media-heading {
    color:#36BF8A;
}
.letre-ims-tag ul li.active a .media .media-heading span, .letre-ims-tag ul li:hover a .media .media-heading span {
    color:#494949;
}
.letre-ims-tag ul li a .media p {
    color:#494949;
}
.mid-ims-msg-div .media-heading {
    margin-top:28px;
}
.ims-post-date {
    font-size:13px;
    text-transform:uppercase;
    padding:0px 30px 05px;
    margin-bottom:20px;
    border-bottom:1px solid #ccc;
}
.ims-dinvis-text {
}
.mid-ims-div {
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.mid-ims-msg-div .media {
    padding:15px 05px;
}
.mid-ims-msg-div .media .media-left {
    padding-left:30px;
}
.mid-ims-msg-div .media .media-body {
    padding-right:30px;
}
.mid-ims-msg-div .media .media-body p {
    padding:0px;
    color:#9e9e9e;
    font-size:14px;
}
.ims-dinvis-text .left-texti-ab {
    top:0px;
}
.ims-dinvis-text .title-input textarea {
    font-weight:normal;
}
.ims-dinvis-text {
    padding-right:20px;
}
.subsc-ims .boxesss {
    margin:0px 15px 0 0;
    display:inline-block;
}
.subsc-ims .boxesss input[type="checkbox"] + label {
    text-transform:capitalize;
}
.ims-send-btn {
    border:2px solid #36BF8A;
    font-size:16px;
    text-transform:uppercase;
    padding:2px 20px;
    border-radius:20px;
    background:#fff;
    color:#36BF8A;
    font-family: "gotham_mediumregular";
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.ims-send-btn:hover {
    background:#36bf8a;
    color:#fff;
}
.subsc-ims .pull-left a {
    font-size:20px;
    color:#b7b7b7;
    margin-top:05px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.subsc-ims .pull-left a:hover {
    color:#494949;
}
.ims-post-igod {
    padding:05px;
    text-transform:uppercase;
    border-bottom:1px solid #ccc;
    font-size:13px;
    font-family: "gotham_mediumregular";
    color:#494949;
    text-align:center;
}
.interss-img-admin .media {
    padding:10px 05px;
    border-bottom:1px solid #eee;
    margin-top:0px;
}
.interss-img-admin .user-img-annec {
    height:40px;
    width:40px;
    border-radius:50%;
    border:2px solid #b7b7b7;
}
.interss-img-admin .user-img-annec img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.interss-img-admin .media .media-body {
    vertical-align:middle;
}
.interss-img-admin .media .media-heading a {
    color:#9e9e9e;
    font-size:16px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.interss-img-admin .media .media-heading a:hover, .interss-img-admin .media.active .media-heading a {
    color:#36bf8a;
}
.interss-img-admin .media.active .user-img-annec {
    border:2px solid #36bf8a;
}
/*.pad-to-ins {
    padding-top:05px;
    border-top:1px solid #ccc;
}*/
.mid-ims-msg-div .media .media-heading span {
    position:relative;
    font-weight:lighter;
}
.mid-ims-msg-div .media .dropdown-menu {
    font-size:12px;
    font-weight:100;
    text-align:center;
}
.ex-pand-pin-div {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #36bf8a;
    border-radius: 0 0 5px 5px;
}
.ex-pand-pin-div a {
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: "gotham_mediumregular";
}
.team-mem-inner .csuto-otp input {
    border: medium none;
    box-shadow: none;
    height: auto;
}
.team-men-remove-padd {
    padding: 10px 50px;
}
.boter-hash-taber .btn.repot > span {
    opacity:0;
}
.boter-hash-taber .btn.repot:hover > span {
    opacity:1;
}
.title-input {
    position:relative;
}
.title-input span {
    /*position:absolute; */
    right:0;
    font-family: "gotham_mediumregular";
    top:0;
    height:50px;
    width:50px;
    line-height:50px;
    font-size:28px;
    text-align:center;
    color:#36BF8A;
    /* border:2px solid #36BF8A; */
    background:#fff;
    border-radius:50%;
}
.report-pop .modal-body {
    padding:0px;
}
.report-infos-cont h1 {
    margin:0px;
    text-align:center;
    font-size:22px;
    background:#36BF8A;
    color:#fff;
    padding:10px;
    border-radius:05px 05px 0 0;
}
.report-infos-cont ul {
    margin:0px;
}
.report-infos-cont ul li {
    list-style-type:none;
    width:50%;
}
.report-infos-cont ul li label {
    font-family: 'gotham_extralightregular';
}

.comment-up-dp {
    position:absolute;
    right:0px;
    top:10px;
}
.posted-arti-comment .media .media-body {
    position:relative;
    overflow: visible;
}
.posted-arti-comment .comment-up-dp .btn {
    background: #fff ;
    border: 1px solid #33bb87;
    color: #33bb87;
    font-family: "gotham_mediumregular";
    font-size: 12px;
    padding: 8px 15px;
    text-transform: uppercase;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.posted-arti-comment .comment-up-dp .btn:hover {
    background:#33bb87;
    color:#fff;
}
.posted-arti-comment .comment-up-dp .btn:hover .btn-counters, .acti-up-dw .btn-counters {
    opacity:1;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
}
.acti-up-dw {
    /*background:#33bb87 !important;
    color:#fff !important;*/
}
.my_group_li_chlid .active {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #36bf8a !important;
    color: #36bf8a !important;
}
.box-locat {
    margin: 20px 0 0;
}
.box-locat input {
    border-radius: 03px;
    border: 1px solid #eee;
    box-shadow: none;
    width: 290px;
    height: 35px;
    padding-left:05px; 
}

#emojiMenuBtnWrapper {
    bottom: -45px;
    left: 40px;
    position: absolute;
}

#record-not-found img{
    width: 300px !important;
}


.spCat {
    float: left;
    margin-top: 0px;
}

.cstprize {
    display: inline;
    float: none;
}

.conee-btn-new {
    background: #36bf8a none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    font-family: "gotham_lightregular";
    font-size: 14px;
    margin-right: 0px;
    padding: 5px 16px;
    text-transform: uppercase;
}
span.cbtn {
    float: right;
    margin-top: -5px;
}
.gallery-left-top nav ul li .sub-menu li a span i {
    margin-right: 0;
}




.conne-medias .media-heading .med-user-click {
    border: medium none;
    color: #000;
    display: inline-block;
    font-size: 16px;
    padding: 0px;
}
.conne-medias .media-heading .med-user-click:hover {
    border: medium none;
    color: #36BF8A;
}


/*Double Click / Tap highlight */
span.dblhint_light { position: relative; display: inline; font-weight: bolder; }
span.dblhint_light:before { position: absolute; left: 0; top: -10%; width: 100%; height: 90%; background: #fff; filter: blur(20px); content: ""; opacity: 0; animation: flash .8s ease-out alternate infinite; }
@keyframes flash { to { opacity: 1; } }

.gallery-left-top nav img, .dashter ul li img {
    width:40px;
    height:40px;
    border:1px solid #36BF8A;
    border-radius:50%;
}
.inter-categ ul li img{
    height:30px;
    width:30px;
    border:1px solid #36BF8A;
    border-radius:50%;
}
.gruss-droper ul li img {
    height:30px;
    width:30px;
    border:1px solid #000;
    border-radius:50%;
}
.grouplist-opt ul  {
    height: 682px;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.mygrouplist-opt  {
    height: 473px;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.model-connect-user .media-user {
    height:60px;
    width:60px;
}
.model-connect-user .media-user img {
    height:100%;
    width:100%;
    border-radius:50%;
}
.model-connect-user .opt-folow-med .media-heading {
    font-size:20px;
    margin:10px 0;
}
.model-width{
    width:400px;
}
.load-more-margin  {

    margin-top:50px;

}
.ims-ustre {
    position: relative;
}
.letre-ims-tag ul li a .remov-slide-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
}
.letre-ims-tag ul li a:hover .remov-slide-img {
    transform:scale(0);-o-transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);
}
.dis-slide-img {
    transform:scale(0);-o-transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);
}
.letre-ims-tag ul li a:hover .dis-slide-img {
    transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);
}
.accordion .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {

    border-top:none;

}

.accordion .panel {

    box-shadow:none;

}
.insta-icon {
    background-color: #0d6e48;

}
.otg-found .media-body {
    position:relative;
}


.thumb-up-down {
    position: relative;
}
.thumb-up-down a {
    color: #3339;
    display: inline-block;
    padding-left: 9%;
    cursor: pointer;
    font-size: 20px;
}

.thumb-up-down a:first-child {
    padding-left: 0px;
}

.thumb-up-down .fa-thumbs-up, .thumb-up-down .fa-thumbs-down {
    color: #55B855;
}

 
.thumb-up-down a i{
    font-size: 20px;
}

.cust-scol-div {
    height: 345px;
    overflow: auto;
}
.color-circle-align{
    float:right;
    margin-right: 10px;
}


.circle-color-blue:hover .hover-div{
    position: absolute;
    display: block;


}
.color-circle-align span{
    position: relative;
    margin-left: 10px;
    margin-right: 5px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 3px #000;
}
.circle-color-blue{

    width: 10px;
    height: 10px;
    background-color:#567bd2;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.hover-div{
    display: none; 
    width: 100px;
    height: 100px;
    background-color: #fff;
    position:absolute;
    border:1px solid #ccc;
    box-shadow: 0px 0px 3px #000;
    left: 0;
    right: 0;
    top:0;
}
.circle-color-green{

    width: 10px;
    height: 10px;
    background-color:#669933;
    border-radius: 50%;
    display: inline-block;
}
.circle-color-orange{

    width: 10px;
    height: 10px;
    background-color:orange;
    border-radius: 50%;
    display: inline-block;
}
.circle-color-sky-blue{

    width: 10px;
    height: 10px;
    background-color:#13baff;
    border-radius: 50%;
    display: inline-block;
}


.report-infos-cont h6 {
    margin:0px;
    text-align:center;
    font-size:15px;
    background:#36BF8A;
    color:#fff;
    padding:10px;
    border-radius:05px 05px 0 0;
}
.recommonded_img{
    border: 1px solid #36bf8a;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.explore-group {
    color: #000;
    transition: all 300ms linear 0s;
}
.explore-group:hover{
    color:#269b70;
}

.unpublish {
    background: #25996c;
    color: #ffffff;
    display: block;
    padding: 5px;
    text-align: center;
}
.gif-img-resp img {
    width: 100%;
}
.TagButtonClass{
    color:#a4aab3;
}

.text-cnter-picture {
    text-align: center;
}
.replies-count a, .comment-img a {
    color:#36BF8A;
    font-size:16px;
}
.replies-count a {
    margin-left:10px;
}
.replies-count, .comment-img {
    display:inline-block;
    margin-right:15px;
}
.comment-img {
    position:relative;
}
.comment-img .img-hover {
    position:absolute;
    left:100%;
    bottom:0;
    height:130px;
    width:220px;
    margin-left:5px;
    padding:5px;
    border:1px solid #eee;
    border-radius:5px;
    background:#fff;
    opacity:0;
    visibility:hidden;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.comment-img .img-hover img {
    height:100%;
    width:100%;
}
.comment-img:hover .img-hover {
    opacity:1;
    bottom:0;
    visibility:visible;
}

.posted-arti-comment .media .media-body #myDiv input, .posted-arti-comment .media .media-body #myDiv2 input, .posted-arti-comment .media .media-body #myDiv3 input {
    height:45px;
    border:1px solid #eee;
    box-shadow:none;
    margin:15px 0;
    border-radius:0px;
    font-size:16px;
}
.posted-arti-comment .media .media-body #myDiv .btn, .posted-arti-comment .media .media-body #myDiv2 .btn, .posted-arti-comment .media .media-body #myDiv3 .btn {
    background:#36BF8A;
    color:#fff;
    border-radius:0px;
    height:50px;
    padding:0 30px;
    border:1px solid #36BF8A;
    font-weight:500;
    display:inline-block;
    vertical-align:top;
    border-radius:5px;
}
.mar-upload-reply {
    display:inline-block;
}
.posted-arti-comment .media .media-body .media {
    margin-top:0px;
}
.posted-arti-comment .media .media-body .post-ari-img {
    height:50px;
    width:50px;
}
#emojiMenu{
    margin-left: -185px !important;
    bottom:0;
}
#profile-modal1 .croppie-container, #profile-modal .croppie-container{
  padding: 15px 20px;
}
#profile-modal1 .modal-dialog, #profile-modal .modal-dialog{
 margin: 30px auto 0;
 padding: 10px;
}
.croppie-container .cr-slider-wrap{
  margin: 10px auto 0;
}
.collapsed .fa-minus:before{
  position:absolute;
  top:0;
  left:-13px;
  content:"\f067";
  font-family:'FontAwesome';	
}
.green-active {
  background: #36bf8a none repeat scroll 0 0;
} 



.custom-pagination ul li.active span {
  background-color: #33bb87;
  border-color: #33bb87;
  color: #fff;
  cursor: default;
  z-index: 2; font-weight:600;
}

.custom-pagination ul li > a, .custom-pagination ul > li > span {
  background-color: #fff;
  border: 1px solid #33bb87;
  color: #33bb87;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}

.custom-pagination ul > li {
  display: inline-block;
}

.custom-pagination ul li:first-child > a, .custom-pagination ul li:first-child > span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 0;
  border: 1px solid #33bb87;
   color: #33bb87;
}

.custom-pagination ul li:last-child > a, .custom-pagination ul li:last-child > span {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;  color: #33bb87;
}

.custom-pagination ul > li > a:focus, .custom-pagination ul > li > a:hover, .custom-pagination ul > li > span:focus, .custom-pagination ul > li > span:hover {
  background-color: #33bb87;
  border-color: #33bb87;
  color: #fff;
}
.steper-two-inner .more .icon-Done {
  color: #36BF8A !important;
}
.pi-skills-row ul{
    padding:0; 
}
.pi-skills-row ul li{
    display:inline-block !important;
    margin:0 !important;
}
.job-post-art .pi-skills-row ul li::after {
  display: none;
} 
.active-filter {
  color: #36BF8A;
}
.croppie-container .cr-viewport {
  border: 2px solid #fff;
  bottom: 0;
  box-shadow: 0 0 0 899px rgba(0, 0, 0, 0) !important;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.croppie-container .cr-viewport{
    border:0 !important;
}
.asdbordis-s.open .dropdown-menu {
  display: block !important;
}


.uping-imgs.uplode-img-cam {
  height: 60px;
  width: 60px;
}
.uping-imgs.uplode-img-cam::before {
  font-size: 20px;
  line-height: 60px;
}
.note_msg {
	font-size: 12px;
	margin: 105px auto 0;
	/* display: none; */
	position: absolute;
        width: 90%;
}
.title-input.uplink-imgs {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.title-input.uplink-imgs {
    position: relative;
    z-index: 15;
}
.min-hieght-opt {
    height: 370px !important;
    overflow: auto !important;
}

/* ITXITPRO CSS */
.mobile-view{ display: none; }
.ser_mobile_view{ display: none; }
.selected-cate .panel-heading{ text-align: left; }

.panel-title{padding: 5px 7px;
    font-size: 16px;
    color: #269b70;
    margin: 0px;
    font-family: 'gotham_mediumregular';   
    text-transform: uppercase;
    }

.panel-title .glyphicon{ float: right }

.selected-cate h4{ display: none; }

/* 16022017 */
.fixter label{padding: 5px 5px; cursor: pointer; }
.fixter ul.dropdown-menu label{padding-left:16px; cursor: pointer; }
/*.category-listing-form1 .dropdown-menu li input[type=checkbox]{
    
    top:11px;
}
.category-listing-form1 .dropdown-menu li a {
   
   padding: 10px 20px 10px 22px;
   
}
*/
.message_mobile{ display: none; }
.mb-show{display: none}
.main-right-user > ul > li.search_group_user{ display: none; }

 .userloggin .contact-sec{margin-top: 0px !important; }
.contact-sec h1{padding: 7px 0;}
.well-mb{ display: none; }
@media (max-width: 991px){
     .userloggin .contact-sec{margin-top: 0px !important; }
}

@media (max-width: 767px){
    .go-whatsapp {
        background:#29A71A;
}
.well-mb{ display: block; }
.well-dk{ display: none; }
#emojiMenu {
    margin-left: -42px !important;
    bottom: 0;
    margin-bottom: 100px;
}
.letre-ims-tag ul li a .media .media-heading{ font-size: 12px; }
.letre-ims-tag ul li a .media .ims-ustre{ width: 40px; height: 40px; }
    .userloggin .contact-sec{margin-top: 0px !important; }
    .right-caret:after {
    border-left: 5px solid transparent !important;
    left: 100px ;
    position: relative;
    top: 3px;
    border-right: solid 5px transparent !important;
    border-bottom: solid 5px transparent !important;
    border-top: 5px solid #000 !important;
}
 .category-listing-form1 li .dropdown-menu {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: static !important;
    top: 0px;
    padding-left: 30px !important;
    width: 100% !important;
    }
    .well-mb{ display: block; }
    .well-dk{ display: none; }
            #emojiMenu {
        margin-left: -42px !important;
        bottom: 0;
    }
    .letre-ims-tag ul li a .media .media-heading{ font-size: 12px; }
    .letre-ims-tag ul li a .media .ims-ustre{ width: 40px; height: 40px; }
        .userloggin .contact-sec{margin-top: 0px !important; }
        .right-caret:after {
        border-left: 5px solid transparent !important;
        left: 100px ;
        position: relative;
        top: 3px;
        border-right: solid 5px transparent !important;
        border-bottom: solid 5px transparent !important;
        border-top: 5px solid #000 !important;
    }
     .category-listing-form1 li .dropdown-menu {
        border: medium none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: static !important;
        top: 0px;
        padding-left: 30px !important;
        width: 100% !important;
        }
    .ser_mobile_view{ display: block; }
    .ser_view{ display: none; }

    .btm-click{    position: fixed;
        bottom: 0px;
        width: 100%;
        background: white;
        left: 0px;
        z-index: 111;
        padding: 10px;}


        .category-listing-form1 > li {
        position: static !important;
        z-index: -999999;
        display: flex;
    }
    .category-listing-form1 .dropdown-menu li{display: table !important;}

    .skepper-div{position: fixed;
        bottom: 0px;
        background: white;
        display: block;
        width: 100%;
        z-index: 111;
        padding: 10px;}

        .step-twos-outer{ display: none; }
        .mobile-view{
            display: block;
        }

    .selected-cate .panel-title{ text-align: left; }


    .selected-cate h5{ display: none; }

    .selected-cate ul{ border: none; }

    .posr-inner h1{ display: none; }

    .c_btn .glyphicon{ float: none !important }
    .btm-click h4{ display: inline-block !important; float: left; }
    .category-listing-form1{ min-height: 200px; }

    .selected-cate .btn {
      
        font-size: 16px;
        height: 36px;
        padding: 0 24px;
    }


    .left-ims-div{ width: 100% }
    .mid-ims-div{ width: 100% !important }
    .message_ds{ display: none; }
    .message_mobile{ display: block; }

    .user-message-list .media-body p{ display: none; }
    .live-search-list li{ padding: 10px 5px; border-bottom: none; }
    .media{ margin-top: 20px !important; }
    .media .media-left{    padding-left: 0px;}



    .left-texti-ab{ display: none; }
    .text-feder-outer{ padding: 0px; }
    .text-feder-outer .rightwer ul li {
        
        padding-left: 30px;
    }
    .boxesss input[type="checkbox"] + label{padding-left: 20px;
        font-size: 12px;}
    .error-logo img{ width: 100%; }
    .text-center img{ width: 100%; }

}

@media (max-width: 480px){

.ds-show{display: none}
.mb-show{display: block}
.main-right-user > ul > li.search_group_user{ display: inline-flex; }
.icon-search{color: #b2b2b2;}
.contact-sec h1{    font-size: 22px;}

}


/* Editor embedding responsiveness */
.embed-container-instagram {position: relative; padding-bottom: 120%; height: 0; overflow: hidden;} .embed-container-instagram > iframe, .embed-container-instagram > object, .embed-container-instagram > embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-container-youtube { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container-youtube > iframe, .embed-container-youtube > object, .embed-container-youtube > embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-container-vimeo { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container-vimeo > iframe, .embed-container-vimeo > object, .embed-container-vimeo > embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-container-dailymotion { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container-dailymotion > iframe, .embed-container-dailymotion > object, .embed-container-dailymotion > embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-facebook-video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.embed-facebook-video-responsive > iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.center-fr-image {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.responsive-video-embed span.fr-video.fr-draggable{
    position:initial;
}




@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    #toprightnavbar {
        width: 85%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #audiance_details .modal-content {
        width: 90%;
        left: 5%;
    }
    #audiance_details .modal .fade.in {
        left: 5%;
    }

    .modal-body h6{
        width: 98%;
    }

    .title-sl-input input{
        font-size: 12px;
    }
    .popover-tag-wrapper .popover-select-tags{
        width: 99%;
        height: 50px;
    }
    .media .media-heading {
        top: 0%;
        left: 3.5%;
    }
    .media .media-body2 {
        width: 100%;
        overflow-wrap: break-word;
    }
}
@media only screen and (min-device-width : 400px) and (max-device-width : 480px) {
    .modal-body h6{
        width: 98%;
    }
}  


@media only screen and (min-device-width : 320px) and (max-device-width : 390px) {
    .rightwer .clearfix{
         width: 340px;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
         column-count: 2;

        -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
        -moz-column-gap: 0px; /* Firefox */
         column-gap: 0px;
    }
}
@media only screen and (min-device-width : 400px) and (max-device-width : 450px) {
    .rightwer .clearfix{
        width: 360px;
       -webkit-column-count: 2; /* Chrome, Safari, Opera */
       -moz-column-count: 2; /* Firefox */
        column-count: 2;

       -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
       -moz-column-gap: 0px; /* Firefox */
        column-gap: 0px;
   }
}

.date_display {
    font: 16px Source Sans Pro;
    color: grey;
    text-transform: lowercase;
    text-transform: capitalize;
}
#onbeforedate{
    font: 16px Source Sans Pro;
    color: grey;
    text-transform: lowercase;
}

.media .media-body2 {
    width: 100%;
    overflow-wrap: break-word;  
}
.media .media-heading {
    left: 2%;
}

.post-arti-comt .media #form-comment-mettup{
    display: flex;
}

.post-arti-comt .media .media-up {
    width: 10%;
}

/*For Input Spinner */
.handle-counter { overflow: hidden; }

.handle-counter .counter-minus,  .handle-counter .counter-plus,  .handle-counter input {
    float: left;
    text-align: center;
}

.handle-counter .counter-minus,  .handle-counter .counter-plus { text-align: center; }

.handle-counter input {
    width: 50px;
    padding: 6px 12px;
    border-width: 1px;
    border-left: none;
    border-right: none;
}

.cbtn {
    padding: 6px 12px;
    border: 1px solid transparent;
    color: #fff;
}

.cbtn:disabled, .cbtn:disabled:hover {
    background-color: darkgrey;
    cursor: not-allowed;
}

.cbtn-primary { background-color: #36bf8a; }

.image_modal_align{
	margin-top:30px;
	
}

.cbtn-primary:hover, .cbtn-primary:focus { background-color: #6ABF89; }
.calender-events-icon-inline{display:inline-block;}
