@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'gotham_extralightregular';
    src: url('../fonts/gotham-xlight1-webfont.woff2') format('woff2'),
         url('../fonts/gotham-xlight1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_ultraregular';
    src: url('../fonts/gotham-ultra1-webfont.woff2') format('woff2'),
         url('../fonts/gotham-ultra1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_thinregular';
    src: url('../fonts/gotham-thin1-webfont.woff2') format('woff2'),
         url('../fonts/gotham-thin1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/gotham-medium1-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham-light1-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham-bold1-webfont.woff2') format('woff2'),
         url('../fonts/gotham-bold1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/gotham-black1-webfont.woff2') format('woff2'),
         url('../fonts/gotham-black1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Zona Pro';
	src: url('../fonts/ZonaPro-Thin.eot');
	src: url('../fonts/ZonaPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ZonaPro-Thin.woff') format('woff'),
		url('../fonts/ZonaPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Zona Pro';
	src: url('../fonts/ZonaPro-Bold.eot');
	src: url('../fonts/ZonaPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ZonaPro-Bold.woff') format('woff'),
		url('../fonts/ZonaPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?4ytm6g');
    src:    url('../fonts/icomoon.eot?4ytm6g#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4ytm6g') format('truetype'),
        url('../fonts/icomoon.woff?4ytm6g') format('woff'),
        url('../fonts/icomoon.svg?4ytm6g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/muli-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Muli Regular'), local('Muli-Regular'),
    url('../fonts/muli-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/muli-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/muli-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/muli-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/muli-v11-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'hk_grotesk';
    src: url('../fonts/HKGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
    content: "\e900";
}
.icon-2:before {
    content: "\e901";
}
.icon-3:before {
    content: "\e902";
}
.icon-4:before {
    content: "\e903";
}
.icon-5:before {
    content: "\e904";
}
.icon-6:before {
    content: "\e905";
}
.icon-7:before {
    content: "\e906";
}
.icon-Add:before {
    content: "\e907";
}
.icon-Add-02:before {
    content: "\e908";
}
.icon-Arrow-Left:before {
    content: "\e909";
}
.icon-Arrow-Right:before {
    content: "\e90a";
}
.icon-bell:before {
    content: "\e90b";
}
.icon-calendar:before {
    content: "\e90c";
}
.icon-Cancel:before {
    content: "\e90d";
}
.icon-Comment:before {
    content: "\e90e";
}
.icon-Connect:before {
    content: "\e90f";
}
.icon-Cover-Edit:before {
    content: "\e910";
}
.icon-Cross:before {
    content: "\e911";
}
.icon-Date:before {
    content: "\e912";
}
.icon-Doctor:before {
    content: "\e913";
}
.icon-Doctor-02:before {
    content: "\e914";
}
.icon-Done:before {
    content: "\e915";
}
.icon-Dropdown-Arrow:before {
    content: "\e916";
}
.icon-Edit:before {
    content: "\e917";
}
.icon-Edit-link .path1:before {
    content: "\e918";
    color: rgb(0, 0, 0);
}
.icon-Edit-link .path2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-Entertainment:before {
    content: "\e91a";
}
.icon-Event:before {
    content: "\e91b";
}
.icon-Follow:before {
    content: "\e91c";
}
.icon-Fullscreen:before {
    content: "\e91d";
}
.icon-globe:before {
    content: "\e91e";
}
.icon-Image:before {
    content: "\e91f";
}
.icon-Job:before {
    content: "\e920";
}
.icon-Link:before {
    content: "\e921";
}
.icon-Location:before {
    content: "\e922";
}
.icon-lock:before {
    content: "\e923";
}
.icon-Media:before {
    content: "\e924";
}
.icon-Meetup:before {
    content: "\e925";
}
.icon-Message:before {
    content: "\e926";
}
.icon-More:before {
    content: "\e927";
}
.icon-Photo:before {
    content: "\e928";
}
.icon-Post:before {
    content: "\e929";
}
.icon-Question:before {
    content: "\e92a";
}
.icon-quotes:before {
    content: "\e92b";
}
.icon-search:before {
    content: "\e92c";
}
.icon-Setting:before {
    content: "\e92d";
}
.icon-ShareaBlog:before {
    content: "\e92e";
}
.icon-Share:before {
    content: "\e92f";
}
.icon-Tech:before {
    content: "\e930";
}
.icon-Time:before {
    content: "\e931";
}
.icon-User:before {
    content: "\e932";
}
@media screen and (min-width : 960px) {
    /* Filter Icon on Homepage */
    .dash-header-bot .recomended-f.in-menu-info .filter-icon {
        opacity:1;
    }
    .dash-header-bot .recomended-f .filter-icon {
        opacity:0.6;
    }
    .dash-header-bot .recomended-f .filter-icon:hover {
        opacity:1;
    }
}
@media screen and (min-width : 1400px) {
}
@media screen and (min-width : 1200px) {
}
@media screen and (min-width : 992px) and (max-width : 1199px) {
	.sub-head {
		line-height:40px;
		font-size:38px;
	}
}
@media screen and (min-width : 768px) and (max-width : 991px) {
    .sticky-header .custom-nav {
        background: rgba(0, 0, 0, 0.5);
      }
	.in-head .custom-nav {
		padding:05px 10px;
	}
	.in-head .logo {
		width:20%;
	}
    .main-right-user .dropdown-menu:after {
        right:4px;
    }
	.in-head .logo img {
		width:130px;
	}
	.main-right-user {
		/* width: 40%; */
	}
	.dash-middile-nav ul li {
		margin:05px 02px 0;
	}
	.dash-header-top ul li {
		margin:0 07px;
	}

	.dash-middile-nav ul li a {
		font-size:12px;
	}
	.main-serching > .pull-left > span {
		margin:9px 9px 0 0;
	}
	.main-serching > .pull-right {
		width:60%;
	}
	.main-serching {
		width: 40%;
	}
	.main-right-user > ul > li > a {
		padding:0px 10px 0;
	}
	.main-right-user > ul > li::after {
		height:40px;
		top:50%;
		margin-top:-20px;
	}

	.sub-head {
		line-height:35px;
		font-size:32px;
	}

	.drop-two, .drop-two img {
		width:190px;
	}
	.drop-three, .drop-three img {
		width:150px;
	}
	.logo img {
		width:150px;
	}
	.fst-sec .btn {
		font-size:15px;
		width:260px;
	}
	.leader-sec .col-sm-5 {
		width:100%;
	}

	.custom-nav {
		padding:10px 50px;
	}
}
@media screen and (max-width : 767px) {
	.main-user-acti .media-body .posting-day { position: relative !important; display: none !important; }
    
    .sticky-header .custom-nav {
            background: rgba(0, 0, 0, 0.5);
      }
	.in-head .custom-nav {
		padding:05px 10px;
	}
	.in-head .logo {
		width:20%;
	}
	.in-head .logo img {
		width:130px;
	}
	.main-right-user {
		/* width: 40%; */
	}
	.dash-middile-nav ul li {
                font-size:12px;	
        	margin:05px 02px 0;
	}
	.dash-header-top ul li {
		margin:0 07px;
	}

	.dash-middile-nav ul li a {
		font-size:12px;
	}
	.main-serching > .pull-left > span {
		margin:9px 9px 0 0;
	}
	.main-serching > .pull-right {
		width:60%;
	}
	.main-serching {
		width: 40%;
	}
	.dash-header-bot .recomended-f {
		font-size:13px;
		height:30px;
                background-color:#36bf8a;
	}
	.fliterd-by {
		width:125px;
	}
	.dash-right-search select {
		height:30px;
	}
        .relar-job-posr.mCustomScrollbar { height:300px; }	
	.sub-head {
		line-height:30px;
		font-size:26px;
	}
	.top-ban-cont-sec {
		padding:20% 0 0;
	}


    .dash-cate-sec {
            padding: 40px 0 150px;
    }
	.drop-two, .drop-two img {
		width:190px;
	}
	.drop-three, .drop-three img {
		width:150px;
	}
	.logo img {
		width:150px;
	}
	.fst-sec .btn {
		font-size:14px;
		width:220px;
		height:42px;
	}
	.leader-sec .col-sm-5 {
		width:100%;
	}

	.custom-nav {
		padding:10px 50px;
	}
    .niti-details-info {
            width:90%;
            right:-90%;
    }
	.inner-main-bio-det-head h4 {
		font-size: 15px;
	}
	.inner-main-bio-det-head h2 {
		font-size: 25px;
	}
}
@media screen and (max-width : 480px) {
    .main-right-user .dropdown-menu:after {
        right:0px;
        top:-38px;
        height:37px;
        width:38px;
    }
	.in-head .logo {
		width:100%;
		text-align:center;
		border-bottom:1px solid #eee;
	}
	.main-serching {
		width:40%;
	}
	.main-right-user {
		width: 20%;
	}
	.main-serching > .pull-left > span > a {
		font-size:12px;
	}
	.main-serching > .pull-left > span {
		margin:10px 05px 0 0;
	}
	.main-serching > .pull-right {
		
	}
	.input-group-addon {
	    padding: 1px 4px;
	    text-align: right;
	    background-color: #fff !important;
	    border: none;
	    width: 15px;
	}

	.main-right-user .user-profile {
		margin:0px;
		height:30px;
		width:30px;
	}
	.main-right-user ul li a {
		font-size:16px;
		padding:10px 5px 0;
	}
	.main-right-user ul li::after {
		display:none;
	}


	

	
	.sub-head {
		font-size: 16px;
		line-height: 24px;
		margin-bottom:20px;
	}
	.drop-two {
		margin-bottom:30px;
	}
	.logo img, .sticky-header .logo img {
		width:120px;
	}
	.switch-button-case {
		padding:04px 10px;
	}
	.switch-button {
		width:auto;
	}

	.drop-three, .drop-three img {
		width:120px;
	}
	.custom-nav, .sticky-header .custom-nav {
		padding-left:20px;
	}
	.sticky-header .custom-nav {
		background:rgba(0,0,0,0.5);
	}
	.sub-grose-mid-acr{
    		width: 100%;
	}
}

@media screen and (max-device-width: 736px) and (orientation: landscape){
    .sub-grose-mid-acr{
        width: 100%;
    }
    .niti-details-info .top-ban-not {
        display:none;
    }
        .niti-details-info {
                width:50%;
                right:-50%;
        }
}
@media screen and (max-width : 340px) {

	.dash-header-top ul li {
		width:100%;
	}
	.main-serching, .main-right-user {
		width:100%;
		text-align: right;
	}
	.logo, .sticky-header .logo {
		margin:6px 0;
	}
	.logo img, .sticky-header .logo img {
		width:80px;
	}
	.switch-button-case {
		padding:4px;
		font-size:11px;
	}

	.fst-sec .btn {
		width:auto;
	}
}



/* Responsive design for SIGN UP */

/* For Height */
@media screen and (max-device-height: 650px) {
	.models-cust .modal-dialog {
	    top: -55px;
	}
	.inner-socials {
	    padding: 8px;
	}
	.cust-solc {
    	margin: 5px 0;
	}
}
@media screen and (max-device-height: 600px) {
	.main-log-tab .nav-tabs > li > a {
		padding: 5px 0;
	}
	.form-group {
	    margin-bottom: 5px;
	}
}
@media screen and (max-device-height: 575px) {
	.main-log-tab .nav-tabs > li > a {
		font-size: 18px;
	}
	.reg-info {
		margin: 0px;
	}
	.btns-loger {
	    margin-bottom: 15px;
	}
	
}
@media screen and (max-device-height: 500px) {
	.loger-form input {
		height: 34px;
	}
	.log-btn {
		height: 35px;
	}
	.loger-form input {
		height: 34px;
	}
	.log-btn {
		height: 35px;
	}
}

/* For Width */
@media screen and (min-device-width: 300px) and (max-device-width: 400px) {
	.models-cust .modal-dialog {
	    width: 300px;
	}
	.sol-head:before {
	    width: 52px;
	}
	.sol-head:after {
	    width: 52px;
	}
	.or-head:before {
	    width: 110px;
	}
	.or-head:after {
	    width: 110px;
	}
	.reg-info {
		margin: 0px;
	}
}
@media screen and (max-device-width: 299px) {
	.models-cust .modal-dialog {
	    width: unset;
	}
	.reg-info {
		margin: 0px;
	}
}
@media screen and (min-device-width: 280px) and (max-device-width: 299px) {
	.sol-head:before {
	    width: 45px;
	}
	.sol-head:after {
	    width: 45px;
	}
	.or-head:before {
	    width: 105px;
	}
	.or-head:after {
	    width: 105px;
	}
}
@media screen and (min-device-width: 250px) and (max-device-width: 279px) {
	.sol-head:before {
	    width: 35px;
	}
	.sol-head:after {
	    width: 35px;
	}
	.or-head:before {
	    width: 95px;
	}
	.or-head:after {
	    width: 95px;
	}
}
@media screen and (max-device-width: 249px) {
	.cust-solc ul li a {
    	width: 40px;
	}
	.sol-head:before {
	    width: 25px;
	}
	.sol-head:after {
	    width: 25px;
	}
	.or-head:before {
	    width: 85px;
	}
	.or-head:after {
	    width: 85px;
	}
}



/* Responsive design for SEARCH */

/* For Width */
@media (min-width: 600px) {
	.modal-dialog {
	    width: 600px;
	}
}
@media (max-width: 550px) {
	.box-locat input {
		width: 240px;
	}
}
@media (max-width: 500px) {
	.box-locat input {
		width: 190px;
	}
}
@media (max-width: 450px) {
	.medi-head-search, .medi-midl-search, .medi-foot-search {
	    padding-right: 15px;
	    padding-left: 15px;
	}
}
@media (max-width: 380px) {
	.box-locat input {
		width: 160px;
	}
}

/* For Height */
@media (max-height: 600px) {
	.modal-dialog {
	    margin-top: 15px;
	}
}
@media (max-height: 550px) {
	.medi-head-search, .medi-midl-search, .medi-foot-search {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }
}
@media (max-height: 515px) {
	.seling-sorting-grp {
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 10px;
	}
	.box-locat {
	    margin-top: 10px;
	}
	.serter-btns {
    	margin-top: 10px;
    	margin-bottom: 10px;
	}
}
@media (max-height: 480px) {
	.serter-btns {
    	margin-top: 5px;
    	margin-bottom: 5px;
	}
	.boxesss {
		margin: 02px 0;
	}
}