@media screen and (max-device-width: 767px) {
    .collapsible_div {
        margin: 0.5rem 0px 1rem 0px;
    }
}

@media screen and (min-device-width: 768px) {
    .collapsible_div {
        margin: 0.5rem 7px 1rem 10px;
    }
}

.collapsible_div {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
}
.collapsible_div_headline {
    padding-left: 4px;
    cursor: pointer;
}

.collapsible_div_row {
    padding: 2px 20px 0px 20px;
}

.collapsible_div_row:nth-of-type(1) {
    padding: 10px 20px 0px 20px;
}

.collapsible_div_row:last-child {
    padding: 2px 20px 10px 20px;
}

label {
    vertical-align: -webkit-baseline-middle;
}

.job-post-head {
    padding:20px;
    border-radius:4px;
    border:1px solid #eee;
    box-shadow:0 0 3px #eee;
}
.job-post-head .pull-left h2 {
    margin:0px;
    padding:0 0 10px;
    color:#232323;
}
.job-post-head .pull-left span {
    font-size:14px;
    color:#919191;
}
.job-post-head .pull-right .media-body {
    width:auto;
    vertical-align:middle;
}
.job-post-head .pull-right .media .com-losg {
    width:120px;
    border-radius:3px;
    text-align:center;
    vertical-align:middle !important;
}
.job-post-head .pull-right .media .com-losg img {
    max-width:100%;
}
.job-post-head .pull-right .media-body h4 {
    font-family: "gotham_mediumregular";
    font-size:16px;
    color:#232323;
    text-transform:uppercase;
}
.job-post-head .pull-right .media-body p {
    font-size:14px;
    color:#919191;
    text-transform:uppercase;
    margin:0px;
}
.job-post-head .pull-right .media-body p .btn {
    margin:0 0 0 30px;
    background:#fff;
    color:#33bb87;
    font-size:16px;
    padding:03px 20px;
    border:2px solid #33bb87;
    font-family: "gotham_mediumregular";
    text-transform:uppercase;
}
.job-post-art {
    padding:20px;
}
.job-post-art p {
    font-size:15px;
    color:#919191;
    line-height:25px;
}
.job-post-art p b {
    text-transform:uppercase;
}
.job-post-art ul {
    padding-left:20px;
    margin:0px;
}
.job-post-art ul li {
    list-style-type:none;
    position:relative;
    font-size:15px;
    color:#919191;
    margin:12px 0;
    display:block;
}
.job-post-art ul li:after {
    position:absolute;
    left:-20px;
    top:06px;
    height:10px;
    width:10px;
    border-radius:50%;
    border:2px solid #919191;
    content:'';
}
.job-post-art .form-horizontal {
    color:#919191;
    line-height:20px;
}
.job-post-art .form-horizontal .row {
    margin:05px 0;
}
.job-post-art .form-horizontal label {
    text-transform:uppercase;
}
.job-post-art .form-horizontal a {
    color:#000;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.job-post-art .form-horizontal a:hover {
    color:#33bb87;
}
.job-quali-art {
}
.job-quali-art ul {
    padding:0px;
    margin:0px;
}
.job-quali-art ul li {
    list-style-type:none;
    font-size:16px;
    color:#919191;
    text-align:center;
    width:100%;
    display:block;
    padding:10px 0;
    border-bottom:1px solid #eee;
}
.job-quali-art ul li b {
    text-transform:uppercase;
    margin-bottom:02px;
    display:block;
}
.job-quali-art ul li p {
    font-size:15px;
    margin:0px;
}
.job-quali-art ul li:last-child {
    border-bottom:none;
}
.salary-post-job p {
    margin:0px;
    text-align:center;
    font-size:15px;
}
.pros-job-bt-gr {
    margin:0 0 10px;
}
.pros-job-bt-gr .btn-group, .pros-job-bt-gr .dropdown-menu {
    width:100%;
}
.pros-job-bt-gr .dropdown-menu {
    text-align:center;
}
.pros-job-bt-gr .btn {
    background:#e5e5e5;
    color:#232323;
    font-family: "gotham_mediumregular";
    font-size:15px;
    text-transform:uppercase;
    width:100%;
    border:1px solid #e5e5e5;
    box-shadow:0 0 3px #eee;
}
    .art-joint-btn .repot {
        background:#33bb87;
        color:#fff;
        border-right:none !important;
        padding:7px;
    }
    .salary-post-job{
        text-align: center;
    }
.btn-group.sat-btn-group.boter-texter-feat {
    margin-bottom: 10px;
    margin-top: 20px;
}
