/* Events Calendar contain */
.atg-events-calendar.full .atg-events-calendar-wrap {
	margin: 25px 0 40px 0;
	border: 1px solid #dedade;
    box-shadow: 0 0 5px 2px rgba(145,145,145,.35);
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Calendar */
.atg-calendar-full .calendar-table {
	margin-bottom: 0 !important;
}
.atg-calendar-full .calendar-title , .atg-calendar-full .calendar-btn {
	text-align: center !important;
	background: #5AA4A3;
	color: #ffffff;
	height: 30px;
	vertical-align: middle !important;
}
.atg-calendar-full .calendar-btn {
	padding: 0 !important;
}
.atg-calendar-full .calendar-btn span {
	cursor: pointer;
	font-size: 13px !important;
}
.atg-calendar-full .calendar-title  {
	font-size: 15px;
	font-weight: bold;
	padding-top: 12px !important;
	padding-left: 30px !important;
}
.atg-calendar-full .calendar-title span {
	position: relative;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}
.atg-calendar-full .calendar-title i {
	position: absolute;
	left: -22px;
	top: -1px;
}
.atg-calendar-full .calendar-table tr th {
	text-align: center;
	color: #5AA4A3;
	background: #eeeeee;
	font-size: 14px;
}
.atg-calendar-full .calendar-table tr th, .atg-calendar-full .calendar-table tr td {
	width: 14.285714285714285%;
}
.atg-calendar-full .calendar-day-blank {
	background: #f6f6f6;
}
.atg-calendar-full .calendar-day-normal {
	height: 60px;
	font-size: 16px;
	text-align: right !important;
	padding: 6px 10px !important;
	color: #666;
}
.atg-calendar-full .calendar-day-today {
	background: #d5e9e9;
}
.atg-calendar-full .calendar-day-weekend {
	color: #ef4f69;
	line-height: 20px;
	font-size: 16px;
}
.atg-calendar-full .calendar-event-name {
	color: #ffffff;
	background: #567BD2;
	font-size: 11px;
	margin-top: 5px;
	text-align: center;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	line-height: 20px;
	padding: 0 3px;
	cursor: pointer;
}
.atg-calendar-full .calendar-event-name span {
	color: #ffffff;
	font-size: 11px;
	line-height: 20px;
}
.atg-calendar-full .calendar-event-name.no-name {
	opacity: 0;
	visibility: hidden;
}
.atg-calendar-full .calendar-event-name.color-1 {
	background: #567BD2;
}
.atg-calendar-full .calendar-event-name.color-2 {
	background: #13baff;
}
.atg-calendar-full .calendar-event-name.color-3 {
	background: #669933;
}
.atg-calendar-full .calendar-event-name.color-4 {
	background: #ff8a23;
}
.atg-calendar-full .calendar-event-name.color-5 {
	background: #13baff;
}
.atg-calendar-full .calendar-event-name.first-day {
	margin-right: -11px;
	-moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
.atg-calendar-full .calendar-event-name.middle-day {
	margin-left: -11px;
	margin-right: -11px;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.atg-calendar-full .calendar-event-name.middle-day span {
	opacity: 0;	
}
.atg-calendar-full .calendar-event-name.last-day {
	margin-left: -11px;
	-moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}
.atg-calendar-full .calendar-event-name.last-day span {
	opacity: 0;	
}

/* Event list */
.atg-event-list-full {
	padding: 15px;
	background: #eeeeee;
	display: none;
}
.atg-event-list-full .event-item {
	width: 100%;
	border-top: 1px dotted #666;
	margin-top: 20px;
	padding-top: 20px;
}
.atg-event-list-full .event-item:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.atg-event-list-full .event-item-left {
	width: 20%;
	margin-right: 2%;
}
.atg-event-list-full .event-item-right {
	width: 78%;
}
.atg-event-list-full .event-image img {
	width: 100%;
	border: 1px solid #eee;
}
.atg-event-list-full .event-name {
	font-size: 17px;
	color: #5AA4A3;
	margin-bottom: 4px;
}
.atg-event-list-full .event-time, .atg-event-list-full .event-date {
	margin-bottom: 3px;
	color: #ef4f69;
	font-size: 13px;
}
.atg-event-list-full .event-time i, .atg-event-list-full .event-date i {
	margin-right: 5px;
}
.atg-event-list-full .event-intro {
	color: #666;
	font-size: 14px;
}
.atg-event-list-full .link {
	cursor: pointer;
}

/* Event detail */
.atg-view-event-full {
	padding: 15px;
	background: #eeeeee;
	display: none;
}
.atg-view-event-full .event-image {
	text-align: center;
	margin-bottom: 20px;
}
.atg-view-event-full .event-image img {
	max-width: 100%;
	border: 1px solid #eee;
}
.atg-view-event-full .event-name {
	font-size: 22px;
    color: #5AA4A3;
    margin-bottom: 15px;
}
.atg-view-event-full .event-time, .atg-view-event-full .event-date, .atg-view-event-full .event-location {
	margin-bottom: 5px;
	color: #666;
	font-size: 14px;
}
.atg-view-event-full .event-time i, .atg-view-event-full .event-date i, .atg-view-event-full .event-location i {
	margin-right: 5px;
	width: 14px;
}
.atg-view-event-full .event-location i {
	font-size: 18px;
}
.atg-view-event-full .event-desc {
	color: #666;
	border-top: 1px solid #e2e2e2;
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 22px;
	line-height: 22px;
	font-size: 14px;
}
.atg-view-event-full .event-link {
	margin-bottom: 30px;
}
.atg-view-event-full .event-link a {
	color: #fff;
    background: #5AA4A3;
    padding: 8px 10px 8px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    border: 0;
	cursor: pointer;
	position: relative;
}
.atg-view-event-full .event-link a:hover {
	text-decoration: none;
}
.atg-view-event-full .event-link a i {
	margin-right: 5px;
}

/* Responsive */
@media (min-width: 768px) {
	.atg-event-list-full .event-item-left {
		margin-right: 2% !important;
	}
	.atg-event-list-full .event-item-left.pull-left, .atg-event-list-full .event-item-right.pull-left {
		float: left !important;
	}
}
@media (max-width: 768px) {
	.atg-calendar-full .btn-change-date {
		display: none;
	}
	.atg-calendar-full .calendar-day-normal, .atg-calendar-full .calendar-day-blank {
		padding: 2px !important;
	}
	.atg-calendar-full .calendar-table tr th {
		padding: 5px 3px !important;
	}
	.atg-event-list-full .event-item-left {
		margin-bottom: 10px !important;
	}
	.atg-event-list-full .event-item-left, .atg-event-list-full .event-item-right {
		width: 100%;
	}
}
